<script type="text/javascript" src="${basePath}/js/jquery.min.js"></script>
<script type="text/javascript" src="${basePath}/js/md5.min.js"></script>
<script type="text/javascript" src="${basePath}/js/sg.js"></script>
<script type="text/javascript" src="${basePath}/js/sgutil.js"></script>
<script type="text/javascript" src="${basePath}/js/vue.js"></script>
<script type="text/javascript" src="${basePath}/js/vue-resource.js"></script>
<script type="text/javascript" src="${basePath}/js/admin.js"></script>