<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rumo.mapper.RolePermissionMapper" >
	
	
	
	<select id="findByRoleUserPermission" resultType="java.util.Map" parameterType="int">
		SELECT
			rp.id,
			rp.url,
			rp.code,
			rp.type
		FROM
			rumo_permission rp,
			(
				SELECT
					permission_id
				FROM
					rumo_role_permission
				WHERE
					role_id IN (
						SELECT
							ro.id
						FROM
							rumo_role ro,
							(
								SELECT
									*
								FROM
									rumo_role_user
								WHERE
									user_id = #{uid}
							) c
						WHERE
							ro.id = c.role_id
					)
			) rpc
		WHERE
			rpc.permission_id = rp.id
		AND rp.status = 1
	</select>


</mapper>