<link rel="shortcut icon" href="">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="renderer" content="webkit">
<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="css/font-awesome.min.css" rel="stylesheet" media="all">
<link type="text/css" href="css/main.css" rel="stylesheet" media="all">
<!-- 引入ztree.css样式 -->
<link rel="stylesheet" href="css/component.css" type="text/css">