<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	a{text-decoration: none;color:#333;}
</style>	
</head>
<body>

	<div class="container" style="padding:30px;margin:0 auto;width:640px;background:#eee;"> 
		<table cellspacing="0" cellpadding="0" width="500px" align="center"
			style="padding: 30px 40px 30px 40px">
			<tbody>
				<tr>
					<td style="text-align: center;"><h1><a href="http://www.itbooking.net">濡沫教育-注册提示</a></h1></td>
				</tr>
				<tr>
					<td style="text-align: center;">活动注册邮箱是：${email}</td>
					<td style="text-align: center;">注册码：${code}</td>
				</tr>
			</tbody>
		</table>
	</div>	

</body>
</html>