<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rumo.mapper.CommentMapper" >
  
 	 <resultMap id="BaseResultMap" type="com.rumo.pojo.Comment" >
	      <id property="id" column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
	      <result property="content" column="content" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
	      <result property="createTime" column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
	      <result property="userId" column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
	      <result property="ip" column="ip" jdbcType="VARCHAR" javaType="java.lang.String" />
	      <result property="isDelete" column="is_delete" jdbcType="INTEGER" javaType="java.lang.Integer" />
	      <result property="status" column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
	      <result property="contentId" column="content_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
	      <result property="isTop" column="is_top" jdbcType="INTEGER" javaType="java.lang.Integer" />
	      <result property="updateTime" column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
	      <result property="parentId" column="parent_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
	      <result property="replyUserid" column="reply_userid" jdbcType="INTEGER" javaType="java.lang.Integer" />
	      <result property="score" column="score" jdbcType="REAL" javaType="java.lang.Float" />
  	</resultMap>
  
  	<sql id="Base_Column_List">
  		id,content,create_time,user_id,ip,is_delete,status,content_id,is_top,update_time,parent_id,reply_userid,score
  	</sql>
  	
  	<select id="queryCommentAll" resultMap="BaseResultMap" parameterType="com.rumo.vo.CommentVo">
  		SELECT
			<include refid="Base_Column_List"></include>
		FROM
			keke_comment
		<where>
			 <if test="id!=null"> and id = #{id,jdbcType=INTEGER}</if>
			 <if test="content!=null and content!=''"> and content = #{content,jdbcType=LONGVARCHAR}</if>
			 <if test="createTime!=null"> and create_time = now()</if>
			 <if test="userId!=null"> and user_id = #{userId,jdbcType=INTEGER}</if>
			 <if test="ip!=null and ip!=''"> and ip = #{ip,jdbcType=VARCHAR}</if>
			 <if test="isDelete!=null"> and is_delete = #{isDelete,jdbcType=INTEGER}</if>
			 <if test="status!=null"> and status = #{status,jdbcType=INTEGER}</if>
			 <if test="contentId!=null"> and content_id = #{contentId,jdbcType=INTEGER}</if>
			 <if test="isTop!=null"> and is_top = #{isTop,jdbcType=INTEGER}</if>
			 <if test="updateTime!=null"> and update_time = now()</if>
			 <if test="parentId!=null"> and parent_id = #{parentId,jdbcType=INTEGER}</if>
			 <if test="replyUserid!=null"> and reply_userid = #{replyUserid,jdbcType=INTEGER}</if>
			 <if test="score!=null"> and score = #{score,jdbcType=REAL}</if>
		</where>	
  	</select>
  
  	<select id="getCommentById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  		SELECT
			<include refid="Base_Column_List"></include>
		FROM
			keke_comment
		WHERE
			id = #{id,jdbcType=INTEGER}
  	</select>
  	
  	<insert id="saveComment" flushCache="true" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
  		insert into keke_comment (content,create_time,user_id,ip,is_delete,status,content_id,is_top,update_time,parent_id,reply_userid,score)values(#{content,jdbcType=LONGVARCHAR},now(),#{userId,jdbcType=INTEGER},#{ip,jdbcType=VARCHAR},#{isDelete,jdbcType=INTEGER},#{status,jdbcType=INTEGER},#{contentId,jdbcType=INTEGER},#{isTop,jdbcType=INTEGER},now(),#{parentId,jdbcType=INTEGER},#{replyUserid,jdbcType=INTEGER},#{score,jdbcType=REAL})
  	</insert>
  	
  	<update id="updateComment" parameterType="com.rumo.pojo.Comment" flushCache="true">
  		update keke_comment 
  		<set>
			<if test="id!=null">id = #{id,jdbcType=INTEGER},</if>
			<if test="content!=null and content!=''">content = #{content,jdbcType=LONGVARCHAR},</if>
			<if test="createTime!=null">create_time = now(),</if>
			<if test="userId!=null">user_id = #{userId,jdbcType=INTEGER},</if>
			<if test="ip!=null and ip!=''">ip = #{ip,jdbcType=VARCHAR},</if>
			<if test="isDelete!=null">is_delete = #{isDelete,jdbcType=INTEGER},</if>
			<if test="status!=null">status = #{status,jdbcType=INTEGER},</if>
			<if test="contentId!=null">content_id = #{contentId,jdbcType=INTEGER},</if>
			<if test="isTop!=null">is_top = #{isTop,jdbcType=INTEGER},</if>
			<if test="updateTime!=null">update_time = now(),</if>
			<if test="parentId!=null">parent_id = #{parentId,jdbcType=INTEGER},</if>
			<if test="replyUserid!=null">reply_userid = #{replyUserid,jdbcType=INTEGER},</if>
			<if test="score!=null">score = #{score,jdbcType=REAL},</if>
  		</set>
  		where id = #{id ,jdbcType=INTEGER}
  	</update>
  	
  	<delete id="deleteCommentById" flushCache="true">
  		delete from keke_comment where id = #{id,jdbcType=INTEGER}
  	</delete>
  	
 </mapper>	