<!DOCTYPE html>
<html class="theme-next use-motion">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<link rel="shortcut icon" href="http://localhost:8080/img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="http://localhost:8080/css/main.css">
<link rel="stylesheet" href="http://localhost:8080/css/compoment.css?4bf3b5f">
<script>var basePath="http://localhost:8080";var adminPath="http://localhost:8080/admin";</script><script type="text/javascript" src="http://localhost:8080/js/jquery.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/md5.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/sg.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/sgutil.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/admin.js"></script><title>pick王菊？作为“菊外人”的程序员能做点什么？-中华墨风-'s Zone</title>
<meta name="description" content="最近，想必大家的朋友圈都被“王菊”占领了，打开朋友圈到处可以见到“pick王菊”、“陶渊明”、“菊外人”等字眼，可谓是火的 ...">
<meta name="keywords" content="">
<style>.loadmore{background:#fbfbfb;padding:5px;margin:30px 0;text-align: center;}
	.loadmore a{display: block;border-bottom:0;}
	.rebtn{color:#333;font-size: 12px;}
	.itb-musicboxs,.itb-imgboxs{margin:20px 0px;text-align: center;overflow:hidden;}
	.itb-musicboxs,.itb-imgboxs img{width:100%;}
	.itb-audioboxs{position:absolute;bottom:-3px;left:3px;}
	.playboxs{position:absolute;z-index:3;top:0;left:0;right:0;text-align: center;line-height: auto;bottom:0;}
	.playboxs i{font-size:112px;color:#fff;}
	
</style>
</head>
<body title="双击看详情" data-edit="blog" data-opid="62" data-comment="open">
<div class="container one-column page-home ">
	<div id="pandara-brand" class="my-brand" style="opacity: 1; top: 0px;">
		<div id="space-ship" class="pandara-image  animated rotateInDownRight"></div>
		<div id="planet0" class="pandara-image r animated rotateIn"></div>
		<div id="earth" class="pandara-image animated zoomInUp"></div>
		<!-- <div id="planet1" class="pandara-image animated zoomInDown"></div>
		<div id="planet2" class="pandara-image animated rotateIn"></div>
		<div id="planet3" class="pandara-image animated rotateIn"></div>
		<div id="satellite" class="pandara-image animated zoomInDown"></div>
		<div id="planet4" class="pandara-image animated rotateIn"></div> -->
		<!-- <div id="planet5" class="pandara-image animated rotateInDownRight"></div> -->
		<!-- <div id="planet6" class="pandara-image animated rotateInDownLeft"></div> -->
	</div>  
	<div class="headband"></div>
	<header id="header" class="header" >
		<div class="header-inner ">
			<h1 class="site-meta animated2 fadeInDown">
				<span class="logo-line-before"><i></i></span> <span 
					class="brand" rel="start" style="opacity: 1;"> <span
					class="logo" style="opacity: 1; top: 0px;">
						<i class="icon-logo"></i>
				</span> <span class="site-title"
					style="opacity: 1; top: 0px;"><a href="http://localhost:8080" class="cof" style="border-bottom: none;">中华墨风's zone~~~</a></span>
					<a href="javascript:void(0);" class="loginlink fz14 cof" onclick="mkLogin.loadLogin()">登录</a>
					<a href="javascript:void(0);" class="loginlink fz14 cof" onclick="mkLogin.loadLoginReg()">/&nbsp;注册</a>
					<span id="loginspan" class="fz14"></span>
				</span> 
			
			</h1>
			
			<div class="site-nav-toggle">
				<button>
					<span class="btn-bar"></span> <span class="btn-bar"></span> <span
						class="btn-bar"></span>
				</button>
			</div>
			<nav class="site-nav">
				<ul id="menu" class="menu animated fadeInDown">
					<li class="menu-item menu-item-archives" style="opacity: 1; transform: translateY(0px);"><a class="active" href="http://localhost:8080" rel="section"> <i class="menu-item-icon  fa fa-home"></i> <br> 首页</a></li>
					<li class="menu-item menu-item-archives menu-item-course" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/course" rel="section"> <i class="menu-item-icon  fa fa-bookmark"></i> <br> 课程</a></li>
					<li class="menu-item menu-item-archives menu-item-blog" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/blog" rel="section"> <i class="menu-item-icon  fa fa-map-signs"></i> <br> 故事</a></li>
					<li class="menu-item menu-item-archives menu-item-archives2" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/archives" rel="section"> <i class="menu-item-icon  fa fa-quora"></i> <br> 归档</a></li>
					<li class="menu-item menu-item-tags"
						style="opacity: 1; transform: translateY(0px);"><a
						href="https://gitee.com/kekesam" target="_blank" rel="section"> <i class="menu-item-icon fa fa-git-square"></i>
							<br> Git码云
					</a></li> 
					<li class="menu-item menu-item-about"
						style="opacity: 1; transform: translateY(0px);"><a
						href="http://localhost:8080/about"  target="_blank" rel="section"> <i
							class="menu-item-icon fa fa-user-circle-o"></i> <br> 我是谁˚∆˚
					</a></li> 
				</ul>

			</nav>
		</div>
	</header>	<main id="main" class="main">
	 	<div class="main-inner"style="width: px">
		<div id="content" class="content">
			<div id="posts" class="posts-expand">
				<article class="post post-type-normal animated  fadeIn">
					<header class="post-header">
						<h1 class="post-title">
							<a class="post-title-link" href="http://localhost:8080/blogs/49Sjc27iG562izjGQEvhLI.html">pick王菊？作为“菊外人”的程序员能做点什么？</a>
						</h1>
						<div class="post-meta">
							<span class="post-time"> 发表于 <time
									datetime="2018/07/19 14:05:40">2018/07/19 14:05:40</time>
							</span> <span class="post-category"> &nbsp; | &nbsp; 分类于 :&nbsp;<span><a
									href="http://localhost:8080/search/1" rel="index">
										<span>前端</span>
								</a> </span></span> <span id="busuanzi_container_page_pv"
								style="display: inline;"> &nbsp; | &nbsp; 访客 :&nbsp;<span
								id="bloghits">28</span> &nbsp; 评论 :&nbsp;<a href="#txt_message"
								id="commentnum">0</a>
							</span>
							<span id="editbox"></span>
						</div>
					</header>
					<div class="post-body">
						<div class="itb-imgboxs pr">
						</div>
						<div class="asb asb-post asb-post-01"></div> 
<p>最近，想必大家的朋友圈都被“王菊”占领了，打开朋友圈到处可以见到“pick王菊”、“陶渊明”、“菊外人”等字眼，可谓是火的一塌糊涂。</p> 
<p>作为一个“菊外人”的我“跟风”的去了解了一下到底是怎么回事儿。原来是最近很火的一个节目，大家都在呼吁给一个叫“王菊”的人投票。然后就有各种媒体发文分析“到底王菊是谁？”、“王菊为什么火了？”、“pick王菊给这个社会带来了什么？”等等文章。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/06/juwairen.jpeg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/06/juwairen.jpeg" alt="juwairen" width="1080" height="478" class="aligncenter size-full wp-image-2462"></a></p> 
<p>但是，作为一个程序员，我们看这个世界的角度永远是那么的独特：</p> 
<blockquote> 
 <p>我们是那个浏览网页的时候经常会按ctrl + s的人。</p> 
 <p>我们是那个按下电梯的之后就会忍不住想电梯调度算法的人。</p> 
 <p>我们是那个每次支付宝付款的时候都会考虑二维码的生成逻辑的人。</p> 
</blockquote> 
<p><strong>不管是作为“菊外人”还是“陶渊明”，对于这个“pick王菊”事件，我们的角度是：如何实现一个高并发的投票系统？</strong></p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/06/画.jpg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/06/画.jpg" alt="画" width="956" height="538" class="aligncenter size-full wp-image-2463"></a></p> 
<p>我们需要一个怎样的投票系统？笔者分别浏览了目前创造101的各个投票通道，基本的要求有以下几个：</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/06/rule.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/06/rule.png" alt="rule" width="976" height="218" class="aligncenter size-full wp-image-2460"></a></p> 
<p>1、只有登录用户才能投票 2、每个用户投票数有限 3、不同用户可投票数不同，如Vip会比普通用户的票数多 4、投票是限时的，只有在有效时段内才能投票</p> 
<p>除了以上几个功能性要求外，作为一个开发人员，还需要考虑以下几个非功能性需求：</p> 
<p>1、计数要准确 2、可以处理高并发投票 3、可以处理大量的投票数据 4、要有很好的可用性 5、要把每个人的投票记录下来</p> 
<h3>登录验证</h3> 
<p>投票网站都是需要登录验证的，用户想要进行投票，需要先登录。<strong>目前很多大型网站的登录都采用单点登录（SSO，Single Sign On）技术，SSO是在多个应用系统中，用户只需要登录一次就可以访问所有相互信任的应用系统。它是目前比较流行的企业业务整合的解决方案之一。</strong></p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/06/SSO.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/06/SSO.png" alt="SSO" width="317" height="159" class="aligncenter size-full wp-image-2464"></a></p> 
<p>实现SSO的技术主要有以下几种：</p> 
<p>(1）基于cookies实现。 最简单的单点登录实现方式，是使用cookie作为媒介，存放用户凭证。但是存在几个问题；1、cookies并不安全，2、cookies本身不跨域。3、浏览器对cookies个数和大小有限制。但是，如果想要解决的话，以上三个问题还是可以找到方案的。只不过会让整个方案变得复杂而已。</p> 
<p>(2) Broker-based（基于经纪人），例如Kerberos等；这种技术的特点就是，有一个集中的认证和用户帐号管理的服务器。经纪人给被用于进一步请求的电子的身份存取。中央数据库的使用减少了管理的代价，并为认证提供一个公共和独立的”第三方”。例如Kerberos,Sesame,IBM KryptoKnight（凭证库思想)等。Kerberos是由麻省理工大学发明的安全认证服务，当前版本V5，已经被UNIX和Windows作为默认的安全认证服务集成进操作系统。</p> 
<p>(3) Agent-based（基于代理人）在这种解决方案中，有一个自动地为不同的应用程序认证用户身份的代理程序。这个代理程序需要设计有不同的功能。比如，它可以使用口令表或加密密钥来自动地将认证的负担从用户移开。代理人被放在服务器上面，在服务器的认证系统和客户端认证方法之间充当一个”翻译”。例如SSH等。</p> 
<p>(4) Token-based，例如SecurID,WebID，现在被广泛使用的口令认证，比如FTP,邮件服务器的登录认证，这是一种简单易用的方式，实现一个口令在多种应用当中使用。</p> 
<p>(5) 基于安全断言标记语言（SAML）实现，SAML(Security Assertion Markup Language，安全断言标记语言）的出现大大简化了SSO，并被OASIS批准为SSO的执行标准。开源组织OpenSAML 实现了 SAML 规范。可参考http://www.opensaml.org。</p> 
<p>目前，很多大型网站都采用一个开源的SSO解决方案——CAS，CAS由耶鲁大学开发的单点登录系统（SSO,single sign-on），应用广泛，具有独立于平台的，易于理解，支持代理功能。</p> 
<h3>权限控制</h3> 
<p>在投票网站验证完用户的登录信息之后，紧接着会判断用户的权限，然后根据不同的权限来给用户分配不同的可投票次数。</p> 
<p>关于权限的设计，一直是很多网站都要关心的问题。几乎所有的网站都会有一定的权限要求。</p> 
<p><strong>目前，关于权限设计大部分均采用RBAC理论（Role-Based Access Control），即基于角色的权限访问控制。</strong></p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/06/RBAC.jpg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/06/RBAC.jpg" alt="RBAC" width="1920" height="1080" class="aligncenter size-full wp-image-2465"></a></p> 
<p>RBAC认为权限授权实际上是Who、What、How的问题。在RBAC模型中，Who、What、How构成了访问权限三元组,也就是“Who对What进行How的操作”。</p> 
<p>一个简单的权限系统应该包含以下几个基本元素：</p> 
<p>用户、角色、权限、资源、操作。</p> 
<p><strong>【用户】可以属于多个【角色】。【角色】可以认为是【权限】的合集。【权限】描述的是对【资源】的可【操作】能力。</strong></p> 
<p>比如在“pick王菊”这件事上，虽然大家都是“陶渊明”（王菊的粉丝自称陶渊明，因为陶渊明爱菊花），但是有些用户的角色是VIP用户，有些用户的角色是普通用户。VIP角色的用户在投票权限上就比普通用户更高。</p> 
<h3>限时开启</h3> 
<p>几乎所有的投票活动都是有一个起止时间的，只有在有效时间段内用户才可以参与投票。也就是说，当活动未开始的时候，用户来到投票页面，投票按钮应该是置灰无法点击的，有些网站还会给出倒计时的提示。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/06/倒计时.jpeg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/06/倒计时.jpeg" alt="倒计时" width="447" height="187" class="aligncenter size-full wp-image-2472"></a></p> 
<p>这其中就涉及到很多问题了。如何在时间到达时将按钮点亮呢？用户通过非法手段在有效时间外点击按钮如何处理？到时间后按钮又如何置灰？</p> 
<p>一般情况下，用户访问的投票页面被设计为<strong>静态页面，被缓存在 CDN 与反向代理服务器中，甚至在用户的浏览器上。</strong>所以在投票活动未开始时，用户的刷新页面请求是不会到达应用服务器。<strong>同样，在后端的投票接口中，在接受到用户的投票请求时，也要做时间有效性的校验。</strong></p> 
<p>我们在秒杀商品的静态页面中加入一个 JavaScript 文件引用，它包含投票是否已开始的标志。秒杀开始时，系统会生成一个新的 JavaScript 文件，它会被浏览器加载（刷新页面或定时脚本），这样就能点亮页面中的购买按钮。这个 JavaScript 文件使用随机版本号，确保它不被浏览器、CDN 和反向代理服务器缓存。</p> 
<p>同理，到达活动截止时间的按钮置灰也通过js引用的方式可以解决。</p> 
<h3>准确计数</h3> 
<p>对于一个投票系统来说，最重要的就是计数了。要保证在高并发的情况下用户的投票既不能多也不能少这是一个很大的挑战。</p> 
<p>在“pick王菊”的投票中，计数场景有多处需要。比如对于王菊的票数需要准确的记录下来。还有，会员的已投票次数也要准确的记录下来。这里我们就拿被投票者的票数来举例。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/06/投.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/06/投.png" alt="投" width="629" height="374" class="aligncenter size-full wp-image-2466"></a></p> 
<h3>基于MySql计数</h3> 
<p>我们能想到的最简单的方法就是在MySql数据库表中创建一条记录，记录当前被投票者的票数即可。如：</p> 
<pre><code>CREATE TABLE IF NOT EXISTS `table_user_polls`(
   `id` INT UNSIGNED AUTO_INCREMENT,
   `user_id` bigint NOT NULL,
   `polls` bigint NOT NULL
   PRIMARY KEY ( `runoob_id` )
)ENGINE=InnoDB DEFAULT CHARSET=utf8;
</code></pre> 
<p>当然，这只是一张记录总票数的表。当有用户投票的时候，我们通过修改表中的polls的值来进行：</p> 
<pre><code>update table_user_polls set polls = polls +1 where user_id = "1000";
</code></pre> 
<p>当采用以上的update语句时，基本可以满足简单的票数的递增。但是，一旦有高并发场景的话，就无法满足了。因为多人同时执行这个语句的时候，就会有的人的更新结果丢失。</p> 
<p>这时候，就需要引入锁机制来处理。比如我们增加<a href="http://www.hollischuang.com/archives/934">乐观锁</a>，改进后的update语句如下：</p> 
<pre><code>update table_user_polls set polls = polls +1 where user_id = "1000" and polls = 1000000;
</code></pre> 
<p>在更新table_user_polls表的polls字段的时候，我们先把表中当前的polls值取出，然后作为乐观锁来控制更新，如果发生并发，只会有一个请求可以更新成功。其他请求就会更新失败。</p> 
<p>但是，紧接着又有两个问题来了。</p> 
<h3>数据量太大</h3> 
<p>如果数据量太大怎么办？比如这场“全民Pick王菊”的行动，参与的用户可能有很多很多，而我们要对每个用户的投票数据都持久化下来。这就涉及到一旦数据量过大，就会导致数据库的读写性能急剧下降。</p> 
<p>传统的做法是进行分库分表，把投票表按照一定的维度进行拆分。比如这种投票的场景，我们可以按照投票的用户的userId拆分，对userId取模，根据结果存储到不同的表中。如把所有投票数据拆分到8个库128张表中，路由规则就是<code>userId%128</code>。</p> 
<p>其实，这种单纯的分库分表还有一个另外的问题，虽然投票场景中可能涉及不到。1、<strong>热点数据问题</strong>。如多个热点用户的数据都分到了同一个库甚至同一张表中，就会又给数据库带来巨大压力。2、<strong>数据的二次分表问题</strong>。一旦分表数量不够了，就要再次分表。比如把128张表扩展到256张表，这就麻烦了，需要对原来的1287张表中的数据重新进行拆分，数据迁移到新的256张表中。</p> 
<h3>访问量太大</h3> 
<p>通过分库分表之后，我们暂时解决了数据量大的问题，那么如果遇到访问量大的问题怎么办。<strong>无论是我们的应用、服务器还是数据库等，能承受的QPS(TPS)都是有限的。如果峰值的qps超过了限制，就有可能导致整个系统瘫痪。</strong></p> 
<p>那么如何提高一个服务或者接口的QPS呢，其实一个最简单的方法就是降低响应时间（RT）。当然RT和QPS的关系还会受最佳线程数等影响，但是降低RT也是一个比较有效的办法。如果一个请求，在执行过程中，什么都不需要需要等待，每个操作都可以快速执行（如单纯的在内存中取数、计算等），那么RT就会低很多。</p> 
<p>在程序中，导致请求阻塞的愿意可能有很多，数据库操作可能是其中比较重要的一部分。<strong>虽然我们通过分库的方式增加了数据库的连接数，但是直接操作数据库还是有很大的性能损耗的。</strong></p> 
<p>这时候，就要考虑在持久化存储前面增加缓存了。<strong>在访问数据库之前先访问缓存，如果缓存中没有的话再访问数据库。这样可以减少请求的响应时间，从而提高QPS，进而承载更大的访问量。</strong></p> 
<p>这样做有很大的好处，但是也不是完美的方案。比如这种投票系统，计数更新是非常频繁的，所以要经常失效缓存在重新缓存，缓存和数据库之间的数据一致性问题就体现出来了。</p> 
<p>以上，是通过MySql来进行计数的方案，总结一下：</p> 
<p>优点：便于理解、学习成本低、开发成本也低。 缺点：对大数据量和高并发量支持不友好。</p> 
<h3>基于Redis计数</h3> 
<p>Redis 是目前 NoSQL 领域的当红炸子鸡，它象一把瑞士军刀，小巧、锋利、实用，特别适合解决一些使用传统关系数据库难以解决的问题。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/06/redis.jpeg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/06/redis.jpeg" alt="redis" width="513" height="197" class="aligncenter size-full wp-image-2467"></a></p> 
<p>如果我们使用Redis来实现计数器的话，就相对来说简单一些了。因为Redid提供了一个INCR命令，其使用方法如下：</p> 
<pre><code>redis&gt; SET wangju_polls 20
OK

redis&gt; INCR wangju_polls
(integer) 21

redis&gt; GET wangju_polls   
"21"
</code></pre> 
<p><code>INCR key</code>语法，可以将 key 中储存的数字值增一。如果 key 不存在，那么 key 的值会先被初始化为 0 ，然后再执行 INCR 操作。<strong>最重要的是INCR是一个原子性的自增操作。非常适合用来实现计数器。</strong></p> 
<p>引入了Redis之后，遇到高并发和大数据量的问题解决起来就简单了——堆机器。</p> 
<p>当然，这个方案虽然在很大程度上解决了大数据量和高并发的问题。但是，如果真的是业务量特别巨大，总不能无限制的增加通过增加机器来解决问题吧，机器就是成本啊。</p> 
<p>关于这种问题，微博就遇到了，因为微博的点赞功能和我们的投票功能其实是类似的。明星的一条微博的点赞数可能有几十万，甚至百万以上。有人（<a href="http://blog.cydu.net/weidesign/2012/09/09/weibo-counter-service-design-2/">微博计数器的设计</a>）算过一笔帐：</p> 
<ul> 
 <li> <p>假设 key 为8字节，value为 4字节，通过incr存储的话:</p> 
  <ul> 
   <li>一个 value 通过 createStringObjectFromLongLong 创建一个robj，由于value在LONGMIN 和LONGMAX 之间，所以可以将value用 ptr指针来存储，需要占用 sizeof(robj) = 16 字节;</li> 
   <li>一个key(即微博id) 最长64位数字(Eg: 5612814510546515491)，但通过 sdsdup 以字符串的形式存储，至少需要 8(struct sdshdr)+19+1 = 28字节;</li> 
   <li>为了存到Redis 的dict里面，需要一个dictEntry对象，继续 3*8 = 24字节;</li> 
   <li>放到db-&gt;dict-&gt;ht[0]-&gt;table中存储dictEntry的指针，再要 8个字节; 存储一个64位key，32位value的计数，Redis也至少需要耗费: 16 + 28 + 24 + 8 = 76 字节。</li> 
   <li>1000亿个key全内存的话，就至少需要 100G * 76 = 7.6TB 的内存了(折算76G内存机器也需要100台！)。</li> 
   <li>我们的有效数据其实是 1000亿32位 = <em>400GB</em>，但是却需要7.6TB来存储，内存的有效利用率约为: 400GB/7600GB = 5.3%.</li> 
  </ul> </li> 
</ul> 
<p>总的来说，Redis做为优秀的内存数据结构，接口方便，使用简单，对于小型数据量的中高访问量的计数类服务来说，是一个很不错的选择，但是对于微博计数器这种极端的应用场景，成本还是无法接受！</p> 
<p>所以，微博的点赞功能，其实是在Redis的基础上进行了二次开发。如在数据机构优化、转发和评论数 Value的优化、key的优化、数据的持久化、一致性保证等方面做了很多事情。这里不详细介绍了，感兴趣的同学可以参考<a href="http://blog.cydu.net/weidesign/2012/09/09/weibo-counter-service-design-2/">微博计数器的设计</a></p> 
<h3>其他</h3> 
<h3>避免刷票</h3> 
<p>在创造101的投票规则中，明确规定了：请公平参与点赞，如采用违法或违反赛事规则的点赞行为，将会被收回相关点赞数并追究责任。</p> 
<p>那么，如果我们是这个投票系统的开发，如何有效的避免刷票行为呢？</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/06/刷票.jpeg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/06/刷票.jpeg" alt="刷票" width="400" height="289" class="aligncenter size-full wp-image-2468"></a></p> 
<p>首先，我们要通过设计一个很好的计数器，能够有效的避免高并发请求带来的计数错误。因为投票时可能有很多人使用脚本等构造多条请求，试图来突破限制来多投票。</p> 
<p>其次，还可以通过一些其他限制手段来防止恶意刷票，如限制同一IP的投票次数、限制同一帐号的投票频率等。</p> 
<h3>避免数据溢出</h3> 
<p>据说，在前段时间的MSI比赛前期，MSI的助威活动中，人气选手uzi的票数达到了网站开发人员设置的int的最大值。</p> 
<p>以上只是个传说，我并没有去辩证他的真伪，但是这至少给我们一个提醒，在设计投票系统的时候，要充分的考虑到粉丝们的热情和实力！</p> 
<h3>持久化数据的备份</h3> 
<p>无论最终选用那种方式进行计数，数据的持久化问题都至关重要，一定要做好数据存储的容灾工作。避免由于系统问题导致数据丢失。</p> 
<p>PS：作者并没有在工作中开发过实际的投票系统，以上总结均是基于日常工作中的积累及一些参考资料总结得出。欢迎大家指正与讨论。</p> 
<h3>参考资料</h3> 
<p><a href="http://blog.cydu.net/weidesign/2012/09/09/weibo-counter-service-design-2/">[WeiDesign]微博计数器的设计(下)</a></p> 
<p><a href="http://redisdoc.com/string/incr.html">INCR命令</a></p> 
<p><a href="https://blog.csdn.net/phpservice/article/details/6119493">如何设计一套较完善的网络投票系统</a></p> 
<p><a href="https://baike.baidu.com/item/SSO/3451380">SSO （Single Sign On）</a></p> 
<p class="asb-post-footer"><strong>【公告】</strong><a target="_blank" href="http://www.hollischuang.com/转载说明">版权声明</a></p>(全文完)
<center>
 <img src="http://www.hollischuang.com/wp-content/uploads/2016/01/qrcode_for_gh_4ebd1b130cbe_430-1.jpg" width="300px" height="300px" title="" alt="">欢迎关注HollisChuang微信公众账号
</center>
<p class="post-copyright">如未加特殊说明，此网站文章均为原创，转载必须注明出处。<a href="http://www.hollischuang.com">HollisChuang's Blog</a> » <a href="http://www.hollischuang.com/archives/2459">pick王菊？作为“菊外人”的程序员能做点什么？</a></p><p>此文转自：<a href='http://www.hollischuang.com/archives/2459' target='_blank'>http://www.hollischuang.com/archives/2459</a></p>
						<hr />
						<p class="asb-post-footer tc"><strong>【公告】</strong><a target="_blank" href="http://localhost:8080">版权声明</a></p>
						<div style="text-align: center;padding: 20px 0 10px;margin:20px 0 0px">
						 <img src="http://localhost:8080/qrcode?k=http://localhost:8080/blogs/49Sjc27iG562izjGQEvhLI.html" style="padding: 20px;" width="240px" height="240px" title="" alt=""><br/>欢迎扫描下载《ITbooking.net》APP学习交流平台
						</div>
						<p class="post-copyright tc">如未加特殊说明，此网站文章均为原创，转载必须注明出处。<a href="http://localhost:8080">中华墨风's Blog</a> » </p>
						<p class="post-copyright tc tp4 pr"><a href="http://localhost:8080/blogs/49Sjc27iG562izjGQEvhLI.html">《pick王菊？作为“菊外人”的程序员能做点什么？》</a></p>
					</div>
					<footer class="post-footer">
						<div class="post-eof"></div>
					</footer>
				</article>
				<div class="post-spread"></div>
			</div>
		</div>
		<div class="comments v" id="comments">
			<div class="vwrap">
				<div class="vedit">
					<textarea id="txt_message" maxlength="400" class="veditor vinput" placeholder="Just go go" style=""></textarea>
					<div class="vemojis">
						<i name="grinning" title="grinning">😀</i><i name="smiley"
							title="smiley">😃</i><i name="smile" title="smile">😄</i><i
							name="grin" title="grin">😁</i><i name="laughing"
							title="laughing">😆</i><i name="sweat_smile" title="sweat_smile">😅</i><i
							name="joy" title="joy">😂</i><i name="blush" title="blush">😊</i><i
							name="innocent" title="innocent">😇</i><i name="wink"
							title="wink">😉</i><i name="relieved" title="relieved">😌</i><i
							name="heart_eyes" title="heart_eyes">😍</i><i
							name="kissing_heart" title="kissing_heart">😘</i><i
							name="kissing" title="kissing">😗</i><i
							name="kissing_smiling_eyes" title="kissing_smiling_eyes">😙</i><i
							name="kissing_closed_eyes" title="kissing_closed_eyes">😚</i><i
							name="yum" title="yum">😋</i><i
							name="stuck_out_tongue_winking_eye"
							title="stuck_out_tongue_winking_eye">😜</i><i
							name="stuck_out_tongue_closed_eyes"
							title="stuck_out_tongue_closed_eyes">😝</i><i
							name="stuck_out_tongue" title="stuck_out_tongue">😛</i><i
							name="sunglasses" title="sunglasses">😎</i><i name="smirk"
							title="smirk">😏</i><i name="unamused" title="unamused">😒</i><i
							name="disappointed" title="disappointed">😞</i><i name="pensive"
							title="pensive">😔</i><i name="worried" title="worried">😟</i><i
							name="confused" title="confused">😕</i><i name="persevere"
							title="persevere">😣</i><i name="confounded" title="confounded">😖</i><i
							name="tired_face" title="tired_face">😫</i><i name="weary"
							title="weary">😩</i><i name="angry" title="angry">😠</i><i
							name="rage" title="rage">😡</i><i name="no_mouth"
							title="no_mouth">😶</i><i name="neutral_face"
							title="neutral_face">😐</i><i name="expressionless"
							title="expressionless">😑</i><i name="hushed" title="hushed">😯</i><i
							name="frowning" title="frowning">😦</i><i name="anguished"
							title="anguished">😧</i><i name="open_mouth" title="open_mouth">😮</i><i
							name="astonished" title="astonished">😲</i><i name="dizzy_face"
							title="dizzy_face">😵</i><i name="flushed" title="flushed">😳</i><i
							name="scream" title="scream">😱</i><i name="fearful"
							title="fearful">😨</i><i name="cold_sweat" title="cold_sweat">😰</i><i
							name="cry" title="cry">😢</i><i name="disappointed_relieved"
							title="disappointed_relieved">😥</i><i name="sob" title="sob">😭</i><i
							name="sweat" title="sweat">😓</i><i name="sleepy" title="sleepy">😪</i><i
							name="sleeping" title="sleeping">😴</i><i name="mask"
							title="mask">😷</i><i name="smiling_imp" title="smiling_imp">😈</i><i
							name="smiley_cat" title="smiley_cat">😺</i><i name="smile_cat"
							title="smile_cat">😸</i><i name="joy_cat" title="joy_cat">😹</i><i
							name="heart_eyes_cat" title="heart_eyes_cat">😻</i><i
							name="smirk_cat" title="smirk_cat">😼</i><i name="kissing_cat"
							title="kissing_cat">😽</i><i name="scream_cat"
							title="scream_cat">🙀</i><i name="crying_cat_face"
							title="crying_cat_face">😿</i><i name="pouting_cat"
							title="pouting_cat">😾</i><i name="cat" title="cat">🐱</i><i
							name="mouse" title="mouse">🐭</i><i name="cow" title="cow">🐮</i><i
							name="monkey_face" title="monkey_face">🐵</i><i name="hand"
							title="hand">✋</i><i name="fist" title="fist">✊</i><i name="v"
							title="v">✌️</i><i name="point_up" title="point_up">👆</i><i
							name="point_down" title="point_down">👇</i><i name="point_left"
							title="point_left">👈</i><i name="point_right"
							title="point_right">👉</i><i name="facepunch" title="facepunch">👊</i><i
							name="wave" title="wave">👋</i><i name="clap" title="clap">👏</i><i
							name="open_hands" title="open_hands">👐</i><i name="+1"
							title="+1">👍</i><i name="-1" title="-1">👎</i><i name="ok_hand"
							title="ok_hand">👌</i><i name="pray" title="pray">🙏</i><i
							name="ear" title="ear">👂</i><i name="eyes" title="eyes">👀</i><i
							name="nose" title="nose">👃</i><i name="lips" title="lips">👄</i><i
							name="tongue" title="tongue">👅</i><i name="heart" title="heart">❤️</i><i
							name="cupid" title="cupid">💘</i><i name="sparkling_heart"
							title="sparkling_heart">💖</i><i name="star" title="star">⭐️</i><i
							name="sparkles" title="sparkles">✨</i><i name="zap" title="zap">⚡️</i><i
							name="sunny" title="sunny">☀️</i><i name="cloud" title="cloud">☁️</i><i
							name="snowflake" title="snowflake">❄️</i><i name="umbrella"
							title="umbrella">☔️</i><i name="coffee" title="coffee">☕️</i><i
							name="airplane" title="airplane">✈️</i><i name="anchor"
							title="anchor">⚓️</i><i name="watch" title="watch">⌚️</i><i
							name="phone" title="phone">☎️</i><i name="hourglass"
							title="hourglass">⌛️</i><i name="email" title="email">✉️</i><i
							name="scissors" title="scissors">✂️</i><i name="black_nib"
							title="black_nib">✒️</i><i name="pencil2" title="pencil2">✏️</i><i
							name="x" title="x">❌</i><i name="recycle" title="recycle">♻️</i><i
							name="white_check_mark" title="white_check_mark">✅</i><i
							name="negative_squared_cross_mark"
							title="negative_squared_cross_mark">❎</i><i name="m" title="m">Ⓜ️</i><i
							name="i" title="i">ℹ️</i><i name="tm" title="tm">™️</i><i
							name="copyright" title="copyright">©️</i><i name="registered"
							title="registered">®️</i>
					</div>
					<div class="vinput vpreview" style="display: none">
						<p>试了下 Java OpenCV
							做人脸检测，确实很强大。实现起来非常简单，但是精准度不够。不过应该能满足某些场景，比如相机的自动对焦等。这里分享一下相关的代码。</p>
					</div>
				</div>
				<div class="vcontrol">
					<div class="col col-20" title="Markdown is supported">
						还可以输入：<span class="numtip">400</span>&nbsp;字
					</div>
					<div class="col col-80 text-right">
						<a href="javacript:void(0);" onclick="mkComment.vcontrol(this)" class="vemoji-btn" style="margin-right: 20px;">Emoji</a> 
						<button type="button" @click="saveComment" title="Cmd|Ctrl+Enter" class="vsubmit vbtn">回复</button>
					</div>
				</div>
				<div style="display: none;" class="vmark"></div>
			</div>
			<div class="vinfo" style="display: block;">
				<div class="vcount col">
					<span class="vnum">{{total}}</span> 评论
				</div>
			</div>
			
			
			<div class="vlist" id="vlist_box">
				<div class="vcard" :id="'vcard_'+comment.id"  v-for="(comment,index) in comments">
					<img class="vimg" onerror="imgError(this)" :src="basePath+'/'+comment.headerPic">
					<div class="vh">
						<div class="vhead">
							<span class="vnick">{{comment.username}}</span> <span class="vsys">{{comment.ip}}</span> <span class="vsys">{{comment.osbroswer}}</span>
						</div>
						<div class="vmeta">
							<span class="vtime">{{comment.createTime}} / {{comment.createTime|fomatTime}}</span>
							<span v-if="session_user==15074816437" :index="index" :opid="comment.id" @click="del" class="vat">&nbsp;/&nbsp;删除</span> 
							<span :cid="comment.userId" :at="'@'+comment.username" :opid="comment.id" :index="index" @click="reply" class="vat">回复</span>
						</div>
						<div class="vcontent">
							<p v-html="comment.content"></p>
						</div>
						<div class="vquote">
							<div class="vcard" :id="'vcard_'+ccomment.id" v-for="ccomment in comment.children" >
								<img class="vimg" :src="basePath+'/'+ccomment.headerPic">
								<div class="vhead">
									<span class="vnick">{{ccomment.username}}</span> <span class="vsys">{{ccomment.ip}}</span> <span class="vsys">{{ccomment.osbroswer}}</span>
								</div>
								<div class="vmeta">
									<span class="vtime">{{ccomment.createTime}} / {{ccomment.createTime|fomatTime}}</span> 
									<span v-if="session_user==15074816437" :index="index" :opid="ccomment.id" @click="del" class="vat">&nbsp;/&nbsp;删除</span>
									<span :cid="ccomment.userId" :at="'@'+ccomment.username" :index="index" :opid="comment.id" @click="reply" class="vat">回复</span>
								</div>
								<div class="vcontent">
									<p v-html="ccomment.content"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tc" style="padding:100px;background:#fefefe;" v-if="comments.length==0">暂无评论</div>
				<div v-if="!hasNext" class="loadmore"><a href="javascript:void(0)" @click="loadmore">加载更多({{pages}})</a></div>
				<div v-if="hasNext" class="loadmore animated fadeOut">加载完毕</div>
			</div>
		</div>
	
	</div>
</main>
</div>
<aside id="sidebar" class="sidebar ">
			<div class="sidebar-inner">

				<section class="site-overview">
					<div class="site-author motion-element" itemprop="author"
						itemscope="" itemtype="http://schema.org/Person"
						style="opacity: 1; display: block; transform: translateX(0px);">
				<div class="site-author-avatar"></div>
				<p class="site-author-name" itemprop="name">Pandara</p>
			</div>
			<p class="site-description motion-element" itemprop="description"
				style="opacity: 1; display: block; transform: translateX(0px);">一切皆为年少轻狂之诳语·DeepLearning
				小白</p>
			<nav class="site-state motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">
				<div class="site-state-item site-state-posts">
					<a href="/archives"> <span class="site-state-item-count">92</span>
						<span class="site-state-item-name">日志</span>
					</a>
				</div>

				<div class="site-state-item site-state-categories">
					<a href="/categories"> <span class="site-state-item-count">9</span>
						<span class="site-state-item-name">分类</span>
					</a>
				</div>

				<div class="site-state-item site-state-tags">
					<a href="/tags"> <span class="site-state-item-count">44</span>
						<span class="site-state-item-name">标签</span>
					</a>
				</div>

			</nav>

			<div class="links-of-author motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">

				<span class="links-of-author-item"> <a
					href="https://github.com/PandaraWen" target="_blank">Github</a>
				</span> <span class="links-of-author-item"> <a
					href="https://dribbble.com/PandaraWen" target="_blank">Dribbble</a>
				</span> <span class="links-of-author-item"> <a
					href="https://twitter.com/WenPandara" target="_blank">Twitter</a>
				</span>

			</div>

			<div class="links-of-author motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">

				<p class="site-author-name">基情链接</p>

				<span class="links-of-author-item"> <a
					href="http://aevit.xyz/" target="_blank">Aevit's Lab</a>
				</span> <span class="links-of-author-item"> <a
					href="http://w3ctrain.com" target="_blank">W3cTrain</a>
				</span> <span class="links-of-author-item"> <a
					href="http://mrazy.com" target="_blank">梦灯笼</a>
				</span>

			</div>

		</section>

		<div class="side-bar-foot-decorate">
			<div class="side-bar-man motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);"></div>
			<div class="side-bar-star motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);"></div>
		</div>
	</div>
</aside><footer id="footer" class="footer">
		<div class="footer-inner">
			<div class="copyright">

				© &nbsp; <span itemprop="copyrightYear">2018-2020</span> <span
					class="with-love"> <i class="icon-heart"></i>
				</span> <span class="author" itemprop="copyrightHolder">中华墨风</span>
			</div>

			<div class="powered-by">
				由 <a class="theme-link" href="http://hexo.io">Hexo</a> 强力驱动
			</div>

			<div class="powered-by">湘ICP备16011548号-1</div>

			<div class="theme-info">
				主题 - <a class="theme-link"
					href="https://github.com/iissnan/hexo-theme-next"> NexT </a>
			</div>
		</div>
	</footer>
</div>

<div class="back-to-top" style="display: none;"></div>

<div class="sidebar-toggle">
	<div class="sidebar-toggle-line-wrap">
		<span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
		<span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
		<span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
	</div>
</div>


<!--弹出登录-->
<div id="itbooking-loginbox" class="popup search-popup local-search-popup animated bounceInDown" style="display: none;">
<div class="app-location">
	<h3 class="errorbox animated flipInY" style=""></h3>
	<h2>登录</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<input type="text" class="cctext" id="telephone" autofocus="autofocus" autocomplete="off" placeholder="报上手机" maxlength="11" >
		<input type="password" class="ccron" id="password"   autocomplete="off" placeholder="输入钥匙" maxlength="16">
		<span id="codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" id="code" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<div class="submit"><input type="submit" id="loginbtn" value="Sign in"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadForget();" style="font-size: 16px;">忘记密码 ?</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLoginReg();" style="font-size: 16px;">注册</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>
<style>
	.tipphone{border-radius:20px;color: #fff;position: absolute;width:100px;top:28px;right:10px;font-size: 12px;border-bottom: 0;background:#0bd38a;padding:3px 0 5px;/* display: none; */}
	/* .relocation_box:hover .tipphone{display:block} */
</style>
<!--弹出注册-->
<div id="itbooking-regbox" class="popup search-popup local-search-popup animated bounceInDown">
<div class="app-location relocation_box">
	<h3 class="errorbox animated flipInY" style="position: absolute;font-size:20px;right:0;left:0;margin:0 auto;color:#fff;display: none"></h3>
	<h2>注册</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<span class="tipinputspan" style="position: relative;display: block;">
			<input type="text" class="cctext" id="r_telephone"  autofocus="autofocus" autocomplete="off" placeholder="手机号码" maxlength="11" >
			<a href="javascript:void(0);" id="tipphone_get" class="tipphone">提取短信码</a>
		</span>
		<span class="rred_codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" id="r_code" disabled="disabled" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<span class="rred_codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" disabled="disabled" id="r_phocode" placeholder="输入短信码" maxlength="6">
		</span>
		<span class="rred_codebox"  style="display: none;">
			<input type="password" class="ccron" disabled="disabled" id="r_password"   autocomplete="off" placeholder="输入密码" maxlength="16">
		</span>
		<div class="rred_codebox submit" style="display: none;"><input type="submit" data-isopen="false" id="r_loginbtn" value="Reg in"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadForget();" style="font-size: 16px;">忘记密码 ?</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLogin();" style="font-size: 16px;">登录</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>



<!--弹出忘记密码-->
<div id="itbooking-forgetbox" class="popup search-popup local-search-popup animated bounceInDown"  >
<div class="app-location">
	<h3 class="errorbox animated flipInY" style="position: absolute;font-size:20px;right:0;left:0;margin:0 auto;color:#fff;display: none"></h3>
	<h2>找回密码</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<span style="position: relative;display: block;">
			<input type="text" class="cctext" id="f_telephone" autofocus="autofocus" autocomplete="off" placeholder="手机号码" maxlength="11" >
			<a href="javascript:void(0);" style="border-radius:20px;color: #fff;position: absolute;width:100px;top:28px;right:10px;font-size: 12px;border-bottom: 0;background:#0bd38a;padding:3px 0 5px">提取短信码</a>
		</span>
		<span style="position: relative;display: none;">
			<input type="text" class="ccron" id="f_code" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<span style="position: relative;display: none;">
			<input type="text" class="ccron" id="f_phonecode" placeholder="输入短信码" maxlength="4">
		</span>
		<span style="display: none;">
			<input type="password" class="ccron" id="f_password"   autocomplete="off" placeholder="输入钥匙" maxlength="16">
		</span>
		<div class="submit"><input type="submit" id="f_loginbtn" value="Forget Back"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadLoginReg();" style="font-size: 16px;">注册</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLogin();" style="font-size: 16px;">登录</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>
<script type="text/javascript" src="http://localhost:8080/js/highcode/highlight.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/clipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/vue.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/vue-resource.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/blogcomment.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/player.js"></script>

</body>
</html>
