<!DOCTYPE html>
<html class="theme-next use-motion">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<link rel="shortcut icon" href="http://localhost:8080/img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="http://localhost:8080/css/main.css">
<link rel="stylesheet" href="http://localhost:8080/css/compoment.css?4bf3b5f">
<script>var basePath="http://localhost:8080";var adminPath="http://localhost:8080/admin";</script><script type="text/javascript" src="http://localhost:8080/js/jquery.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/md5.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/sg.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/sgutil.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/admin.js"></script><title>为什么说Java中只有值传递。-中华墨风-'s Zone</title>
<meta name="description" content="最近，在我的知识星球的<直面Java>板块中，给球友们出了这么一道题： 对于初学者来说，要想把这个问题回答正确，是比较难的 ...">
<meta name="keywords" content="">
<style>.loadmore{background:#fbfbfb;padding:5px;margin:30px 0;text-align: center;}
	.loadmore a{display: block;border-bottom:0;}
	.rebtn{color:#333;font-size: 12px;}
	.itb-musicboxs,.itb-imgboxs{margin:20px 0px;text-align: center;overflow:hidden;}
	.itb-musicboxs,.itb-imgboxs img{width:100%;}
	.itb-audioboxs{position:absolute;bottom:-3px;left:3px;}
	.playboxs{position:absolute;z-index:3;top:0;left:0;right:0;text-align: center;line-height: auto;bottom:0;}
	.playboxs i{font-size:112px;color:#fff;}
	
</style>
</head>
<body title="双击看详情" data-edit="blog" data-opid="77" data-comment="open">
<div class="container one-column page-home ">
	<div id="pandara-brand" class="my-brand" style="opacity: 1; top: 0px;">
		<div id="space-ship" class="pandara-image  animated rotateInDownRight"></div>
		<div id="planet0" class="pandara-image r animated rotateIn"></div>
		<div id="earth" class="pandara-image animated zoomInUp"></div>
		<!-- <div id="planet1" class="pandara-image animated zoomInDown"></div>
		<div id="planet2" class="pandara-image animated rotateIn"></div>
		<div id="planet3" class="pandara-image animated rotateIn"></div>
		<div id="satellite" class="pandara-image animated zoomInDown"></div>
		<div id="planet4" class="pandara-image animated rotateIn"></div> -->
		<!-- <div id="planet5" class="pandara-image animated rotateInDownRight"></div> -->
		<!-- <div id="planet6" class="pandara-image animated rotateInDownLeft"></div> -->
	</div>  
	<div class="headband"></div>
	<header id="header" class="header" >
		<div class="header-inner ">
			<h1 class="site-meta animated2 fadeInDown">
				<span class="logo-line-before"><i></i></span> <span 
					class="brand" rel="start" style="opacity: 1;"> <span
					class="logo" style="opacity: 1; top: 0px;">
						<i class="icon-logo"></i>
				</span> <span class="site-title"
					style="opacity: 1; top: 0px;"><a href="http://localhost:8080" class="cof" style="border-bottom: none;">中华墨风's zone~~~</a></span>
					<a href="javascript:void(0);" class="loginlink fz14 cof" onclick="mkLogin.loadLogin()">登录</a>
					<a href="javascript:void(0);" class="loginlink fz14 cof" onclick="mkLogin.loadLoginReg()">/&nbsp;注册</a>
					<span id="loginspan" class="fz14"></span>
				</span> 
			
			</h1>
			
			<div class="site-nav-toggle">
				<button>
					<span class="btn-bar"></span> <span class="btn-bar"></span> <span
						class="btn-bar"></span>
				</button>
			</div>
			<nav class="site-nav">
				<ul id="menu" class="menu animated fadeInDown">
					<li class="menu-item menu-item-archives" style="opacity: 1; transform: translateY(0px);"><a class="active" href="http://localhost:8080" rel="section"> <i class="menu-item-icon  fa fa-home"></i> <br> 首页</a></li>
					<li class="menu-item menu-item-archives menu-item-course" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/course" rel="section"> <i class="menu-item-icon  fa fa-bookmark"></i> <br> 课程</a></li>
					<li class="menu-item menu-item-archives menu-item-blog" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/blog" rel="section"> <i class="menu-item-icon  fa fa-map-signs"></i> <br> 故事</a></li>
					<li class="menu-item menu-item-archives menu-item-archives2" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/archives" rel="section"> <i class="menu-item-icon  fa fa-quora"></i> <br> 归档</a></li>
					<li class="menu-item menu-item-tags"
						style="opacity: 1; transform: translateY(0px);"><a
						href="https://gitee.com/kekesam" target="_blank" rel="section"> <i class="menu-item-icon fa fa-git-square"></i>
							<br> Git码云
					</a></li> 
					<li class="menu-item menu-item-about"
						style="opacity: 1; transform: translateY(0px);"><a
						href="http://localhost:8080/about"  target="_blank" rel="section"> <i
							class="menu-item-icon fa fa-user-circle-o"></i> <br> 我是谁˚∆˚
					</a></li> 
				</ul>

			</nav>
		</div>
	</header>	<main id="main" class="main">
	 	<div class="main-inner"style="width: px">
		<div id="content" class="content">
			<div id="posts" class="posts-expand">
				<article class="post post-type-normal animated  fadeIn">
					<header class="post-header">
						<h1 class="post-title">
							<a class="post-title-link" href="http://localhost:8080/blogs/5GgWDyB89b778PZBmU6MDS.html">为什么说Java中只有值传递。</a>
						</h1>
						<div class="post-meta">
							<span class="post-time"> 发表于 <time
									datetime="2018/07/19 14:05:48">2018/07/19 14:05:48</time>
							</span> <span class="post-category"> &nbsp; | &nbsp; 分类于 :&nbsp;<span><a
									href="http://localhost:8080/search/1" rel="index">
										<span>前端</span>
								</a> </span></span> <span id="busuanzi_container_page_pv"
								style="display: inline;"> &nbsp; | &nbsp; 访客 :&nbsp;<span
								id="bloghits">393</span> &nbsp; 评论 :&nbsp;<a href="#txt_message"
								id="commentnum">0</a>
							</span>
							<span id="editbox"></span>
						</div>
					</header>
					<div class="post-body">
						<div class="itb-imgboxs pr">
						</div>
						<div class="asb asb-post asb-post-01"></div> 
<p>最近，在我的知识星球的&lt;直面Java&gt;板块中，给球友们出了这么一道题：</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/04/question.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/04/question.png" alt="question" width="621" height="302" class="aligncenter size-full wp-image-2276"></a></p> 
<p>对于初学者来说，要想把这个问题回答正确，是比较难的。在第二天整理答案的时候，我发现我竟然无法通过简单的语言把这个事情描述的很容易理解，遗憾的是，我也没有在网上找到哪篇文章可以把这个事情讲解的通俗易懂。所以，就有了我写这篇文章的初衷。这篇文章中，我从什么是方法的实际参数和形式参数开始，给你讲解为什么说Java中只有值传递。</p> 
<h3>辟谣时间</h3> 
<p>关于这个问题，在<a href="https://stackoverflow.com/questions/40480/is-java-pass-by-reference-or-pass-by-value">StackOverflow</a>上也引发过广泛的讨论，看来很多程序员对于这个问题的理解都不尽相同，甚至很多人理解的是错误的。还有的人可能知道Java中的参数传递是值传递，但是说不出来为什么。</p> 
<p>在开始深入讲解之前，有必要纠正一下大家以前的那些错误看法了。如果你有以下想法，那么你有必要好好阅读本文。</p> 
<blockquote> 
 <p>错误理解一：值传递和引用传递，区分的条件是传递的内容，如果是个值，就是值传递。如果是个引用，就是引用传递。</p> 
 <p>错误理解二：Java是引用传递。</p> 
 <p>错误理解三：传递的参数如果是普通类型，那就是值传递，如果是对象，那就是引用传递。</p> 
</blockquote> 
<h3>实参与形参</h3> 
<p>我们都知道，在Java中定义方法的时候是可以定义参数的。比如Java中的main方法，<code>public static void main(String[] args)</code>，这里面的args就是参数。参数在程序语言中分为形式参数和实际参数。</p> 
<blockquote> 
 <p>形式参数：是在定义函数名和函数体的时候使用的参数,目的是用来接收调用该函数时传入的参数。</p> 
 <p>实际参数：在调用有参函数时，主调函数和被调函数之间有数据传递关系。在主调函数中调用一个函数时，函数名后面括号中的参数称为“实际参数”。</p> 
</blockquote> 
<p>简单举个例子：</p> 
<pre><code>public static void main(String[] args) {
    ParamTest pt = new ParamTest();
    pt.sout("Hollis");//实际参数为 Hollis
}

public void sout(String name) { //形式参数为 name
    System.out.println(name);
}
</code></pre> 
<p>实际参数是调用有参方法的时候真正传递的内容，而形式参数是用于接收实参内容的参数。</p> 
<h3>值传递与引用传递</h3> 
<p>上面提到了，当我们调用一个有参函数的时候，会把实际参数传递给形式参数。但是，在程序语言中，这个传递过程中传递的两种情况，即值传递和引用传递。我们来看下程序语言中是如何定义和区分值传递和引用传递的。</p> 
<blockquote> 
 <p>值传递（pass by value）是指在调用函数时将实际参数复制一份传递到函数中，这样在函数中如果对参数进行修改，将不会影响到实际参数。</p> 
 <p>引用传递（pass by reference）是指在调用函数时将实际参数的地址直接传递到函数中，那么在函数中对参数所进行的修改，将影响到实际参数。</p> 
</blockquote> 
<p>有了上面的概念，然后大家就可以写代码实践了，来看看Java中到底是值传递还是引用传递 ，于是，最简单的一段代码出来了：</p> 
<pre><code>public static void main(String[] args) {
    ParamTest pt = new ParamTest();

    int i = 10;
    pt.pass(10);
    System.out.println("print in main , i is " + i);
}

public void pass(int j) {
    j = 20;
    System.out.println("print in pass , j is " + j);
}
</code></pre> 
<p>上面的代码中，我们在pass方法中修改了参数j的值，然后分别在pass方法和main方法中打印参数的值。输出结果如下：</p> 
<pre><code>print in pass , j is 20
print in main , i is 10
</code></pre> 
<p>可见，pass方法内部对name的值的修改并没有改变实际参数i的值。那么，按照上面的定义，有人得到结论：Java的方法传递是值传递。</p> 
<p>但是，很快就有人提出质疑了（哈哈，所以，不要轻易下结论咯。）。然后，他们会搬出以下代码：</p> 
<pre><code>public static void main(String[] args) {
    ParamTest pt = new ParamTest();

    User hollis = new User();
    hollis.setName("Hollis");
    hollis.setGender("Male");
    pt.pass(hollis);
    System.out.println("print in main , user is " + hollis);
}

public void pass(User user) {
    user.setName("hollischuang");
    System.out.println("print in pass , user is " + user);
}
</code></pre> 
<p>同样是一个pass方法，同样是在pass方法内修改参数的值。输出结果如下：</p> 
<pre><code>print in pass , user is User{name='hollischuang', gender='Male'}
print in main , user is User{name='hollischuang', gender='Male'}
</code></pre> 
<p>经过pass方法执行后，实参的值竟然被改变了，那按照上面的引用传递的定义，实际参数的值被改变了，这不就是引用传递了么。于是，根据上面的两段代码，有人得出一个新的结论：Java的方法中，在传递普通类型的时候是值传递，在传递对象类型的时候是引用传递。</p> 
<p>但是，这种表述仍然是错误的。不信你看下面这个参数类型为对象的参数传递：</p> 
<pre><code>public static void main(String[] args) {
    ParamTest pt = new ParamTest();

    String name = "Hollis";
    pt.pass(name);
    System.out.println("print in main , name is " + name);
}

public void pass(String name) {
    name = "hollischuang";
    System.out.println("print in pass , name is " + name);
}
</code></pre> 
<p>上面的代码输出结果为</p> 
<pre><code>print in pass , name is hollischuang
print in main , name is Hollis
</code></pre> 
<p>这又作何解释呢？同样传递了一个对象，但是原始参数的值并没有被修改，难道传递对象又变成值传递了？</p> 
<h3>Java中的值传递</h3> 
<p>上面，我们举了三个例子，表现的结果却不一样，这也是导致很多初学者，甚至很多高级程序员对于Java的传递类型有困惑的原因。</p> 
<p>其实，我想告诉大家的是，上面的概念没有错，只是代码的例子有问题。来，我再来给大家画一下概念中的重点，然后再举几个真正恰当的例子。</p> 
<blockquote> 
 <p>值传递（pass by value）是指在调用函数时将实际参数<code>复制</code>一份传递到函数中，这样在函数中如果对<code>参数</code>进行修改，将不会影响到实际参数。</p> 
 <p>引用传递（pass by reference）是指在调用函数时将实际参数的地址<code>直接</code>传递到函数中，那么在函数中对<code>参数</code>所进行的修改，将影响到实际参数。</p> 
</blockquote> 
<p>那么，我来给大家总结一下，值传递和引用传递之前的区别的重点是什么。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/04/pass.jpg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/04/pass.jpg" alt="pass" width="474" height="73" class="aligncenter size-full wp-image-2289"></a></p> 
<p>我们上面看过的几个pass的例子中，都只关注了实际参数内容是否有改变。如传递的是User对象，我们试着改变他的name属性的值，然后检查是否有改变。其实，在实验方法上就错了，当然得到的结论也就有问题了。</p> 
<p>为什么说实验方法错了呢？这里我们来举一个形象的例子。再来深入理解一下值传递和引用传递，然后你就知道为啥错了。</p> 
<p>你有一把钥匙，当你的朋友想要去你家的时候，如果你<code>直接</code>把你的钥匙给他了，这就是引用传递。这种情况下，如果他对这把钥匙做了什么事情，比如他在钥匙上刻下了自己名字，那么这把钥匙还给你的时候，你自己的钥匙上也会多出他刻的名字。</p> 
<p>你有一把钥匙，当你的朋友想要去你家的时候，你<code>复刻</code>了一把新钥匙给他，自己的还在自己手里，这就是值传递。这种情况下，他对这把钥匙做什么都不会影响你手里的这把钥匙。</p> 
<p>但是，不管上面那种情况，你的朋友拿着你给他的钥匙，进到你的家里，把你家的电视砸了。那你说你会不会受到影响？而我们在pass方法中，改变user对象的name属性的值的时候，不就是在“砸电视”么。</p> 
<p>还拿上面的一个例子来举例，我们<code>真正的改变参数</code>，看看会发生什么？</p> 
<pre><code>public static void main(String[] args) {
    ParamTest pt = new ParamTest();

    User hollis = new User();
    hollis.setName("Hollis");
    hollis.setGender("Male");
    pt.pass(hollis);
    System.out.println("print in main , user is " + hollis);
}

public void pass(User user) {
    user = new User();
    user.setName("hollischuang");
    user.setGender("Male");
    System.out.println("print in pass , user is " + user);
}
</code></pre> 
<p>上面的代码中，我们在pass方法中，改变了user对象，输出结果如下：</p> 
<pre><code>print in pass , user is User{name='hollischuang', gender='Male'}
print in main , user is User{name='Hollis', gender='Male'}
</code></pre> 
<p>我们来画一张图，看一下整个过程中发生了什么，然后我再告诉你，为啥Java中只有值传递。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/04/pass1.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/04/pass1.png" alt="pass1" width="859" height="721" class="aligncenter size-full wp-image-2293"></a></p> 
<p>稍微解释下这张图，当我们在main中创建一个User对象的时候，在堆中开辟一块内存，其中保存了name和gender等数据。然后hollis持有该内存的地址<code>0x123456</code>（图1）。当尝试调用pass方法，并且hollis作为实际参数传递给形式参数user的时候，会把这个地址<code>0x123456</code>交给user，这时，user也指向了这个地址（图2）。然后在pass方法内对参数进行修改的时候，即<code>user = new User();</code>，会重新开辟一块<code>0X456789</code>的内存，赋值给user。后面对user的任何修改都不会改变内存<code>0X123456</code>的内容（图3）。</p> 
<p>上面这种传递是什么传递？肯定不是引用传递，如果是引用传递的话，在<code>user=new User()</code>的时候，实际参数的引用也应该改为指向<code>0X456789</code>，但是实际上并没有。</p> 
<p>通过概念我们也能知道，这里是把实际参数的引用的地址复制了一份，传递给了形式参数。所以，<strong>上面的参数其实是值传递，把实参对象引用的地址当做值传递给了形式参数。</strong></p> 
<p>我们再来回顾下之前的那个“砸电视”的例子，看那个例子中的传递过程发生了什么。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/04/pass21.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/04/pass21.png" alt="pass2" width="832" height="732" class="aligncenter size-full wp-image-2307"></a></p> 
<p>同样的，在参数传递的过程中，实际参数的地址<code>0X1213456</code>被拷贝给了形参，只是，在这个方法中，并没有对形参本身进行修改，而是修改的形参持有的地址中存储的内容。</p> 
<p>所以，值传递和引用传递的区别并不是传递的内容。而是实参到底有没有被复制一份给形参。在判断实参内容有没有受影响的时候，要看传的的是什么，如果你传递的是个地址，那么就看这个地址的变化会不会有影响，而不是看地址指向的对象的变化。就像钥匙和房子的关系。</p> 
<p>那么，既然这样，为啥上面同样是传递对象，传递的String对象和User对象的表现结果不一样呢？我们在pass方法中使用<code>name = "hollischuang";</code>试着去更改name的值，阴差阳错的直接改变了name的引用的地址。因为这段代码，会new一个String，在把引用交给name，即等价于<code>name = new String("hollischuang");</code>。而原来的那个”Hollis”字符串还是由实参持有着的，所以，并没有修改到实际参数的值。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/04/pass3.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/04/pass3.png" alt="pass3" width="515" height="399" class="aligncenter size-full wp-image-2311"></a></p> 
<p><strong>所以说，Java中其实还是值传递的，只不过对于对象参数，值的内容是对象的引用。</strong></p> 
<h3>总结</h3> 
<p>无论是值传递还是引用传递，其实都是一种求值策略(<a href="https://en.wikipedia.org/wiki/Evaluation_strategy">Evaluation strategy</a>)。在求值策略中，还有一种叫做按共享传递(call by sharing)。其实Java中的参数传递严格意义上说应该是按共享传递。</p> 
<blockquote> 
 <p>按共享传递，是指在调用函数时，传递给函数的是实参的地址的拷贝（如果实参在栈中，则直接拷贝该值）。在函数内部对参数进行操作时，需要先拷贝的地址寻找到具体的值，再进行操作。如果该值在栈中，那么因为是直接拷贝的值，所以函数内部对参数进行操作不会对外部变量产生影响。如果原来拷贝的是原值在堆中的地址，那么需要先根据该地址找到堆中对应的位置，再进行操作。因为传递的是地址的拷贝所以函数内对值的操作对外部变量是可见的。</p> 
</blockquote> 
<p>简单点说，Java中的传递，是值传递，而这个值，实际上是对象的引用。</p> 
<p>而按共享传递其实只是按值传递的一个特例罢了。所以我们可以说Java的传递是按共享传递，或者说Java中的传递是值传递。</p> 
<h3>参考资料</h3> 
<p><a href="https://en.wikipedia.org/wiki/Evaluation_strategy">Evaluation strategy</a> <a href="http://chenwenbo.github.io/2016/05/11/%E5%85%B3%E4%BA%8E%E5%80%BC%E4%BC%A0%E9%80%92%E5%92%8C%E5%BC%95%E7%94%A8%E4%BC%A0%E9%80%92/">关于值传递和引用传递</a> <a href="http://menzhongxin.com/2017/02/07/%E6%8C%89%E5%80%BC%E4%BC%A0%E9%80%92-%E6%8C%89%E5%BC%95%E7%94%A8%E4%BC%A0%E9%80%92%E5%92%8C%E6%8C%89%E5%85%B1%E4%BA%AB%E4%BC%A0%E9%80%92/">按值传递、按引用传递、按共享传递</a> <a href="https://stackoverflow.com/questions/40480/is-java-pass-by-reference-or-pass-by-value">Is Java “pass-by-reference” or “pass-by-value”?</a></p> 
<p class="asb-post-footer"><strong>【公告】</strong><a target="_blank" href="http://www.hollischuang.com/转载说明">版权声明</a></p>(全文完)
<center>
 <img src="http://www.hollischuang.com/wp-content/uploads/2016/01/qrcode_for_gh_4ebd1b130cbe_430-1.jpg" width="300px" height="300px" title="" alt="">欢迎关注HollisChuang微信公众账号
</center>
<p class="post-copyright">如未加特殊说明，此网站文章均为原创，转载必须注明出处。<a href="http://www.hollischuang.com">HollisChuang's Blog</a> » <a href="http://www.hollischuang.com/archives/2275">为什么说Java中只有值传递。</a></p><p>此文转自：<a href='http://www.hollischuang.com/archives/2275' target='_blank'>http://www.hollischuang.com/archives/2275</a></p>
						<hr />
						<p class="asb-post-footer tc"><strong>【公告】</strong><a target="_blank" href="http://localhost:8080">版权声明</a></p>
						<div style="text-align: center;padding: 20px 0 10px;margin:20px 0 0px">
						 <img src="http://localhost:8080/qrcode?k=http://localhost:8080/blogs/5GgWDyB89b778PZBmU6MDS.html" style="padding: 20px;" width="240px" height="240px" title="" alt=""><br/>欢迎扫描下载《ITbooking.net》APP学习交流平台
						</div>
						<p class="post-copyright tc">如未加特殊说明，此网站文章均为原创，转载必须注明出处。<a href="http://localhost:8080">中华墨风's Blog</a> » </p>
						<p class="post-copyright tc tp4 pr"><a href="http://localhost:8080/blogs/5GgWDyB89b778PZBmU6MDS.html">《为什么说Java中只有值传递。》</a></p>
					</div>
					<footer class="post-footer">
						<div class="post-eof"></div>
					</footer>
				</article>
				<div class="post-spread"></div>
			</div>
		</div>
		<div class="comments v" id="comments">
			<div class="vwrap">
				<div class="vedit">
					<textarea id="txt_message" maxlength="400" class="veditor vinput" placeholder="Just go go" style=""></textarea>
					<div class="vemojis">
						<i name="grinning" title="grinning">😀</i><i name="smiley"
							title="smiley">😃</i><i name="smile" title="smile">😄</i><i
							name="grin" title="grin">😁</i><i name="laughing"
							title="laughing">😆</i><i name="sweat_smile" title="sweat_smile">😅</i><i
							name="joy" title="joy">😂</i><i name="blush" title="blush">😊</i><i
							name="innocent" title="innocent">😇</i><i name="wink"
							title="wink">😉</i><i name="relieved" title="relieved">😌</i><i
							name="heart_eyes" title="heart_eyes">😍</i><i
							name="kissing_heart" title="kissing_heart">😘</i><i
							name="kissing" title="kissing">😗</i><i
							name="kissing_smiling_eyes" title="kissing_smiling_eyes">😙</i><i
							name="kissing_closed_eyes" title="kissing_closed_eyes">😚</i><i
							name="yum" title="yum">😋</i><i
							name="stuck_out_tongue_winking_eye"
							title="stuck_out_tongue_winking_eye">😜</i><i
							name="stuck_out_tongue_closed_eyes"
							title="stuck_out_tongue_closed_eyes">😝</i><i
							name="stuck_out_tongue" title="stuck_out_tongue">😛</i><i
							name="sunglasses" title="sunglasses">😎</i><i name="smirk"
							title="smirk">😏</i><i name="unamused" title="unamused">😒</i><i
							name="disappointed" title="disappointed">😞</i><i name="pensive"
							title="pensive">😔</i><i name="worried" title="worried">😟</i><i
							name="confused" title="confused">😕</i><i name="persevere"
							title="persevere">😣</i><i name="confounded" title="confounded">😖</i><i
							name="tired_face" title="tired_face">😫</i><i name="weary"
							title="weary">😩</i><i name="angry" title="angry">😠</i><i
							name="rage" title="rage">😡</i><i name="no_mouth"
							title="no_mouth">😶</i><i name="neutral_face"
							title="neutral_face">😐</i><i name="expressionless"
							title="expressionless">😑</i><i name="hushed" title="hushed">😯</i><i
							name="frowning" title="frowning">😦</i><i name="anguished"
							title="anguished">😧</i><i name="open_mouth" title="open_mouth">😮</i><i
							name="astonished" title="astonished">😲</i><i name="dizzy_face"
							title="dizzy_face">😵</i><i name="flushed" title="flushed">😳</i><i
							name="scream" title="scream">😱</i><i name="fearful"
							title="fearful">😨</i><i name="cold_sweat" title="cold_sweat">😰</i><i
							name="cry" title="cry">😢</i><i name="disappointed_relieved"
							title="disappointed_relieved">😥</i><i name="sob" title="sob">😭</i><i
							name="sweat" title="sweat">😓</i><i name="sleepy" title="sleepy">😪</i><i
							name="sleeping" title="sleeping">😴</i><i name="mask"
							title="mask">😷</i><i name="smiling_imp" title="smiling_imp">😈</i><i
							name="smiley_cat" title="smiley_cat">😺</i><i name="smile_cat"
							title="smile_cat">😸</i><i name="joy_cat" title="joy_cat">😹</i><i
							name="heart_eyes_cat" title="heart_eyes_cat">😻</i><i
							name="smirk_cat" title="smirk_cat">😼</i><i name="kissing_cat"
							title="kissing_cat">😽</i><i name="scream_cat"
							title="scream_cat">🙀</i><i name="crying_cat_face"
							title="crying_cat_face">😿</i><i name="pouting_cat"
							title="pouting_cat">😾</i><i name="cat" title="cat">🐱</i><i
							name="mouse" title="mouse">🐭</i><i name="cow" title="cow">🐮</i><i
							name="monkey_face" title="monkey_face">🐵</i><i name="hand"
							title="hand">✋</i><i name="fist" title="fist">✊</i><i name="v"
							title="v">✌️</i><i name="point_up" title="point_up">👆</i><i
							name="point_down" title="point_down">👇</i><i name="point_left"
							title="point_left">👈</i><i name="point_right"
							title="point_right">👉</i><i name="facepunch" title="facepunch">👊</i><i
							name="wave" title="wave">👋</i><i name="clap" title="clap">👏</i><i
							name="open_hands" title="open_hands">👐</i><i name="+1"
							title="+1">👍</i><i name="-1" title="-1">👎</i><i name="ok_hand"
							title="ok_hand">👌</i><i name="pray" title="pray">🙏</i><i
							name="ear" title="ear">👂</i><i name="eyes" title="eyes">👀</i><i
							name="nose" title="nose">👃</i><i name="lips" title="lips">👄</i><i
							name="tongue" title="tongue">👅</i><i name="heart" title="heart">❤️</i><i
							name="cupid" title="cupid">💘</i><i name="sparkling_heart"
							title="sparkling_heart">💖</i><i name="star" title="star">⭐️</i><i
							name="sparkles" title="sparkles">✨</i><i name="zap" title="zap">⚡️</i><i
							name="sunny" title="sunny">☀️</i><i name="cloud" title="cloud">☁️</i><i
							name="snowflake" title="snowflake">❄️</i><i name="umbrella"
							title="umbrella">☔️</i><i name="coffee" title="coffee">☕️</i><i
							name="airplane" title="airplane">✈️</i><i name="anchor"
							title="anchor">⚓️</i><i name="watch" title="watch">⌚️</i><i
							name="phone" title="phone">☎️</i><i name="hourglass"
							title="hourglass">⌛️</i><i name="email" title="email">✉️</i><i
							name="scissors" title="scissors">✂️</i><i name="black_nib"
							title="black_nib">✒️</i><i name="pencil2" title="pencil2">✏️</i><i
							name="x" title="x">❌</i><i name="recycle" title="recycle">♻️</i><i
							name="white_check_mark" title="white_check_mark">✅</i><i
							name="negative_squared_cross_mark"
							title="negative_squared_cross_mark">❎</i><i name="m" title="m">Ⓜ️</i><i
							name="i" title="i">ℹ️</i><i name="tm" title="tm">™️</i><i
							name="copyright" title="copyright">©️</i><i name="registered"
							title="registered">®️</i>
					</div>
					<div class="vinput vpreview" style="display: none">
						<p>试了下 Java OpenCV
							做人脸检测，确实很强大。实现起来非常简单，但是精准度不够。不过应该能满足某些场景，比如相机的自动对焦等。这里分享一下相关的代码。</p>
					</div>
				</div>
				<div class="vcontrol">
					<div class="col col-20" title="Markdown is supported">
						还可以输入：<span class="numtip">400</span>&nbsp;字
					</div>
					<div class="col col-80 text-right">
						<a href="javacript:void(0);" onclick="mkComment.vcontrol(this)" class="vemoji-btn" style="margin-right: 20px;">Emoji</a> 
						<button type="button" @click="saveComment" title="Cmd|Ctrl+Enter" class="vsubmit vbtn">回复</button>
					</div>
				</div>
				<div style="display: none;" class="vmark"></div>
			</div>
			<div class="vinfo" style="display: block;">
				<div class="vcount col">
					<span class="vnum">{{total}}</span> 评论
				</div>
			</div>
			
			
			<div class="vlist" id="vlist_box">
				<div class="vcard" :id="'vcard_'+comment.id"  v-for="(comment,index) in comments">
					<img class="vimg" onerror="imgError(this)" :src="basePath+'/'+comment.headerPic">
					<div class="vh">
						<div class="vhead">
							<span class="vnick">{{comment.username}}</span> <span class="vsys">{{comment.ip}}</span> <span class="vsys">{{comment.osbroswer}}</span>
						</div>
						<div class="vmeta">
							<span class="vtime">{{comment.createTime}} / {{comment.createTime|fomatTime}}</span>
							<span v-if="session_user==15074816437" :index="index" :opid="comment.id" @click="del" class="vat">&nbsp;/&nbsp;删除</span> 
							<span :cid="comment.userId" :at="'@'+comment.username" :opid="comment.id" :index="index" @click="reply" class="vat">回复</span>
						</div>
						<div class="vcontent">
							<p v-html="comment.content"></p>
						</div>
						<div class="vquote">
							<div class="vcard" :id="'vcard_'+ccomment.id" v-for="ccomment in comment.children" >
								<img class="vimg" :src="basePath+'/'+ccomment.headerPic">
								<div class="vhead">
									<span class="vnick">{{ccomment.username}}</span> <span class="vsys">{{ccomment.ip}}</span> <span class="vsys">{{ccomment.osbroswer}}</span>
								</div>
								<div class="vmeta">
									<span class="vtime">{{ccomment.createTime}} / {{ccomment.createTime|fomatTime}}</span> 
									<span v-if="session_user==15074816437" :index="index" :opid="ccomment.id" @click="del" class="vat">&nbsp;/&nbsp;删除</span>
									<span :cid="ccomment.userId" :at="'@'+ccomment.username" :index="index" :opid="comment.id" @click="reply" class="vat">回复</span>
								</div>
								<div class="vcontent">
									<p v-html="ccomment.content"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tc" style="padding:100px;background:#fefefe;" v-if="comments.length==0">暂无评论</div>
				<div v-if="!hasNext" class="loadmore"><a href="javascript:void(0)" @click="loadmore">加载更多({{pages}})</a></div>
				<div v-if="hasNext" class="loadmore animated fadeOut">加载完毕</div>
			</div>
		</div>
	
	</div>
</main>
</div>
<aside id="sidebar" class="sidebar ">
			<div class="sidebar-inner">

				<section class="site-overview">
					<div class="site-author motion-element" itemprop="author"
						itemscope="" itemtype="http://schema.org/Person"
						style="opacity: 1; display: block; transform: translateX(0px);">
				<div class="site-author-avatar"></div>
				<p class="site-author-name" itemprop="name">Pandara</p>
			</div>
			<p class="site-description motion-element" itemprop="description"
				style="opacity: 1; display: block; transform: translateX(0px);">一切皆为年少轻狂之诳语·DeepLearning
				小白</p>
			<nav class="site-state motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">
				<div class="site-state-item site-state-posts">
					<a href="/archives"> <span class="site-state-item-count">92</span>
						<span class="site-state-item-name">日志</span>
					</a>
				</div>

				<div class="site-state-item site-state-categories">
					<a href="/categories"> <span class="site-state-item-count">9</span>
						<span class="site-state-item-name">分类</span>
					</a>
				</div>

				<div class="site-state-item site-state-tags">
					<a href="/tags"> <span class="site-state-item-count">44</span>
						<span class="site-state-item-name">标签</span>
					</a>
				</div>

			</nav>

			<div class="links-of-author motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">

				<span class="links-of-author-item"> <a
					href="https://github.com/PandaraWen" target="_blank">Github</a>
				</span> <span class="links-of-author-item"> <a
					href="https://dribbble.com/PandaraWen" target="_blank">Dribbble</a>
				</span> <span class="links-of-author-item"> <a
					href="https://twitter.com/WenPandara" target="_blank">Twitter</a>
				</span>

			</div>

			<div class="links-of-author motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">

				<p class="site-author-name">基情链接</p>

				<span class="links-of-author-item"> <a
					href="http://aevit.xyz/" target="_blank">Aevit's Lab</a>
				</span> <span class="links-of-author-item"> <a
					href="http://w3ctrain.com" target="_blank">W3cTrain</a>
				</span> <span class="links-of-author-item"> <a
					href="http://mrazy.com" target="_blank">梦灯笼</a>
				</span>

			</div>

		</section>

		<div class="side-bar-foot-decorate">
			<div class="side-bar-man motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);"></div>
			<div class="side-bar-star motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);"></div>
		</div>
	</div>
</aside><footer id="footer" class="footer">
		<div class="footer-inner">
			<div class="copyright">

				© &nbsp; <span itemprop="copyrightYear">2018-2020</span> <span
					class="with-love"> <i class="icon-heart"></i>
				</span> <span class="author" itemprop="copyrightHolder">中华墨风</span>
			</div>

			<div class="powered-by">
				由 <a class="theme-link" href="http://hexo.io">Hexo</a> 强力驱动
			</div>

			<div class="powered-by">湘ICP备16011548号-1</div>

			<div class="theme-info">
				主题 - <a class="theme-link"
					href="https://github.com/iissnan/hexo-theme-next"> NexT </a>
			</div>
		</div>
	</footer>
</div>

<div class="back-to-top" style="display: none;"></div>

<div class="sidebar-toggle">
	<div class="sidebar-toggle-line-wrap">
		<span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
		<span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
		<span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
	</div>
</div>


<!--弹出登录-->
<div id="itbooking-loginbox" class="popup search-popup local-search-popup animated bounceInDown" style="display: none;">
<div class="app-location">
	<h3 class="errorbox animated flipInY" style=""></h3>
	<h2>登录</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<input type="text" class="cctext" id="telephone" autofocus="autofocus" autocomplete="off" placeholder="报上手机" maxlength="11" >
		<input type="password" class="ccron" id="password"   autocomplete="off" placeholder="输入钥匙" maxlength="16">
		<span id="codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" id="code" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<div class="submit"><input type="submit" id="loginbtn" value="Sign in"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadForget();" style="font-size: 16px;">忘记密码 ?</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLoginReg();" style="font-size: 16px;">注册</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>
<style>
	.tipphone{border-radius:20px;color: #fff;position: absolute;width:100px;top:28px;right:10px;font-size: 12px;border-bottom: 0;background:#0bd38a;padding:3px 0 5px;/* display: none; */}
	/* .relocation_box:hover .tipphone{display:block} */
</style>
<!--弹出注册-->
<div id="itbooking-regbox" class="popup search-popup local-search-popup animated bounceInDown">
<div class="app-location relocation_box">
	<h3 class="errorbox animated flipInY" style="position: absolute;font-size:20px;right:0;left:0;margin:0 auto;color:#fff;display: none"></h3>
	<h2>注册</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<span class="tipinputspan" style="position: relative;display: block;">
			<input type="text" class="cctext" id="r_telephone"  autofocus="autofocus" autocomplete="off" placeholder="手机号码" maxlength="11" >
			<a href="javascript:void(0);" id="tipphone_get" class="tipphone">提取短信码</a>
		</span>
		<span class="rred_codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" id="r_code" disabled="disabled" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<span class="rred_codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" disabled="disabled" id="r_phocode" placeholder="输入短信码" maxlength="6">
		</span>
		<span class="rred_codebox"  style="display: none;">
			<input type="password" class="ccron" disabled="disabled" id="r_password"   autocomplete="off" placeholder="输入密码" maxlength="16">
		</span>
		<div class="rred_codebox submit" style="display: none;"><input type="submit" data-isopen="false" id="r_loginbtn" value="Reg in"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadForget();" style="font-size: 16px;">忘记密码 ?</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLogin();" style="font-size: 16px;">登录</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>



<!--弹出忘记密码-->
<div id="itbooking-forgetbox" class="popup search-popup local-search-popup animated bounceInDown"  >
<div class="app-location">
	<h3 class="errorbox animated flipInY" style="position: absolute;font-size:20px;right:0;left:0;margin:0 auto;color:#fff;display: none"></h3>
	<h2>找回密码</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<span style="position: relative;display: block;">
			<input type="text" class="cctext" id="f_telephone" autofocus="autofocus" autocomplete="off" placeholder="手机号码" maxlength="11" >
			<a href="javascript:void(0);" style="border-radius:20px;color: #fff;position: absolute;width:100px;top:28px;right:10px;font-size: 12px;border-bottom: 0;background:#0bd38a;padding:3px 0 5px">提取短信码</a>
		</span>
		<span style="position: relative;display: none;">
			<input type="text" class="ccron" id="f_code" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<span style="position: relative;display: none;">
			<input type="text" class="ccron" id="f_phonecode" placeholder="输入短信码" maxlength="4">
		</span>
		<span style="display: none;">
			<input type="password" class="ccron" id="f_password"   autocomplete="off" placeholder="输入钥匙" maxlength="16">
		</span>
		<div class="submit"><input type="submit" id="f_loginbtn" value="Forget Back"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadLoginReg();" style="font-size: 16px;">注册</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLogin();" style="font-size: 16px;">登录</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>
<script type="text/javascript" src="http://localhost:8080/js/highcode/highlight.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/clipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/vue.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/vue-resource.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/blogcomment.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/player.js"></script>

</body>
</html>
