<!DOCTYPE html>
<html class="theme-next use-motion">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<link rel="shortcut icon" href="http://localhost:8080/img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="http://localhost:8080/css/main.css">
<link rel="stylesheet" href="http://localhost:8080/css/compoment.css?4bf3b5f">
<script>var basePath="http://localhost:8080";var adminPath="http://localhost:8080/admin";</script><script type="text/javascript" src="http://localhost:8080/js/jquery.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/md5.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/sg.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/sgutil.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/admin.js"></script><title>一个合格的程序员，需要哪些必备技能？-中华墨风-'s Zone</title>
<meta name="description" content="对于一个Java开发来说，编程技能毋庸置疑是很重要的。 但是，除了基本的编程开发能力，其他方面的能力也是体现一个程序员的能 ...">
<meta name="keywords" content="">
<style>.loadmore{background:#fbfbfb;padding:5px;margin:30px 0;text-align: center;}
	.loadmore a{display: block;border-bottom:0;}
	.rebtn{color:#333;font-size: 12px;}
	.itb-musicboxs,.itb-imgboxs{margin:20px 0px;text-align: center;overflow:hidden;}
	.itb-musicboxs,.itb-imgboxs img{width:100%;}
	.itb-audioboxs{position:absolute;bottom:-3px;left:3px;}
	.playboxs{position:absolute;z-index:3;top:0;left:0;right:0;text-align: center;line-height: auto;bottom:0;}
	.playboxs i{font-size:112px;color:#fff;}
	
</style>
</head>
<body title="双击看详情" data-edit="blog" data-opid="67" data-comment="open">
<div class="container one-column page-home ">
	<div id="pandara-brand" class="my-brand" style="opacity: 1; top: 0px;">
		<div id="space-ship" class="pandara-image  animated rotateInDownRight"></div>
		<div id="planet0" class="pandara-image r animated rotateIn"></div>
		<div id="earth" class="pandara-image animated zoomInUp"></div>
		<!-- <div id="planet1" class="pandara-image animated zoomInDown"></div>
		<div id="planet2" class="pandara-image animated rotateIn"></div>
		<div id="planet3" class="pandara-image animated rotateIn"></div>
		<div id="satellite" class="pandara-image animated zoomInDown"></div>
		<div id="planet4" class="pandara-image animated rotateIn"></div> -->
		<!-- <div id="planet5" class="pandara-image animated rotateInDownRight"></div> -->
		<!-- <div id="planet6" class="pandara-image animated rotateInDownLeft"></div> -->
	</div>  
	<div class="headband"></div>
	<header id="header" class="header" >
		<div class="header-inner ">
			<h1 class="site-meta animated2 fadeInDown">
				<span class="logo-line-before"><i></i></span> <span 
					class="brand" rel="start" style="opacity: 1;"> <span
					class="logo" style="opacity: 1; top: 0px;">
						<i class="icon-logo"></i>
				</span> <span class="site-title"
					style="opacity: 1; top: 0px;"><a href="http://localhost:8080" class="cof" style="border-bottom: none;">中华墨风's zone~~~</a></span>
					<a href="javascript:void(0);" class="loginlink fz14 cof" onclick="mkLogin.loadLogin()">登录</a>
					<a href="javascript:void(0);" class="loginlink fz14 cof" onclick="mkLogin.loadLoginReg()">/&nbsp;注册</a>
					<span id="loginspan" class="fz14"></span>
				</span> 
			
			</h1>
			
			<div class="site-nav-toggle">
				<button>
					<span class="btn-bar"></span> <span class="btn-bar"></span> <span
						class="btn-bar"></span>
				</button>
			</div>
			<nav class="site-nav">
				<ul id="menu" class="menu animated fadeInDown">
					<li class="menu-item menu-item-archives" style="opacity: 1; transform: translateY(0px);"><a class="active" href="http://localhost:8080" rel="section"> <i class="menu-item-icon  fa fa-home"></i> <br> 首页</a></li>
					<li class="menu-item menu-item-archives menu-item-course" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/course" rel="section"> <i class="menu-item-icon  fa fa-bookmark"></i> <br> 课程</a></li>
					<li class="menu-item menu-item-archives menu-item-blog" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/blog" rel="section"> <i class="menu-item-icon  fa fa-map-signs"></i> <br> 故事</a></li>
					<li class="menu-item menu-item-archives menu-item-archives2" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/archives" rel="section"> <i class="menu-item-icon  fa fa-quora"></i> <br> 归档</a></li>
					<li class="menu-item menu-item-tags"
						style="opacity: 1; transform: translateY(0px);"><a
						href="https://gitee.com/kekesam" target="_blank" rel="section"> <i class="menu-item-icon fa fa-git-square"></i>
							<br> Git码云
					</a></li> 
					<li class="menu-item menu-item-about"
						style="opacity: 1; transform: translateY(0px);"><a
						href="http://localhost:8080/about"  target="_blank" rel="section"> <i
							class="menu-item-icon fa fa-user-circle-o"></i> <br> 我是谁˚∆˚
					</a></li> 
				</ul>

			</nav>
		</div>
	</header>	<main id="main" class="main">
	 	<div class="main-inner"style="width: px">
		<div id="content" class="content">
			<div id="posts" class="posts-expand">
				<article class="post post-type-normal animated  fadeIn">
					<header class="post-header">
						<h1 class="post-title">
							<a class="post-title-link" href="http://localhost:8080/blogs/cbgNBP4QH967KMtsj6WmkQ.html">一个合格的程序员，需要哪些必备技能？</a>
						</h1>
						<div class="post-meta">
							<span class="post-time"> 发表于 <time
									datetime="2018/07/19 14:05:42">2018/07/19 14:05:42</time>
							</span> <span class="post-category"> &nbsp; | &nbsp; 分类于 :&nbsp;<span><a
									href="http://localhost:8080/search/1" rel="index">
										<span>前端</span>
								</a> </span></span> <span id="busuanzi_container_page_pv"
								style="display: inline;"> &nbsp; | &nbsp; 访客 :&nbsp;<span
								id="bloghits">439</span> &nbsp; 评论 :&nbsp;<a href="#txt_message"
								id="commentnum">0</a>
							</span>
							<span id="editbox"></span>
						</div>
					</header>
					<div class="post-body">
						<div class="itb-imgboxs pr">
						</div>
						<div class="asb asb-post asb-post-01"></div> 
<p>对于一个Java开发来说，编程技能毋庸置疑是很重要的。</p> 
<p>但是，除了基本的编程开发能力，其他方面的能力也是体现一个程序员的能力的很重要因素。</p> 
<p>比如，问题排查能力、线上运维能力、项目管理能力、协调沟通能力等。</p> 
<p>本文，主要来简单介绍一下，作为一个合格的Java开发，除了自身技术成长之外，还有哪些方面可以提升。</p> 
<h2>​类开发技能</h2> 
<p>第一类，并不是纯coding技能，但是也和开发相关，我称之为类开发技能。</p> 
<h3>Linux系统</h3> 
<p>很多人的开发机器是windows，所以平时也基本都是图形化开发界面。但是，这并不意味着你就不需要基本的Linux技巧。</p> 
<p>因为，你开发出来的应用可能部署在一台Linux机器上，很多时候你要和这台线上的Linux服务器打交道，所以，Linux系统的安装、开发环境的搭建、Linux常用命令以及Linux环境下项目的部署启动和调试等都是必备技能。</p> 
<p>否则，一旦线上出点什么问题，你就会束手无策了。</p> 
<h3>单元测试</h3> 
<p>我在<a href="http://www.hollischuang.com/archives/954">《单元测试的重要性》</a>中说过，单元测试是很重要的，而且，好的单元测试可以帮助我们节省很多开发时间。单元测试是保证软件可以更好的持续集成和持续交付的一个基本前提。</p> 
<p>单元测试也涉及到很多技巧等，比如使用Mock进行单测、使用内存数据库进行单测等。</p> 
<p>一个开发人员，要有写单测的习惯，也要掌握基本的单测写法技巧。这样可以尽早的发现问题。</p> 
<h3>版本管理</h3> 
<p>我相信基本上所有的公司的代码都会通过版本管理工具进行托管的，不管是Git还是SVN。</p> 
<p>而且，现在很多技术都通过GitHub进行开源和共建的，版本管理工具的使用也是一个Java开发必备的基本技能。</p> 
<p>版本管理也有很多学问在的，比如到底什么时候应该提交、提交的时候 Commit message 应该如何书写，如何解决代码冲突等都需要熟练掌握的。</p> 
<h3>构建工具</h3> 
<p>和版本管理一样，企业级开发的依赖管理也不再是那种原始的进行Jar包的导入导出。而是借助于像maven或者gradle等工具。</p> 
<p>构建工具的使用同样重要，而且一个合格的开发人员，要掌握如何进行依赖冲突的检查、如何进行依赖仲裁等。</p> 
<h3>代码调试</h3> 
<p>有人调侃程序员，一半的时间在写bug，另外一半的时间在debug。这句话听起来挺扎心的，但是也恰恰说明了debug的重要性。</p> 
<p>虽然说程序员花费一半的时间在写bug是有点过分的，但是，任何程序员的代码也不可能一气呵成，越大型的项目bug可能就会越多，在线下开发的时候，debug是最有效的问题发现和解决的手段。</p> 
<p>代码调试其实比较简单，只要设置好端点，跟着程序一步一步的执行看效果就好了。只要学会运用IDE提供的工具就可以了。可以参考《<a href="http://www.hollischuang.com/archives/365">Eclipse的Debug技巧</a>》</p> 
<h3>问题排查与解决</h3> 
<p>关于问题排查，这个能力真的是非常非常重要的。</p> 
<p>发生问题的时候，就是检验程序员能力的时候。这是最能区分程序员的水平的技能了。一个问题往往可能会涉及到很多个方面的知识。</p> 
<p>阿里有一个神级人物，花名多隆。在淘宝初期，不管遇到什么问题，他基本都能解决。他之所以被称之为神，就是因为他的问题排查和解决能力。如果你能在两天内解决一个组两周都没解决的问题，那么你也会被称之为神。</p> 
<p>很多时候，解决问题并不难，难的是定位问题。这会涉及到很多知识，知识储备很重要，但是，在知识储备还不够的情况下，至少可以从以下几个方面来提升自己的能力。</p> 
<p>1、日志的查看</p> 
<p>2、分析Java的堆栈信息</p> 
<p>3、集群监控指标的查看</p> 
<h2>非开发技能</h2> 
<p>还有一类技能，可能就和开发完全没有关系的，我称之为非开发技能。这些技能往往决定着一个开发人员到底能够走多高。</p> 
<h3>目标导向</h3> 
<p>我把目标导向称之为一种能力，是一种一个人应该具备的基本能力。而且，也是可以锻炼和培养出来的。</p> 
<p>目标导向型的人，就是做事之前先明确目标，再寻找实现目标的方法，最后动用一切可以利用的资源通过各种方法来实现目标。</p> 
<p>目标导向型的人，目标是明确的。</p> 
<p>目标明确的人，做事的时候，不会轻易动摇或者放弃，为了目标能克服困难坚持到最后。</p> 
<p>目标明确的人，做事的时候，会去思考、尝试实现目标的各种方法。</p> 
<p>目标明确的人，做事的时候，会去发现、创造、借用一切能够实现目标的资源。</p> 
<p>不断给自己设定目标，做一个目标导向的程序员吧。如果，你非要把目标导向理解为KPI导向我也不拦着。主要是有目标，为之而努力，我觉得就是OK的。</p> 
<h3>时间管理</h3> 
<p>对于任何人来说，时间管理都是很重要的，对于程序员来说，尤其重要，因为我们可支配的时间并不多。</p> 
<p>如何正确的管理自己的时间，是一门很深的学问。有些人加班加点，甚至996的工作方式。但是最终还是得不到一个好的结果，这很大程度上是由于时间管理的不够好，大部分时间都在“瞎忙”。</p> 
<p>很多时候，苦劳在功劳面前会略显沧桑。</p> 
<p>一个程序员的一天会有很多事情要忙，在工作上，一天可能排了几个需求评审、设计评审、交互评审、TC评审等，还要排查问题，还要写代码，有的时候还要充当产品、运营、甚至客服的角色。在生活中，还要陪伴家人、充实自己，锻炼身体等。如何安排好自己的时间是十分重要的。</p> 
<p>关于时间管理，我有个建议，那就是把自己的手上的事情排列好，一段时间只做一件事。</p> 
<h3>快速学习</h3> 
<p>在这个技术高速发展的时代，每天都有新技术在推出。一个好的开发人员要保证自己永远不会被淘汰，就需要不断的去学习。</p> 
<p>而学习无疑是要花费很多的时间的。那么，快速的学习能力对于一个时间本就不多的程序员来说也是至关重要的。</p> 
<h3>英语能力</h3> 
<p>首先，我们的日常开发的代码都是基于英文的，目前很多技术也都是外国人发明的。也就是说很多技术刚出来的文档都是英文的。</p> 
<p>拿最近最火的区块链举例，不管中本聪是不是日本人，他发布的区块链白皮书也是英文的，英语能力好的人可以马上学习到新的知识，英语能力不好的，可能看到的都是二手翻译资料了。</p> 
<p>英语好的技术人员，靠翻译书籍也能赚很多钱。而英语不好的程序员，给变量命名都费劲。</p> 
<h3>科学上网</h3> 
<p>这一点我觉得对于开发人员来说是至关重要的。就像前面那条英语能力一样。很多资料都是发布在国外的网站上的。</p> 
<p>无论是Google、维基百科这些都需要科学上网。而且很多国外的网站，如StackOverflow、GitHub等科学上网也能更快的访问到。</p> 
<h3>项目管理</h3> 
<p>每一个程序员，都有做PM的那一天，不管负责的是大项目还是小项目。都需要很好的项目管理能力才行。</p> 
<p>要知道如何预估风险、如何预估成本、如何保证项目按时上线、如何管理项目团队，这都是有很多学问在的。</p> 
<p>任何一点掌握不好，都有可能导致项目风险甚至项目失败。</p> 
<p>项目管理这种事情，项目如期发布可能并没有功劳，但是一旦项目delay，那就有罪过了。</p> 
<p>不会项目管理的程序员，最多也就是一个高级程序员，无法晋升为专家及以上级别。</p> 
<h3>协调沟通</h3> 
<p>在一个项目中，除了项目经理角色外，开发人员之间也并不是独立的。很多时候都需要跨团队、跨部门甚至跨公司之间合作。</p> 
<p>在项目中，你和其他参与的同学是同一个角色的，大家之间的关系在层级上可以算是平级，那么如何很好的横向管理会很重要了。</p> 
<p>为什么很多人解决一件事情很快，有些人却要绕很多弯子。因为有些人懂得协调沟通的技巧，说白了就是出去办事有时候光靠“刷脸”就可以解决问题了。那么，之所以可以“刷脸”，就是因为平时的协调沟通能力强。</p> 
<h3>理解能力</h3> 
<p>理解能力不好，就不能很好的理解需求。不能很好的理解需求，就可能浪费很多时间。很多时候，PD给的需求文档并不都是合理的，这种情况下，如果开发的理解能力再差一些，无法在需求评审阶段正确的理解需求，那么这个项目的结果可想而知。</p> 
<p>理解能力不好，就没办法快速的学习新的知识，同样也要比别人多花费一些时间。同样是学习Java 9的Jigsaw，有些人就能很快的理解模块化的原理，有些人就怎么都想不通。这就是因为理解能力的不同。</p> 
<h3>表达能力</h3> 
<p>前面说的几项能力，都或多或少的要依赖表达能力。如果表达能力不好，协调沟通肯定出问题，更别提项目管理了。</p> 
<p>除了日常工作需要表达能力和别人沟通外，很多公司要写日报、周报或者月报等。表达能力好的就可以很清楚的写明白自己做了什么，有什么贡献，这样领导看的也舒服。工作成果自然不会很差。</p> 
<p>还有，就是很多公司的晋升制度是靠答辩的。那么如何很好的把自己过去一段时间的工作成果和收获表达的清楚很大程度上决定着晋升的结果。</p> 
<p>还有些时候，开发人员也要参与演讲，无论是团队内部、公司内部还是参与业内会议。表达能力都至关重要。很多时候，别人了解一个人，首先就是通过他的表达能力。</p> 
<h2>新木桶理论</h2> 
<p>前面说了这么多，细数下来，好像一个程序员就是全能了一样。不过，我想说，程序员就应该是全能的，因为我们是要改变世界的啊。</p> 
<p>话说回来了，如果你有能力，最好可以把上面的所以能力都锻炼出来。但是，如果你就是某方面不是很擅长，那么，你也应该清楚的认识到自己哪里不足。</p> 
<p>不知道自己不知道才是最可怕的。这篇文章，有一个小目的，就是先让你知道你自己不知道。</p> 
<p>我们知道的木桶定律——桶装水的多少，取决于最短的一块板子。</p> 
<p>传统的木桶定律是把木桶放在平面上来衡量的。但是，如果把木桶放置在一个斜面上的时候，木桶装水的多少就取决于最长的一块板子的长度。</p> 
<p>当然这要求长与长要正相对，并且长木块的周围要有相应长度的木块作为她的辅助。</p> 
<p>也就是说当我们比别人在某一块短一大节时，不但要选择合适的斜度。更重要的是把其他木块合理排列起来，使它们发挥应有的作用。这样才可以最大限度的利用现有的木块。</p> 
<p>上面我列的这些技能，就是一个程序员木桶的各个木板，有短板没关系，只要你找到自己的长板，并且在自己的长板周围排列起来其他的相应长度的木板即可。</p> 
<h2>鸡汤时间</h2> 
<p>上面提到的技能，他们之所以被称之为技能，就是因为他们是可以锻炼出来的。包括理解能力、表达能力还有学习能力。都是可以锻炼的。</p> 
<p>所以，开发者们，不要只顾着闷头撸代码。没事儿也要抬头看一看。补一补自己这块木桶中各个木板的长度吧。这样才能使你走的更远。</p> 
<p>技术水平决定的是你的发展下限。软技能决定的是你发展的上限。</p> 
<p>加油，共勉。</p> 
<p class="asb-post-footer"><strong>【公告】</strong><a target="_blank" href="http://www.hollischuang.com/转载说明">版权声明</a></p>(全文完)
<center>
 <img src="http://www.hollischuang.com/wp-content/uploads/2016/01/qrcode_for_gh_4ebd1b130cbe_430-1.jpg" width="300px" height="300px" title="" alt="">欢迎关注HollisChuang微信公众账号
</center>
<p class="post-copyright">如未加特殊说明，此网站文章均为原创，转载必须注明出处。<a href="http://www.hollischuang.com">HollisChuang's Blog</a> » <a href="http://www.hollischuang.com/archives/2407">一个合格的程序员，需要哪些必备技能？</a></p><p>此文转自：<a href='http://www.hollischuang.com/archives/2407' target='_blank'>http://www.hollischuang.com/archives/2407</a></p>
						<hr />
						<p class="asb-post-footer tc"><strong>【公告】</strong><a target="_blank" href="http://localhost:8080">版权声明</a></p>
						<div style="text-align: center;padding: 20px 0 10px;margin:20px 0 0px">
						 <img src="http://localhost:8080/qrcode?k=http://localhost:8080/blogs/cbgNBP4QH967KMtsj6WmkQ.html" style="padding: 20px;" width="240px" height="240px" title="" alt=""><br/>欢迎扫描下载《ITbooking.net》APP学习交流平台
						</div>
						<p class="post-copyright tc">如未加特殊说明，此网站文章均为原创，转载必须注明出处。<a href="http://localhost:8080">中华墨风's Blog</a> » </p>
						<p class="post-copyright tc tp4 pr"><a href="http://localhost:8080/blogs/cbgNBP4QH967KMtsj6WmkQ.html">《一个合格的程序员，需要哪些必备技能？》</a></p>
					</div>
					<footer class="post-footer">
						<div class="post-eof"></div>
					</footer>
				</article>
				<div class="post-spread"></div>
			</div>
		</div>
		<div class="comments v" id="comments">
			<div class="vwrap">
				<div class="vedit">
					<textarea id="txt_message" maxlength="400" class="veditor vinput" placeholder="Just go go" style=""></textarea>
					<div class="vemojis">
						<i name="grinning" title="grinning">😀</i><i name="smiley"
							title="smiley">😃</i><i name="smile" title="smile">😄</i><i
							name="grin" title="grin">😁</i><i name="laughing"
							title="laughing">😆</i><i name="sweat_smile" title="sweat_smile">😅</i><i
							name="joy" title="joy">😂</i><i name="blush" title="blush">😊</i><i
							name="innocent" title="innocent">😇</i><i name="wink"
							title="wink">😉</i><i name="relieved" title="relieved">😌</i><i
							name="heart_eyes" title="heart_eyes">😍</i><i
							name="kissing_heart" title="kissing_heart">😘</i><i
							name="kissing" title="kissing">😗</i><i
							name="kissing_smiling_eyes" title="kissing_smiling_eyes">😙</i><i
							name="kissing_closed_eyes" title="kissing_closed_eyes">😚</i><i
							name="yum" title="yum">😋</i><i
							name="stuck_out_tongue_winking_eye"
							title="stuck_out_tongue_winking_eye">😜</i><i
							name="stuck_out_tongue_closed_eyes"
							title="stuck_out_tongue_closed_eyes">😝</i><i
							name="stuck_out_tongue" title="stuck_out_tongue">😛</i><i
							name="sunglasses" title="sunglasses">😎</i><i name="smirk"
							title="smirk">😏</i><i name="unamused" title="unamused">😒</i><i
							name="disappointed" title="disappointed">😞</i><i name="pensive"
							title="pensive">😔</i><i name="worried" title="worried">😟</i><i
							name="confused" title="confused">😕</i><i name="persevere"
							title="persevere">😣</i><i name="confounded" title="confounded">😖</i><i
							name="tired_face" title="tired_face">😫</i><i name="weary"
							title="weary">😩</i><i name="angry" title="angry">😠</i><i
							name="rage" title="rage">😡</i><i name="no_mouth"
							title="no_mouth">😶</i><i name="neutral_face"
							title="neutral_face">😐</i><i name="expressionless"
							title="expressionless">😑</i><i name="hushed" title="hushed">😯</i><i
							name="frowning" title="frowning">😦</i><i name="anguished"
							title="anguished">😧</i><i name="open_mouth" title="open_mouth">😮</i><i
							name="astonished" title="astonished">😲</i><i name="dizzy_face"
							title="dizzy_face">😵</i><i name="flushed" title="flushed">😳</i><i
							name="scream" title="scream">😱</i><i name="fearful"
							title="fearful">😨</i><i name="cold_sweat" title="cold_sweat">😰</i><i
							name="cry" title="cry">😢</i><i name="disappointed_relieved"
							title="disappointed_relieved">😥</i><i name="sob" title="sob">😭</i><i
							name="sweat" title="sweat">😓</i><i name="sleepy" title="sleepy">😪</i><i
							name="sleeping" title="sleeping">😴</i><i name="mask"
							title="mask">😷</i><i name="smiling_imp" title="smiling_imp">😈</i><i
							name="smiley_cat" title="smiley_cat">😺</i><i name="smile_cat"
							title="smile_cat">😸</i><i name="joy_cat" title="joy_cat">😹</i><i
							name="heart_eyes_cat" title="heart_eyes_cat">😻</i><i
							name="smirk_cat" title="smirk_cat">😼</i><i name="kissing_cat"
							title="kissing_cat">😽</i><i name="scream_cat"
							title="scream_cat">🙀</i><i name="crying_cat_face"
							title="crying_cat_face">😿</i><i name="pouting_cat"
							title="pouting_cat">😾</i><i name="cat" title="cat">🐱</i><i
							name="mouse" title="mouse">🐭</i><i name="cow" title="cow">🐮</i><i
							name="monkey_face" title="monkey_face">🐵</i><i name="hand"
							title="hand">✋</i><i name="fist" title="fist">✊</i><i name="v"
							title="v">✌️</i><i name="point_up" title="point_up">👆</i><i
							name="point_down" title="point_down">👇</i><i name="point_left"
							title="point_left">👈</i><i name="point_right"
							title="point_right">👉</i><i name="facepunch" title="facepunch">👊</i><i
							name="wave" title="wave">👋</i><i name="clap" title="clap">👏</i><i
							name="open_hands" title="open_hands">👐</i><i name="+1"
							title="+1">👍</i><i name="-1" title="-1">👎</i><i name="ok_hand"
							title="ok_hand">👌</i><i name="pray" title="pray">🙏</i><i
							name="ear" title="ear">👂</i><i name="eyes" title="eyes">👀</i><i
							name="nose" title="nose">👃</i><i name="lips" title="lips">👄</i><i
							name="tongue" title="tongue">👅</i><i name="heart" title="heart">❤️</i><i
							name="cupid" title="cupid">💘</i><i name="sparkling_heart"
							title="sparkling_heart">💖</i><i name="star" title="star">⭐️</i><i
							name="sparkles" title="sparkles">✨</i><i name="zap" title="zap">⚡️</i><i
							name="sunny" title="sunny">☀️</i><i name="cloud" title="cloud">☁️</i><i
							name="snowflake" title="snowflake">❄️</i><i name="umbrella"
							title="umbrella">☔️</i><i name="coffee" title="coffee">☕️</i><i
							name="airplane" title="airplane">✈️</i><i name="anchor"
							title="anchor">⚓️</i><i name="watch" title="watch">⌚️</i><i
							name="phone" title="phone">☎️</i><i name="hourglass"
							title="hourglass">⌛️</i><i name="email" title="email">✉️</i><i
							name="scissors" title="scissors">✂️</i><i name="black_nib"
							title="black_nib">✒️</i><i name="pencil2" title="pencil2">✏️</i><i
							name="x" title="x">❌</i><i name="recycle" title="recycle">♻️</i><i
							name="white_check_mark" title="white_check_mark">✅</i><i
							name="negative_squared_cross_mark"
							title="negative_squared_cross_mark">❎</i><i name="m" title="m">Ⓜ️</i><i
							name="i" title="i">ℹ️</i><i name="tm" title="tm">™️</i><i
							name="copyright" title="copyright">©️</i><i name="registered"
							title="registered">®️</i>
					</div>
					<div class="vinput vpreview" style="display: none">
						<p>试了下 Java OpenCV
							做人脸检测，确实很强大。实现起来非常简单，但是精准度不够。不过应该能满足某些场景，比如相机的自动对焦等。这里分享一下相关的代码。</p>
					</div>
				</div>
				<div class="vcontrol">
					<div class="col col-20" title="Markdown is supported">
						还可以输入：<span class="numtip">400</span>&nbsp;字
					</div>
					<div class="col col-80 text-right">
						<a href="javacript:void(0);" onclick="mkComment.vcontrol(this)" class="vemoji-btn" style="margin-right: 20px;">Emoji</a> 
						<button type="button" @click="saveComment" title="Cmd|Ctrl+Enter" class="vsubmit vbtn">回复</button>
					</div>
				</div>
				<div style="display: none;" class="vmark"></div>
			</div>
			<div class="vinfo" style="display: block;">
				<div class="vcount col">
					<span class="vnum">{{total}}</span> 评论
				</div>
			</div>
			
			
			<div class="vlist" id="vlist_box">
				<div class="vcard" :id="'vcard_'+comment.id"  v-for="(comment,index) in comments">
					<img class="vimg" onerror="imgError(this)" :src="basePath+'/'+comment.headerPic">
					<div class="vh">
						<div class="vhead">
							<span class="vnick">{{comment.username}}</span> <span class="vsys">{{comment.ip}}</span> <span class="vsys">{{comment.osbroswer}}</span>
						</div>
						<div class="vmeta">
							<span class="vtime">{{comment.createTime}} / {{comment.createTime|fomatTime}}</span>
							<span v-if="session_user==15074816437" :index="index" :opid="comment.id" @click="del" class="vat">&nbsp;/&nbsp;删除</span> 
							<span :cid="comment.userId" :at="'@'+comment.username" :opid="comment.id" :index="index" @click="reply" class="vat">回复</span>
						</div>
						<div class="vcontent">
							<p v-html="comment.content"></p>
						</div>
						<div class="vquote">
							<div class="vcard" :id="'vcard_'+ccomment.id" v-for="ccomment in comment.children" >
								<img class="vimg" :src="basePath+'/'+ccomment.headerPic">
								<div class="vhead">
									<span class="vnick">{{ccomment.username}}</span> <span class="vsys">{{ccomment.ip}}</span> <span class="vsys">{{ccomment.osbroswer}}</span>
								</div>
								<div class="vmeta">
									<span class="vtime">{{ccomment.createTime}} / {{ccomment.createTime|fomatTime}}</span> 
									<span v-if="session_user==15074816437" :index="index" :opid="ccomment.id" @click="del" class="vat">&nbsp;/&nbsp;删除</span>
									<span :cid="ccomment.userId" :at="'@'+ccomment.username" :index="index" :opid="comment.id" @click="reply" class="vat">回复</span>
								</div>
								<div class="vcontent">
									<p v-html="ccomment.content"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tc" style="padding:100px;background:#fefefe;" v-if="comments.length==0">暂无评论</div>
				<div v-if="!hasNext" class="loadmore"><a href="javascript:void(0)" @click="loadmore">加载更多({{pages}})</a></div>
				<div v-if="hasNext" class="loadmore animated fadeOut">加载完毕</div>
			</div>
		</div>
	
	</div>
</main>
</div>
<aside id="sidebar" class="sidebar ">
			<div class="sidebar-inner">

				<section class="site-overview">
					<div class="site-author motion-element" itemprop="author"
						itemscope="" itemtype="http://schema.org/Person"
						style="opacity: 1; display: block; transform: translateX(0px);">
				<div class="site-author-avatar"></div>
				<p class="site-author-name" itemprop="name">Pandara</p>
			</div>
			<p class="site-description motion-element" itemprop="description"
				style="opacity: 1; display: block; transform: translateX(0px);">一切皆为年少轻狂之诳语·DeepLearning
				小白</p>
			<nav class="site-state motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">
				<div class="site-state-item site-state-posts">
					<a href="/archives"> <span class="site-state-item-count">92</span>
						<span class="site-state-item-name">日志</span>
					</a>
				</div>

				<div class="site-state-item site-state-categories">
					<a href="/categories"> <span class="site-state-item-count">9</span>
						<span class="site-state-item-name">分类</span>
					</a>
				</div>

				<div class="site-state-item site-state-tags">
					<a href="/tags"> <span class="site-state-item-count">44</span>
						<span class="site-state-item-name">标签</span>
					</a>
				</div>

			</nav>

			<div class="links-of-author motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">

				<span class="links-of-author-item"> <a
					href="https://github.com/PandaraWen" target="_blank">Github</a>
				</span> <span class="links-of-author-item"> <a
					href="https://dribbble.com/PandaraWen" target="_blank">Dribbble</a>
				</span> <span class="links-of-author-item"> <a
					href="https://twitter.com/WenPandara" target="_blank">Twitter</a>
				</span>

			</div>

			<div class="links-of-author motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">

				<p class="site-author-name">基情链接</p>

				<span class="links-of-author-item"> <a
					href="http://aevit.xyz/" target="_blank">Aevit's Lab</a>
				</span> <span class="links-of-author-item"> <a
					href="http://w3ctrain.com" target="_blank">W3cTrain</a>
				</span> <span class="links-of-author-item"> <a
					href="http://mrazy.com" target="_blank">梦灯笼</a>
				</span>

			</div>

		</section>

		<div class="side-bar-foot-decorate">
			<div class="side-bar-man motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);"></div>
			<div class="side-bar-star motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);"></div>
		</div>
	</div>
</aside><footer id="footer" class="footer">
		<div class="footer-inner">
			<div class="copyright">

				© &nbsp; <span itemprop="copyrightYear">2018-2020</span> <span
					class="with-love"> <i class="icon-heart"></i>
				</span> <span class="author" itemprop="copyrightHolder">中华墨风</span>
			</div>

			<div class="powered-by">
				由 <a class="theme-link" href="http://hexo.io">Hexo</a> 强力驱动
			</div>

			<div class="powered-by">湘ICP备16011548号-1</div>

			<div class="theme-info">
				主题 - <a class="theme-link"
					href="https://github.com/iissnan/hexo-theme-next"> NexT </a>
			</div>
		</div>
	</footer>
</div>

<div class="back-to-top" style="display: none;"></div>

<div class="sidebar-toggle">
	<div class="sidebar-toggle-line-wrap">
		<span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
		<span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
		<span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
	</div>
</div>


<!--弹出登录-->
<div id="itbooking-loginbox" class="popup search-popup local-search-popup animated bounceInDown" style="display: none;">
<div class="app-location">
	<h3 class="errorbox animated flipInY" style=""></h3>
	<h2>登录</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<input type="text" class="cctext" id="telephone" autofocus="autofocus" autocomplete="off" placeholder="报上手机" maxlength="11" >
		<input type="password" class="ccron" id="password"   autocomplete="off" placeholder="输入钥匙" maxlength="16">
		<span id="codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" id="code" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<div class="submit"><input type="submit" id="loginbtn" value="Sign in"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadForget();" style="font-size: 16px;">忘记密码 ?</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLoginReg();" style="font-size: 16px;">注册</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>
<style>
	.tipphone{border-radius:20px;color: #fff;position: absolute;width:100px;top:28px;right:10px;font-size: 12px;border-bottom: 0;background:#0bd38a;padding:3px 0 5px;/* display: none; */}
	/* .relocation_box:hover .tipphone{display:block} */
</style>
<!--弹出注册-->
<div id="itbooking-regbox" class="popup search-popup local-search-popup animated bounceInDown">
<div class="app-location relocation_box">
	<h3 class="errorbox animated flipInY" style="position: absolute;font-size:20px;right:0;left:0;margin:0 auto;color:#fff;display: none"></h3>
	<h2>注册</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<span class="tipinputspan" style="position: relative;display: block;">
			<input type="text" class="cctext" id="r_telephone"  autofocus="autofocus" autocomplete="off" placeholder="手机号码" maxlength="11" >
			<a href="javascript:void(0);" id="tipphone_get" class="tipphone">提取短信码</a>
		</span>
		<span class="rred_codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" id="r_code" disabled="disabled" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<span class="rred_codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" disabled="disabled" id="r_phocode" placeholder="输入短信码" maxlength="6">
		</span>
		<span class="rred_codebox"  style="display: none;">
			<input type="password" class="ccron" disabled="disabled" id="r_password"   autocomplete="off" placeholder="输入密码" maxlength="16">
		</span>
		<div class="rred_codebox submit" style="display: none;"><input type="submit" data-isopen="false" id="r_loginbtn" value="Reg in"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadForget();" style="font-size: 16px;">忘记密码 ?</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLogin();" style="font-size: 16px;">登录</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>



<!--弹出忘记密码-->
<div id="itbooking-forgetbox" class="popup search-popup local-search-popup animated bounceInDown"  >
<div class="app-location">
	<h3 class="errorbox animated flipInY" style="position: absolute;font-size:20px;right:0;left:0;margin:0 auto;color:#fff;display: none"></h3>
	<h2>找回密码</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<span style="position: relative;display: block;">
			<input type="text" class="cctext" id="f_telephone" autofocus="autofocus" autocomplete="off" placeholder="手机号码" maxlength="11" >
			<a href="javascript:void(0);" style="border-radius:20px;color: #fff;position: absolute;width:100px;top:28px;right:10px;font-size: 12px;border-bottom: 0;background:#0bd38a;padding:3px 0 5px">提取短信码</a>
		</span>
		<span style="position: relative;display: none;">
			<input type="text" class="ccron" id="f_code" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<span style="position: relative;display: none;">
			<input type="text" class="ccron" id="f_phonecode" placeholder="输入短信码" maxlength="4">
		</span>
		<span style="display: none;">
			<input type="password" class="ccron" id="f_password"   autocomplete="off" placeholder="输入钥匙" maxlength="16">
		</span>
		<div class="submit"><input type="submit" id="f_loginbtn" value="Forget Back"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadLoginReg();" style="font-size: 16px;">注册</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLogin();" style="font-size: 16px;">登录</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>
<script type="text/javascript" src="http://localhost:8080/js/highcode/highlight.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/clipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/vue.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/vue-resource.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/blogcomment.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/player.js"></script>

</body>
</html>
