<!DOCTYPE html>
<html class="theme-next use-motion">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<link rel="shortcut icon" href="http://localhost:8080/img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="http://localhost:8080/css/main.css">
<link rel="stylesheet" href="http://localhost:8080/css/compoment.css?4bf3b5f">
<script>var basePath="http://localhost:8080";var adminPath="http://localhost:8080/admin";</script><script type="text/javascript" src="http://localhost:8080/js/jquery.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/md5.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/sg.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/sgutil.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/admin.js"></script><title>Stack Overflow 2018 开发者调查报告出炉-中华墨风-'s Zone</title>
<meta name="description" content="Stack Overflow作为全球最大的程序设计领域的问答网站，每年都会出据一份开发者调查报告。近日，Stack Overflow公布了其第八次 ...">
<meta name="keywords" content="">
<style>.loadmore{background:#fbfbfb;padding:5px;margin:30px 0;text-align: center;}
	.loadmore a{display: block;border-bottom:0;}
	.rebtn{color:#333;font-size: 12px;}
	.itb-musicboxs,.itb-imgboxs{margin:20px 0px;text-align: center;overflow:hidden;}
	.itb-musicboxs,.itb-imgboxs img{width:100%;}
	.itb-audioboxs{position:absolute;bottom:-3px;left:3px;}
	.playboxs{position:absolute;z-index:3;top:0;left:0;right:0;text-align: center;line-height: auto;bottom:0;}
	.playboxs i{font-size:112px;color:#fff;}
	
</style>
</head>
<body title="双击看详情" data-edit="blog" data-opid="85" data-comment="open">
<div class="container one-column page-home ">
	<div id="pandara-brand" class="my-brand" style="opacity: 1; top: 0px;">
		<div id="space-ship" class="pandara-image  animated rotateInDownRight"></div>
		<div id="planet0" class="pandara-image r animated rotateIn"></div>
		<div id="earth" class="pandara-image animated zoomInUp"></div>
		<!-- <div id="planet1" class="pandara-image animated zoomInDown"></div>
		<div id="planet2" class="pandara-image animated rotateIn"></div>
		<div id="planet3" class="pandara-image animated rotateIn"></div>
		<div id="satellite" class="pandara-image animated zoomInDown"></div>
		<div id="planet4" class="pandara-image animated rotateIn"></div> -->
		<!-- <div id="planet5" class="pandara-image animated rotateInDownRight"></div> -->
		<!-- <div id="planet6" class="pandara-image animated rotateInDownLeft"></div> -->
	</div>  
	<div class="headband"></div>
	<header id="header" class="header" >
		<div class="header-inner ">
			<h1 class="site-meta animated2 fadeInDown">
				<span class="logo-line-before"><i></i></span> <span 
					class="brand" rel="start" style="opacity: 1;"> <span
					class="logo" style="opacity: 1; top: 0px;">
						<i class="icon-logo"></i>
				</span> <span class="site-title"
					style="opacity: 1; top: 0px;"><a href="http://localhost:8080" class="cof" style="border-bottom: none;">中华墨风's zone~~~</a></span>
					<a href="javascript:void(0);" class="loginlink fz14 cof" onclick="mkLogin.loadLogin()">登录</a>
					<a href="javascript:void(0);" class="loginlink fz14 cof" onclick="mkLogin.loadLoginReg()">/&nbsp;注册</a>
					<span id="loginspan" class="fz14"></span>
				</span> 
			
			</h1>
			
			<div class="site-nav-toggle">
				<button>
					<span class="btn-bar"></span> <span class="btn-bar"></span> <span
						class="btn-bar"></span>
				</button>
			</div>
			<nav class="site-nav">
				<ul id="menu" class="menu animated fadeInDown">
					<li class="menu-item menu-item-archives" style="opacity: 1; transform: translateY(0px);"><a class="active" href="http://localhost:8080" rel="section"> <i class="menu-item-icon  fa fa-home"></i> <br> 首页</a></li>
					<li class="menu-item menu-item-archives menu-item-course" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/course" rel="section"> <i class="menu-item-icon  fa fa-bookmark"></i> <br> 课程</a></li>
					<li class="menu-item menu-item-archives menu-item-blog" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/blog" rel="section"> <i class="menu-item-icon  fa fa-map-signs"></i> <br> 故事</a></li>
					<li class="menu-item menu-item-archives menu-item-archives2" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/archives" rel="section"> <i class="menu-item-icon  fa fa-quora"></i> <br> 归档</a></li>
					<li class="menu-item menu-item-tags"
						style="opacity: 1; transform: translateY(0px);"><a
						href="https://gitee.com/kekesam" target="_blank" rel="section"> <i class="menu-item-icon fa fa-git-square"></i>
							<br> Git码云
					</a></li> 
					<li class="menu-item menu-item-about"
						style="opacity: 1; transform: translateY(0px);"><a
						href="http://localhost:8080/about"  target="_blank" rel="section"> <i
							class="menu-item-icon fa fa-user-circle-o"></i> <br> 我是谁˚∆˚
					</a></li> 
				</ul>

			</nav>
		</div>
	</header>	<main id="main" class="main">
	 	<div class="main-inner"style="width: px">
		<div id="content" class="content">
			<div id="posts" class="posts-expand">
				<article class="post post-type-normal animated  fadeIn">
					<header class="post-header">
						<h1 class="post-title">
							<a class="post-title-link" href="http://localhost:8080/blogs/fP5Iad8csZ85vmLnQdXPAj.html">Stack Overflow 2018 开发者调查报告出炉</a>
						</h1>
						<div class="post-meta">
							<span class="post-time"> 发表于 <time
									datetime="2018/07/19 14:05:53">2018/07/19 14:05:53</time>
							</span> <span class="post-category"> &nbsp; | &nbsp; 分类于 :&nbsp;<span><a
									href="http://localhost:8080/search/1" rel="index">
										<span>前端</span>
								</a> </span></span> <span id="busuanzi_container_page_pv"
								style="display: inline;"> &nbsp; | &nbsp; 访客 :&nbsp;<span
								id="bloghits">431</span> &nbsp; 评论 :&nbsp;<a href="#txt_message"
								id="commentnum">0</a>
							</span>
							<span id="editbox"></span>
						</div>
					</header>
					<div class="post-body">
						<div class="itb-imgboxs pr">
						</div>
						<div class="asb asb-post asb-post-01"></div> 
<p>Stack Overflow作为全球最大的程序设计领域的问答网站，每年都会出据一份开发者调查报告。近日，Stack Overflow公布了其第八次年度开发者调查报告（<a href="https://insights.stackoverflow.com/survey/2018/">https://insights.stackoverflow.com/survey/2018/</a>），这份报告基于对10万Stack Overflow用户的调查。涉及众多领域，今天，Hollis挑其中和我们息息相关的几个重点调查结果给大家介绍一下。</p> 
<p>我主要把今年的报告提炼成三个方面：关于技术、关于工作、关于开发者。分别介绍给大家。</p> 
<h2>关于技术</h2> 
<h4>技术关联关系</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/conn.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/conn.png" alt="conn" width="771" height="725" class="aligncenter size-full wp-image-2159"></a></p> 
<h4>最常用的开发语言</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/language-popular.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/language-popular.png" alt="language-popular" width="570" height="800" class="aligncenter size-full wp-image-2123"></a></p> 
<p>连续第六年，JavaScript是最常用的编程语言。Python中上升,在去年超过了PHP之后，今年再度超越了C#。<strong>Java语言行名第五。</strong></p> 
<h4>最赚钱的编程语言</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/lan-money.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/lan-money.png" alt="lan-money" width="605" height="889" class="aligncenter size-full wp-image-2125"></a> 上图中是各类编程语言的开发者在美国工作的年薪。可见，越是常用的开发语言，工资越低。Java开发者，在美国工作的平均年薪是10万美元。虽然排名不靠前，但是这份榜单中，前后差距并不是很大。</p> 
<h4>最喜欢的编程语言</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/lan-love.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/lan-love.png" alt="lan-love" width="585" height="891" class="aligncenter size-full wp-image-2127"></a></p> 
<p>和去年一样，Rust是全球开发者最喜欢的编程语言。第一次受访的Kotlin荣登亚军。Python从去年的第六位升至亚军。关于Java，去年有50.5%的开发者表示喜欢，今年有50.7%，几乎没有变化。也就是说，全球几乎一半的开发者最喜欢的语言是Java。</p> 
<h4>最想用的编程语言</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/language-want.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/language-want.png" alt="language-want" width="617" height="888" class="aligncenter size-full wp-image-2129"></a></p> 
<p>和去年一样，Python、JS、Go是全球开发者最想用的三大开发语言。Java去年排第五，今年降到第六。主要是去年的开发者调查中没有Kotlin这个选项，今年第一次受访变是全球开发者第四想用的语言。</p> 
<h4>最恐惧的编程语言</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/lan-hate.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/lan-hate.png" alt="lan-hate" width="603" height="876" class="aligncenter size-full wp-image-2130"></a></p> 
<p>连续第三年,Visual Basic 6是开发者认为最恐惧的编程语言。最恐惧的意味着很大一部分开发人员目前正在使用的技术，并表示没有兴趣继续这样做。值得庆幸的是，这份榜单中Java的排名还是比较靠后的。</p> 
<h4>最常用的框架、库和工具</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/frame-popular.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/frame-popular.png" alt="frame-popular" width="601" height="446" class="aligncenter size-full wp-image-2132"></a></p> 
<p>Node.js 和 Angular 是开发者最常用的技术。React和.NET Core排在第三第四位。在Java领域，Spring排名第五。</p> 
<h4>最喜欢的框架、库和工具</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/frame-love.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/frame-love.png" alt="frame-love" width="583" height="440" class="aligncenter size-full wp-image-2134"></a></p> 
<p>去年没有上榜的TensorFlow，一跃成为开发者最喜欢的框架，可见人工智能现在是多么的火热。有60%以上的开发者表示喜欢使用Spring、Spark等技术。</p> 
<h4>最想用的框架、库和工具</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/frame-want.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/frame-want.png" alt="frame-want" width="570" height="429" class="aligncenter size-full wp-image-2135"></a></p> 
<p>React去年在最想用这份榜单中排第三，今年荣登榜首。还有那个大家喜欢的TensorFlow，也有很好的成绩。只有3.7%的用户表示想学Spring，还是有很大的提升空间的。</p> 
<h4>最恐惧的框架、库和工具</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/frame-hate.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/frame-hate.png" alt="frame-hate" width="597" height="438" class="aligncenter size-full wp-image-2133"></a></p> 
<h4>最常用的数据库</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/db-popular.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/db-popular.png" alt="db-popular" width="727" height="756" class="aligncenter size-full wp-image-2139"></a></p> 
<p>和去年一样，MySql和SQL Server包揽了冠亚军。</p> 
<h4>最喜欢的数据库</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/db-love.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/db-love.png" alt="db-love" width="730" height="751" class="aligncenter size-full wp-image-2138"></a></p> 
<p>连续第二年，Redis成为开发者最喜欢数据库,这意味着很大比例的开发者想继续使用它。</p> 
<h4>最想用的数据库</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/db-want.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/db-want.png" alt="db-want" width="699" height="752" class="aligncenter size-full wp-image-2140"></a></p> 
<p>开发者对数据库的喜好似乎没什么太大的改变，MongoDB和去年一样，依旧是开发者最想使用的数据库。</p> 
<h4>最恐惧的数据库</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/db-hate.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/db-hate.png" alt="db-hate" width="687" height="763" class="aligncenter size-full wp-image-2137"></a></p> 
<p>IBM db2是开发者最想拜托的数据库。排名前几的还有Oracle、Memcached、HBase等。</p> 
<h4>常用开发工具</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/tools-web.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/tools-web.png" alt="tools-web" width="601" height="778" class="aligncenter size-full wp-image-2156"></a></p> 
<p>上面是Web开发者常用的开发工具排行榜。Java开发者日常开发时可能会用到的Notepad++ 、Sublime Text、IntelliJ、Vim和Eclipse分别位列第3到第7。</p> 
<h4>常用操作系统</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/system.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/system.png" alt="system" width="568" height="175" class="aligncenter size-full wp-image-2158"></a></p> 
<p>开发人员使用的操作系统中，最多的还是Windows。</p> 
<h4>显示屏个数</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/monitor.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/monitor.png" alt="monitor" width="572" height="199" class="aligncenter size-full wp-image-2157"></a></p> 
<p>这个问题挺有意思的，60%以上的用户在工作时使用两个以上的显示器。这其实也是正常的，作为开发人员，要同时和多个页面交互是常事儿。</p> 
<h3>关于开发者</h3> 
<h4>开发者类型</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/dev-type.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/dev-type.png" alt="dev-type" width="692" height="711" class="aligncenter size-full wp-image-2142"></a></p> 
<p>将近 60% 的受访者是后端开发者，48%的开发者是全占，大约 20% 是移动端开发者。</p> 
<h4>性别</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/gender.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/gender.png" alt="gender" width="682" height="184" class="aligncenter size-full wp-image-2154"></a></p> 
<p>男性开发中占90%以上。</p> 
<h4>年龄</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/age.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/age.png" alt="age" width="613" height="270" class="aligncenter size-full wp-image-2153"></a></p> 
<p>大约四分之三的专业开发人员35岁以下的，从这份榜单中可以看到，软件开发，大概可以干到50岁。</p> 
<h4>编程年限</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/year-coding.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/year-coding.png" alt="year-coding" width="568" height="389" class="aligncenter size-full wp-image-2149"></a></p> 
<p>程序员的工作年限跨度很大，超过三分之一的程序员在五年以内学习的编程。</p> 
<h4>贡献开源项目</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/opensource.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/opensource.png" alt="opensource" width="511" height="120" class="aligncenter size-full wp-image-2144"></a></p> 
<p>一半以上的专业开发人员为开源项目作出过贡献。</p> 
<h4>把编程作为爱好</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/hobby.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/hobby.png" alt="hobby" width="524" height="102" class="aligncenter size-full wp-image-2143"></a></p> 
<p>许多开发人员在工作以外还会写代码。超过80%的受访者把写代码作为一个爱好。</p> 
<h4>有多少学生开发者</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/student.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/student.png" alt="student" width="561" height="135" class="aligncenter size-full wp-image-2148"></a></p> 
<p>大概有四分之一左右的开发者正在读书。这其中包括全日制的和在职的。</p> 
<h4>受教育程度</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/edu.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/edu.png" alt="edu" width="703" height="338" class="aligncenter size-full wp-image-2147"></a></p> 
<p>在世界范围内,约有四分之三的专业开发人员具有学士及以上学位。不过，没有拿到学位的开发者也不少。</p> 
<h4>本科所学专业</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/profe.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/profe.png" alt="profe" width="691" height="450" class="aligncenter size-full wp-image-2151"></a></p> 
<p>超过60%的开发者本科是计算机相关专业，如计算机科学、计算机工程、软件工程等。</p> 
<h4>其他类型的教育</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/learn.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/learn.png" alt="learn" width="684" height="372" class="aligncenter size-full wp-image-2150"></a></p> 
<p>开发人员是终身学习者。几乎90%的开发者自学过一门新语言,框架或工具。专业开发人员中,几乎有一半说他们参加过在线课程,并且还有四分之一的开发者参与过在线编程比赛。</p> 
<h4>自学的方式</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/way.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/way.png" alt="way" width="692" height="384" class="aligncenter size-full wp-image-2152"></a></p> 
<p>超过80%的受访者依靠Stack Overflow的问答来学习新的东西。此外，超过80%时也使用官方文档作为学习一个新技术的主要途径。</p> 
<h4>起床时间</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/wakeup.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/wakeup.png" alt="wakeup" width="676" height="416" class="aligncenter size-full wp-image-2155"></a></p> 
<p>大部分开发者在八点之前起床。</p> 
<h3>关于工作</h3> 
<h4>工资待遇</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/salary.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/salary.png" alt="salary" width="705" height="599" class="aligncenter size-full wp-image-2161"></a></p> 
<p>上面这个是美国的程序员的年薪。可见，DevOps、后端开发还是挺赚钱的。</p> 
<h4>工作状态</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/status.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/status.png" alt="status" width="710" height="229" class="aligncenter size-full wp-image-2163"></a></p> 
<p>四分之三以上的开发者是全职工作的。</p> 
<h4>所在行业</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/company.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/company.png" alt="company" width="705" height="446" class="aligncenter size-full wp-image-2160"></a></p> 
<p>软件开发涉及到各个行业。最多的是Web开发行业。</p> 
<h4>公司规模</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/size.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/size.png" alt="size" width="640" height="296" class="aligncenter size-full wp-image-2162"></a></p> 
<p>这个分布还算是比较平均的。各个规模的公司都有一定数量的开发者。其中一百人以下和一百人以上各占了50%左右。</p> 
<h4>五年内计划</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/five.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/five.png" alt="five" width="707" height="282" class="aligncenter size-full wp-image-2165"></a></p> 
<p>有四分之一左右的开发者准备五年内作为创始人或联合创始人而创办自己的公司。有三分之一以上的开发者希望改变现状，从事些比现在更有价值的工作。</p> 
<h4>工作满意程度</h4> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/satis.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/satis.png" alt="satis" width="685" height="266" class="aligncenter size-full wp-image-2164"></a></p> 
<p>大概70%以上的开发人员对自己的工作总体还是满意的。</p> 
<p class="asb-post-footer"><strong>【公告】</strong><a target="_blank" href="http://www.hollischuang.com/转载说明">版权声明</a></p>(全文完)
<center>
 <img src="http://www.hollischuang.com/wp-content/uploads/2016/01/qrcode_for_gh_4ebd1b130cbe_430-1.jpg" width="300px" height="300px">欢迎关注HollisChuang微信公众账号
</center>
<p class="post-copyright">如未加特殊说明，此网站文章均为原创，转载必须注明出处。<a href="http://www.hollischuang.com">HollisChuang's Blog</a> » <a href="http://www.hollischuang.com/archives/2122">Stack Overflow 2018 开发者调查报告出炉</a></p><p>此文转自：<a href='http://www.hollischuang.com/archives/2122' target='_blank'>http://www.hollischuang.com/archives/2122</a></p>
						<hr />
						<p class="asb-post-footer tc"><strong>【公告】</strong><a target="_blank" href="http://localhost:8080">版权声明</a></p>
						<div style="text-align: center;padding: 20px 0 10px;margin:20px 0 0px">
						 <img src="http://localhost:8080/qrcode?k=http://localhost:8080/blogs/fP5Iad8csZ85vmLnQdXPAj.html" style="padding: 20px;" width="240px" height="240px" title="" alt=""><br/>欢迎扫描下载《ITbooking.net》APP学习交流平台
						</div>
						<p class="post-copyright tc">如未加特殊说明，此网站文章均为原创，转载必须注明出处。<a href="http://localhost:8080">中华墨风's Blog</a> » </p>
						<p class="post-copyright tc tp4 pr"><a href="http://localhost:8080/blogs/fP5Iad8csZ85vmLnQdXPAj.html">《Stack Overflow 2018 开发者调查报告出炉》</a></p>
					</div>
					<footer class="post-footer">
						<div class="post-eof"></div>
					</footer>
				</article>
				<div class="post-spread"></div>
			</div>
		</div>
		<div class="comments v" id="comments">
			<div class="vwrap">
				<div class="vedit">
					<textarea id="txt_message" maxlength="400" class="veditor vinput" placeholder="Just go go" style=""></textarea>
					<div class="vemojis">
						<i name="grinning" title="grinning">😀</i><i name="smiley"
							title="smiley">😃</i><i name="smile" title="smile">😄</i><i
							name="grin" title="grin">😁</i><i name="laughing"
							title="laughing">😆</i><i name="sweat_smile" title="sweat_smile">😅</i><i
							name="joy" title="joy">😂</i><i name="blush" title="blush">😊</i><i
							name="innocent" title="innocent">😇</i><i name="wink"
							title="wink">😉</i><i name="relieved" title="relieved">😌</i><i
							name="heart_eyes" title="heart_eyes">😍</i><i
							name="kissing_heart" title="kissing_heart">😘</i><i
							name="kissing" title="kissing">😗</i><i
							name="kissing_smiling_eyes" title="kissing_smiling_eyes">😙</i><i
							name="kissing_closed_eyes" title="kissing_closed_eyes">😚</i><i
							name="yum" title="yum">😋</i><i
							name="stuck_out_tongue_winking_eye"
							title="stuck_out_tongue_winking_eye">😜</i><i
							name="stuck_out_tongue_closed_eyes"
							title="stuck_out_tongue_closed_eyes">😝</i><i
							name="stuck_out_tongue" title="stuck_out_tongue">😛</i><i
							name="sunglasses" title="sunglasses">😎</i><i name="smirk"
							title="smirk">😏</i><i name="unamused" title="unamused">😒</i><i
							name="disappointed" title="disappointed">😞</i><i name="pensive"
							title="pensive">😔</i><i name="worried" title="worried">😟</i><i
							name="confused" title="confused">😕</i><i name="persevere"
							title="persevere">😣</i><i name="confounded" title="confounded">😖</i><i
							name="tired_face" title="tired_face">😫</i><i name="weary"
							title="weary">😩</i><i name="angry" title="angry">😠</i><i
							name="rage" title="rage">😡</i><i name="no_mouth"
							title="no_mouth">😶</i><i name="neutral_face"
							title="neutral_face">😐</i><i name="expressionless"
							title="expressionless">😑</i><i name="hushed" title="hushed">😯</i><i
							name="frowning" title="frowning">😦</i><i name="anguished"
							title="anguished">😧</i><i name="open_mouth" title="open_mouth">😮</i><i
							name="astonished" title="astonished">😲</i><i name="dizzy_face"
							title="dizzy_face">😵</i><i name="flushed" title="flushed">😳</i><i
							name="scream" title="scream">😱</i><i name="fearful"
							title="fearful">😨</i><i name="cold_sweat" title="cold_sweat">😰</i><i
							name="cry" title="cry">😢</i><i name="disappointed_relieved"
							title="disappointed_relieved">😥</i><i name="sob" title="sob">😭</i><i
							name="sweat" title="sweat">😓</i><i name="sleepy" title="sleepy">😪</i><i
							name="sleeping" title="sleeping">😴</i><i name="mask"
							title="mask">😷</i><i name="smiling_imp" title="smiling_imp">😈</i><i
							name="smiley_cat" title="smiley_cat">😺</i><i name="smile_cat"
							title="smile_cat">😸</i><i name="joy_cat" title="joy_cat">😹</i><i
							name="heart_eyes_cat" title="heart_eyes_cat">😻</i><i
							name="smirk_cat" title="smirk_cat">😼</i><i name="kissing_cat"
							title="kissing_cat">😽</i><i name="scream_cat"
							title="scream_cat">🙀</i><i name="crying_cat_face"
							title="crying_cat_face">😿</i><i name="pouting_cat"
							title="pouting_cat">😾</i><i name="cat" title="cat">🐱</i><i
							name="mouse" title="mouse">🐭</i><i name="cow" title="cow">🐮</i><i
							name="monkey_face" title="monkey_face">🐵</i><i name="hand"
							title="hand">✋</i><i name="fist" title="fist">✊</i><i name="v"
							title="v">✌️</i><i name="point_up" title="point_up">👆</i><i
							name="point_down" title="point_down">👇</i><i name="point_left"
							title="point_left">👈</i><i name="point_right"
							title="point_right">👉</i><i name="facepunch" title="facepunch">👊</i><i
							name="wave" title="wave">👋</i><i name="clap" title="clap">👏</i><i
							name="open_hands" title="open_hands">👐</i><i name="+1"
							title="+1">👍</i><i name="-1" title="-1">👎</i><i name="ok_hand"
							title="ok_hand">👌</i><i name="pray" title="pray">🙏</i><i
							name="ear" title="ear">👂</i><i name="eyes" title="eyes">👀</i><i
							name="nose" title="nose">👃</i><i name="lips" title="lips">👄</i><i
							name="tongue" title="tongue">👅</i><i name="heart" title="heart">❤️</i><i
							name="cupid" title="cupid">💘</i><i name="sparkling_heart"
							title="sparkling_heart">💖</i><i name="star" title="star">⭐️</i><i
							name="sparkles" title="sparkles">✨</i><i name="zap" title="zap">⚡️</i><i
							name="sunny" title="sunny">☀️</i><i name="cloud" title="cloud">☁️</i><i
							name="snowflake" title="snowflake">❄️</i><i name="umbrella"
							title="umbrella">☔️</i><i name="coffee" title="coffee">☕️</i><i
							name="airplane" title="airplane">✈️</i><i name="anchor"
							title="anchor">⚓️</i><i name="watch" title="watch">⌚️</i><i
							name="phone" title="phone">☎️</i><i name="hourglass"
							title="hourglass">⌛️</i><i name="email" title="email">✉️</i><i
							name="scissors" title="scissors">✂️</i><i name="black_nib"
							title="black_nib">✒️</i><i name="pencil2" title="pencil2">✏️</i><i
							name="x" title="x">❌</i><i name="recycle" title="recycle">♻️</i><i
							name="white_check_mark" title="white_check_mark">✅</i><i
							name="negative_squared_cross_mark"
							title="negative_squared_cross_mark">❎</i><i name="m" title="m">Ⓜ️</i><i
							name="i" title="i">ℹ️</i><i name="tm" title="tm">™️</i><i
							name="copyright" title="copyright">©️</i><i name="registered"
							title="registered">®️</i>
					</div>
					<div class="vinput vpreview" style="display: none">
						<p>试了下 Java OpenCV
							做人脸检测，确实很强大。实现起来非常简单，但是精准度不够。不过应该能满足某些场景，比如相机的自动对焦等。这里分享一下相关的代码。</p>
					</div>
				</div>
				<div class="vcontrol">
					<div class="col col-20" title="Markdown is supported">
						还可以输入：<span class="numtip">400</span>&nbsp;字
					</div>
					<div class="col col-80 text-right">
						<a href="javacript:void(0);" onclick="mkComment.vcontrol(this)" class="vemoji-btn" style="margin-right: 20px;">Emoji</a> 
						<button type="button" @click="saveComment" title="Cmd|Ctrl+Enter" class="vsubmit vbtn">回复</button>
					</div>
				</div>
				<div style="display: none;" class="vmark"></div>
			</div>
			<div class="vinfo" style="display: block;">
				<div class="vcount col">
					<span class="vnum">{{total}}</span> 评论
				</div>
			</div>
			
			
			<div class="vlist" id="vlist_box">
				<div class="vcard" :id="'vcard_'+comment.id"  v-for="(comment,index) in comments">
					<img class="vimg" onerror="imgError(this)" :src="basePath+'/'+comment.headerPic">
					<div class="vh">
						<div class="vhead">
							<span class="vnick">{{comment.username}}</span> <span class="vsys">{{comment.ip}}</span> <span class="vsys">{{comment.osbroswer}}</span>
						</div>
						<div class="vmeta">
							<span class="vtime">{{comment.createTime}} / {{comment.createTime|fomatTime}}</span>
							<span v-if="session_user==15074816437" :index="index" :opid="comment.id" @click="del" class="vat">&nbsp;/&nbsp;删除</span> 
							<span :cid="comment.userId" :at="'@'+comment.username" :opid="comment.id" :index="index" @click="reply" class="vat">回复</span>
						</div>
						<div class="vcontent">
							<p v-html="comment.content"></p>
						</div>
						<div class="vquote">
							<div class="vcard" :id="'vcard_'+ccomment.id" v-for="ccomment in comment.children" >
								<img class="vimg" :src="basePath+'/'+ccomment.headerPic">
								<div class="vhead">
									<span class="vnick">{{ccomment.username}}</span> <span class="vsys">{{ccomment.ip}}</span> <span class="vsys">{{ccomment.osbroswer}}</span>
								</div>
								<div class="vmeta">
									<span class="vtime">{{ccomment.createTime}} / {{ccomment.createTime|fomatTime}}</span> 
									<span v-if="session_user==15074816437" :index="index" :opid="ccomment.id" @click="del" class="vat">&nbsp;/&nbsp;删除</span>
									<span :cid="ccomment.userId" :at="'@'+ccomment.username" :index="index" :opid="comment.id" @click="reply" class="vat">回复</span>
								</div>
								<div class="vcontent">
									<p v-html="ccomment.content"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tc" style="padding:100px;background:#fefefe;" v-if="comments.length==0">暂无评论</div>
				<div v-if="!hasNext" class="loadmore"><a href="javascript:void(0)" @click="loadmore">加载更多({{pages}})</a></div>
				<div v-if="hasNext" class="loadmore animated fadeOut">加载完毕</div>
			</div>
		</div>
	
	</div>
</main>
</div>
<aside id="sidebar" class="sidebar ">
			<div class="sidebar-inner">

				<section class="site-overview">
					<div class="site-author motion-element" itemprop="author"
						itemscope="" itemtype="http://schema.org/Person"
						style="opacity: 1; display: block; transform: translateX(0px);">
				<div class="site-author-avatar"></div>
				<p class="site-author-name" itemprop="name">Pandara</p>
			</div>
			<p class="site-description motion-element" itemprop="description"
				style="opacity: 1; display: block; transform: translateX(0px);">一切皆为年少轻狂之诳语·DeepLearning
				小白</p>
			<nav class="site-state motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">
				<div class="site-state-item site-state-posts">
					<a href="/archives"> <span class="site-state-item-count">92</span>
						<span class="site-state-item-name">日志</span>
					</a>
				</div>

				<div class="site-state-item site-state-categories">
					<a href="/categories"> <span class="site-state-item-count">9</span>
						<span class="site-state-item-name">分类</span>
					</a>
				</div>

				<div class="site-state-item site-state-tags">
					<a href="/tags"> <span class="site-state-item-count">44</span>
						<span class="site-state-item-name">标签</span>
					</a>
				</div>

			</nav>

			<div class="links-of-author motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">

				<span class="links-of-author-item"> <a
					href="https://github.com/PandaraWen" target="_blank">Github</a>
				</span> <span class="links-of-author-item"> <a
					href="https://dribbble.com/PandaraWen" target="_blank">Dribbble</a>
				</span> <span class="links-of-author-item"> <a
					href="https://twitter.com/WenPandara" target="_blank">Twitter</a>
				</span>

			</div>

			<div class="links-of-author motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">

				<p class="site-author-name">基情链接</p>

				<span class="links-of-author-item"> <a
					href="http://aevit.xyz/" target="_blank">Aevit's Lab</a>
				</span> <span class="links-of-author-item"> <a
					href="http://w3ctrain.com" target="_blank">W3cTrain</a>
				</span> <span class="links-of-author-item"> <a
					href="http://mrazy.com" target="_blank">梦灯笼</a>
				</span>

			</div>

		</section>

		<div class="side-bar-foot-decorate">
			<div class="side-bar-man motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);"></div>
			<div class="side-bar-star motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);"></div>
		</div>
	</div>
</aside><footer id="footer" class="footer">
		<div class="footer-inner">
			<div class="copyright">

				© &nbsp; <span itemprop="copyrightYear">2018-2020</span> <span
					class="with-love"> <i class="icon-heart"></i>
				</span> <span class="author" itemprop="copyrightHolder">中华墨风</span>
			</div>

			<div class="powered-by">
				由 <a class="theme-link" href="http://hexo.io">Hexo</a> 强力驱动
			</div>

			<div class="powered-by">湘ICP备16011548号-1</div>

			<div class="theme-info">
				主题 - <a class="theme-link"
					href="https://github.com/iissnan/hexo-theme-next"> NexT </a>
			</div>
		</div>
	</footer>
</div>

<div class="back-to-top" style="display: none;"></div>

<div class="sidebar-toggle">
	<div class="sidebar-toggle-line-wrap">
		<span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
		<span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
		<span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
	</div>
</div>


<!--弹出登录-->
<div id="itbooking-loginbox" class="popup search-popup local-search-popup animated bounceInDown" style="display: none;">
<div class="app-location">
	<h3 class="errorbox animated flipInY" style=""></h3>
	<h2>登录</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<input type="text" class="cctext" id="telephone" autofocus="autofocus" autocomplete="off" placeholder="报上手机" maxlength="11" >
		<input type="password" class="ccron" id="password"   autocomplete="off" placeholder="输入钥匙" maxlength="16">
		<span id="codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" id="code" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<div class="submit"><input type="submit" id="loginbtn" value="Sign in"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadForget();" style="font-size: 16px;">忘记密码 ?</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLoginReg();" style="font-size: 16px;">注册</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>
<style>
	.tipphone{border-radius:20px;color: #fff;position: absolute;width:100px;top:28px;right:10px;font-size: 12px;border-bottom: 0;background:#0bd38a;padding:3px 0 5px;/* display: none; */}
	/* .relocation_box:hover .tipphone{display:block} */
</style>
<!--弹出注册-->
<div id="itbooking-regbox" class="popup search-popup local-search-popup animated bounceInDown">
<div class="app-location relocation_box">
	<h3 class="errorbox animated flipInY" style="position: absolute;font-size:20px;right:0;left:0;margin:0 auto;color:#fff;display: none"></h3>
	<h2>注册</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<span class="tipinputspan" style="position: relative;display: block;">
			<input type="text" class="cctext" id="r_telephone"  autofocus="autofocus" autocomplete="off" placeholder="手机号码" maxlength="11" >
			<a href="javascript:void(0);" id="tipphone_get" class="tipphone">提取短信码</a>
		</span>
		<span class="rred_codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" id="r_code" disabled="disabled" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<span class="rred_codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" disabled="disabled" id="r_phocode" placeholder="输入短信码" maxlength="6">
		</span>
		<span class="rred_codebox"  style="display: none;">
			<input type="password" class="ccron" disabled="disabled" id="r_password"   autocomplete="off" placeholder="输入密码" maxlength="16">
		</span>
		<div class="rred_codebox submit" style="display: none;"><input type="submit" data-isopen="false" id="r_loginbtn" value="Reg in"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadForget();" style="font-size: 16px;">忘记密码 ?</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLogin();" style="font-size: 16px;">登录</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>



<!--弹出忘记密码-->
<div id="itbooking-forgetbox" class="popup search-popup local-search-popup animated bounceInDown"  >
<div class="app-location">
	<h3 class="errorbox animated flipInY" style="position: absolute;font-size:20px;right:0;left:0;margin:0 auto;color:#fff;display: none"></h3>
	<h2>找回密码</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<span style="position: relative;display: block;">
			<input type="text" class="cctext" id="f_telephone" autofocus="autofocus" autocomplete="off" placeholder="手机号码" maxlength="11" >
			<a href="javascript:void(0);" style="border-radius:20px;color: #fff;position: absolute;width:100px;top:28px;right:10px;font-size: 12px;border-bottom: 0;background:#0bd38a;padding:3px 0 5px">提取短信码</a>
		</span>
		<span style="position: relative;display: none;">
			<input type="text" class="ccron" id="f_code" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<span style="position: relative;display: none;">
			<input type="text" class="ccron" id="f_phonecode" placeholder="输入短信码" maxlength="4">
		</span>
		<span style="display: none;">
			<input type="password" class="ccron" id="f_password"   autocomplete="off" placeholder="输入钥匙" maxlength="16">
		</span>
		<div class="submit"><input type="submit" id="f_loginbtn" value="Forget Back"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadLoginReg();" style="font-size: 16px;">注册</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLogin();" style="font-size: 16px;">登录</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>
<script type="text/javascript" src="http://localhost:8080/js/highcode/highlight.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/clipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/vue.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/vue-resource.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/blogcomment.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/player.js"></script>

</body>
</html>
