<!DOCTYPE html>
<html class="theme-next use-motion">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<link rel="shortcut icon" href="http://localhost:8080/img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="http://localhost:8080/css/main.css">
<link rel="stylesheet" href="http://localhost:8080/css/compoment.css?4bf3b5f">
<script>var basePath="http://localhost:8080";var adminPath="http://localhost:8080/admin";</script><script type="text/javascript" src="http://localhost:8080/js/jquery.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/md5.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/sg.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/sgutil.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/admin.js"></script><title>高mysql千万级大数据SQL查询优化几条经验-中华墨风-'s Zone</title>
<meta name="description" content="本文主要内容： 1：查询语句where 子句使用时候优化或者需要注意的 2：like语句使用时候需要注意 3：in语句代替语句 4：索引 ...">
<meta name="keywords" content="">
<style>.loadmore{background:#fbfbfb;padding:5px;margin:30px 0;text-align: center;}
	.loadmore a{display: block;border-bottom:0;}
	.rebtn{color:#333;font-size: 12px;}
	.itb-musicboxs,.itb-imgboxs{margin:20px 0px;text-align: center;overflow:hidden;}
	.itb-musicboxs,.itb-imgboxs img{width:100%;}
	.itb-audioboxs{position:absolute;bottom:-3px;left:3px;}
	.playboxs{position:absolute;z-index:3;top:0;left:0;right:0;text-align: center;line-height: auto;bottom:0;}
	.playboxs i{font-size:112px;color:#fff;}
	
</style>
</head>
<body title="双击看详情" data-edit="blog" data-opid="38" data-comment="open">
<div class="container one-column page-home ">
	<div id="pandara-brand" class="my-brand" style="opacity: 1; top: 0px;">
		<div id="space-ship" class="pandara-image  animated rotateInDownRight"></div>
		<div id="planet0" class="pandara-image r animated rotateIn"></div>
		<div id="earth" class="pandara-image animated zoomInUp"></div>
		<!-- <div id="planet1" class="pandara-image animated zoomInDown"></div>
		<div id="planet2" class="pandara-image animated rotateIn"></div>
		<div id="planet3" class="pandara-image animated rotateIn"></div>
		<div id="satellite" class="pandara-image animated zoomInDown"></div>
		<div id="planet4" class="pandara-image animated rotateIn"></div> -->
		<!-- <div id="planet5" class="pandara-image animated rotateInDownRight"></div> -->
		<!-- <div id="planet6" class="pandara-image animated rotateInDownLeft"></div> -->
	</div>  
	<div class="headband"></div>
	<header id="header" class="header" >
		<div class="header-inner ">
			<h1 class="site-meta animated2 fadeInDown">
				<span class="logo-line-before"><i></i></span> <span 
					class="brand" rel="start" style="opacity: 1;"> <span
					class="logo" style="opacity: 1; top: 0px;">
						<i class="icon-logo"></i>
				</span> <span class="site-title"
					style="opacity: 1; top: 0px;"><a href="http://localhost:8080" class="cof" style="border-bottom: none;">中华墨风's zone~~~</a></span>
					<a href="javascript:void(0);" class="loginlink fz14 cof" onclick="mkLogin.loadLogin()">登录</a>
					<a href="javascript:void(0);" class="loginlink fz14 cof" onclick="mkLogin.loadLoginReg()">/&nbsp;注册</a>
					<span id="loginspan" class="fz14"></span>
				</span> 
			
			</h1>
			
			<div class="site-nav-toggle">
				<button>
					<span class="btn-bar"></span> <span class="btn-bar"></span> <span
						class="btn-bar"></span>
				</button>
			</div>
			<nav class="site-nav">
				<ul id="menu" class="menu animated fadeInDown">
					<li class="menu-item menu-item-archives" style="opacity: 1; transform: translateY(0px);"><a class="active" href="http://localhost:8080" rel="section"> <i class="menu-item-icon  fa fa-home"></i> <br> 首页</a></li>
					<li class="menu-item menu-item-archives menu-item-course" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/course" rel="section"> <i class="menu-item-icon  fa fa-bookmark"></i> <br> 课程</a></li>
					<li class="menu-item menu-item-archives menu-item-blog" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/blog" rel="section"> <i class="menu-item-icon  fa fa-map-signs"></i> <br> 故事</a></li>
					<li class="menu-item menu-item-archives menu-item-archives2" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/archives" rel="section"> <i class="menu-item-icon  fa fa-quora"></i> <br> 归档</a></li>
					<li class="menu-item menu-item-tags"
						style="opacity: 1; transform: translateY(0px);"><a
						href="https://gitee.com/kekesam" target="_blank" rel="section"> <i class="menu-item-icon fa fa-git-square"></i>
							<br> Git码云
					</a></li> 
					<li class="menu-item menu-item-about"
						style="opacity: 1; transform: translateY(0px);"><a
						href="http://localhost:8080/about"  target="_blank" rel="section"> <i
							class="menu-item-icon fa fa-user-circle-o"></i> <br> 我是谁˚∆˚
					</a></li> 
				</ul>

			</nav>
		</div>
	</header>	<main id="main" class="main">
	 	<div class="main-inner"style="width: 1920px">
		<div id="content" class="content">
			<div id="posts" class="posts-expand">
				<article class="post post-type-normal animated  fadeIn">
					<header class="post-header">
						<h1 class="post-title">
							<a class="post-title-link" href="http://localhost:8080/blogs/fzqwHCk76W38LW6J7CarHV.html">高mysql千万级大数据SQL查询优化几条经验</a>
						</h1>
						<div class="post-meta">
							<span class="post-time"> 发表于 <time
									datetime="2018/05/18 09:22:04">2018/05/18 09:22:04</time>
							</span> <span class="post-category"> &nbsp; | &nbsp; 分类于 :&nbsp;<span><a
									href="http://localhost:8080/search/1" rel="index">
										<span>前端</span>
								</a> </span></span> <span id="busuanzi_container_page_pv"
								style="display: inline;"> &nbsp; | &nbsp; 访客 :&nbsp;<span
								id="bloghits">294</span> &nbsp; 评论 :&nbsp;<a href="#txt_message"
								id="commentnum">0</a>
							</span>
							<span id="editbox"></span>
						</div>
					</header>
					<div class="post-body">
						<div class="itb-imgboxs pr">
								<img src="http://localhost:8080/resource/blog/2018/05/17/201805172205234.png" id="imgmain" onload="loadimg(this)" onerror="imgError(this)" class="keui-imgbox">
						</div>
						<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">本文主要内容：</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">1：查询语句where 子句使用时候优化或者需要注意的</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">2：like语句使用时候需要注意</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">3：in语句代替语句</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">4：索引使用或是创建需要注意</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">假设用户表有一百万用户量。也就是1000000.num是主键</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">1：对查询进行优化，应尽量避免全表扫描，首先应考虑在where及order by 涉及的列上创建索引。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">因为：索引对查询的速度有着至关重要的影响。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">2：尽量避免在where字句中对字段进行null值的判断。否则将会导致引擎放弃使用索引而进行全表扫描。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">例如：select id from user where num is null 。可以将num是这个字段设置默认值0.确保表中没有null值，然后在进行查询。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">sql如下：select id from user where num=0;</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">（考虑如下情况，假设数据库中一个表有10^6条记录，DBMS的页面大小为4K，并存储100条记录。如果没有索引，查询将对整个表进行扫描，最坏的情况下，如果所有数据页都不在内存，需要读取10^4个页面，如果这10^4个页面在磁盘上随机分布，需要进行10^4次I/O，假设磁盘每次I/O时间为10ms(忽略数据传输时间)，则总共需要100s(但实际上要好很多很多)。如果对之建立B-Tree索引，则只需要进行log100(10^6)=3次页面读取，最坏情况下耗时30ms。这就是索引带来的效果，很多时候，当你的应用程序进行SQL查询速度很慢时，应该想想是否可以建索引）</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">3：应尽量避免在where子句中使用!=或者是&lt;&gt;操作符号。否则引擎将放弃使用索引，进而进行全表扫描。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">4：应尽量避免在where子句中使用or来连接条件，否则导致放弃使用索引而进行全表扫描。可以使用 union 或者是 union all代替。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">例如： select id from user where num =10 or num =20 这个语句景导致引擎放弃num索引，而要全表扫描来进行处理的。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">可以使用union 或者是 union all来代替。如下：</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">select id from user where num = 10;</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">union all</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">select id from user where num =20;</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">(union 和 nuion all 的区别这里就不赘述了)</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">5：in 和 not in 也要慎用，否则将会导致全表扫描。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">in 对于连续的数组，可以使用between ...and.来代替。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">例如：</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">select id from user where num in (1,2,3);</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">像这样连续的就可以使用between ...and...来代替了。如下：</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">select id from user where num between 1 and 3;</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">6：like使用需注意</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">下面这个查询也将导致全表查询：</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">select id from user where name like &#39;%三&#39;；</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">如果想提高效率，可以考虑到全文检索。比如solr或是luncene</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">而下面这个查询却使用到了索引：</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">select id from user where name like &#39;张%&#39;；</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">7：where子句参数使用时候需注意</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">如果在where子句中使用参数，也会导致全表扫描。因为sql只会在运行时才会解析局部变量。但优化程序不能将访问计划的选择推迟到运行时；必须在编译时候进行选择。然而，如果在编译时建立访问计划，变量的值还是未知大，因而无法作为索引选择输入项。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">如下面的语句将会进行全表扫描：</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">select id from user where num = @num</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">进行优化，我们知道num就是主键。是索引。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">所以可以改为强制查询使用索引：</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">select id from user where (index(索引名称)) where num = @num;</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">8：尽量避免在where子句中对字段进行表达式操作，这将导致引擎放弃使用索引而进行全表扫描。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">例如：select id from user where num/2=100</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">应修改为：</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">select id from user where num = 100*2;</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">9：尽量避免爱where子句中对字段进行函数操作，这将导致引擎放弃索引，而进行全表扫描。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">例如：</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">select id from user substring(name,1,3) = &#39;abc&#39; ，这句sql的含义其实就是，查询name以abc开头的用户id</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">(注：substring(字段，start,end)这个是mysql的截取函数)</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">应修改为：</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">select id from user where name like &#39;abc%&#39;;</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">10：不要在where子句中的&quot;=&quot;左边进行函数、算术运算或是使用其他表达式运算，否则系统可能无法正确使用索引</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">11：复合索引查询注意</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">在使用索引字段作为条件时候，如果该索引是复合索引，那么必须使用该索引中的第一个字段作为条件时候才能保证系统使用该所以，否则该索引将不会被使用，并且应尽可能的让字段顺序和索引顺序一致。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">12：不要写一些没意义的查询。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">例如：需要生成一个空表结构和user表结构一样(注：生成的新 new table的表结构和 老表 old table 结构一致)</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">select col1,col2,col3.....into newTable from user where 1=0</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">上面这行sql执行后不会返回任何的结果集，但是会消耗系统资源的。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">应修改为：</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">create table newTable (....)这种语句。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">13：很多时候用exists 代替 in是一个很好的选择。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">比如：</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">select num from user where num in(select num from newTable);</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">可以使用下面语句代替：</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">select num from user a where exists(select num from newTable b where b.num = a.num );</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">14：并不是所有索引对查询都有效，sql是根据表中数据进行查询优化的，当索引lie(索引字段)有大量重复数据的时候，sql查询可能不会去利用索引。如一表中字段 sex、male、female 几乎各一半。那么即使在sex上创建了索引对查询效率也起不了多大作用。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">15：索引创建需注意</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">并非索引创建越多越好。索引固然可以提高相应的查询效率，但是同样会降低insert以及update的效率。因为在insert或是update的时候有可能会重建索引或是修改索引。所以索引怎样创建需要慎重考虑，视情况而定。一个表中所以数量最好不要超过6个。若太多，则需要考虑一些不常用的列上创建索引是否有必要。</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">转自：https://blog.csdn.net/qq_34944535/article/details/78641822</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 16px 0px; font-size: 16px; color: rgb(34, 34, 34); line-height: 26px; text-align: justify; word-break: break-all; font-family: &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, SimHei, Arial, SimSun; background-color: rgb(255, 255, 255);">&nbsp;</p>

						<hr />
						<p class="asb-post-footer tc"><strong>【公告】</strong><a target="_blank" href="http://localhost:8080">版权声明</a></p>
						<div style="text-align: center;padding: 20px 0 10px;margin:20px 0 0px">
						 <img src="http://localhost:8080/qrcode?k=http://localhost:8080/blogs/fzqwHCk76W38LW6J7CarHV.html" style="padding: 20px;" width="240px" height="240px" title="" alt=""><br/>欢迎扫描下载《ITbooking.net》APP学习交流平台
						</div>
						<p class="post-copyright tc">如未加特殊说明，此网站文章均为原创，转载必须注明出处。<a href="http://localhost:8080">中华墨风's Blog</a> » </p>
						<p class="post-copyright tc tp4 pr"><a href="http://localhost:8080/blogs/fzqwHCk76W38LW6J7CarHV.html">《高mysql千万级大数据SQL查询优化几条经验》</a></p>
					</div>
					<footer class="post-footer">
						<div class="post-eof"></div>
					</footer>
				</article>
				<div class="post-spread"></div>
			</div>
		</div>
		<div class="comments v" id="comments">
			<div class="vwrap">
				<div class="vedit">
					<textarea id="txt_message" maxlength="400" class="veditor vinput" placeholder="Just go go" style=""></textarea>
					<div class="vemojis">
						<i name="grinning" title="grinning">😀</i><i name="smiley"
							title="smiley">😃</i><i name="smile" title="smile">😄</i><i
							name="grin" title="grin">😁</i><i name="laughing"
							title="laughing">😆</i><i name="sweat_smile" title="sweat_smile">😅</i><i
							name="joy" title="joy">😂</i><i name="blush" title="blush">😊</i><i
							name="innocent" title="innocent">😇</i><i name="wink"
							title="wink">😉</i><i name="relieved" title="relieved">😌</i><i
							name="heart_eyes" title="heart_eyes">😍</i><i
							name="kissing_heart" title="kissing_heart">😘</i><i
							name="kissing" title="kissing">😗</i><i
							name="kissing_smiling_eyes" title="kissing_smiling_eyes">😙</i><i
							name="kissing_closed_eyes" title="kissing_closed_eyes">😚</i><i
							name="yum" title="yum">😋</i><i
							name="stuck_out_tongue_winking_eye"
							title="stuck_out_tongue_winking_eye">😜</i><i
							name="stuck_out_tongue_closed_eyes"
							title="stuck_out_tongue_closed_eyes">😝</i><i
							name="stuck_out_tongue" title="stuck_out_tongue">😛</i><i
							name="sunglasses" title="sunglasses">😎</i><i name="smirk"
							title="smirk">😏</i><i name="unamused" title="unamused">😒</i><i
							name="disappointed" title="disappointed">😞</i><i name="pensive"
							title="pensive">😔</i><i name="worried" title="worried">😟</i><i
							name="confused" title="confused">😕</i><i name="persevere"
							title="persevere">😣</i><i name="confounded" title="confounded">😖</i><i
							name="tired_face" title="tired_face">😫</i><i name="weary"
							title="weary">😩</i><i name="angry" title="angry">😠</i><i
							name="rage" title="rage">😡</i><i name="no_mouth"
							title="no_mouth">😶</i><i name="neutral_face"
							title="neutral_face">😐</i><i name="expressionless"
							title="expressionless">😑</i><i name="hushed" title="hushed">😯</i><i
							name="frowning" title="frowning">😦</i><i name="anguished"
							title="anguished">😧</i><i name="open_mouth" title="open_mouth">😮</i><i
							name="astonished" title="astonished">😲</i><i name="dizzy_face"
							title="dizzy_face">😵</i><i name="flushed" title="flushed">😳</i><i
							name="scream" title="scream">😱</i><i name="fearful"
							title="fearful">😨</i><i name="cold_sweat" title="cold_sweat">😰</i><i
							name="cry" title="cry">😢</i><i name="disappointed_relieved"
							title="disappointed_relieved">😥</i><i name="sob" title="sob">😭</i><i
							name="sweat" title="sweat">😓</i><i name="sleepy" title="sleepy">😪</i><i
							name="sleeping" title="sleeping">😴</i><i name="mask"
							title="mask">😷</i><i name="smiling_imp" title="smiling_imp">😈</i><i
							name="smiley_cat" title="smiley_cat">😺</i><i name="smile_cat"
							title="smile_cat">😸</i><i name="joy_cat" title="joy_cat">😹</i><i
							name="heart_eyes_cat" title="heart_eyes_cat">😻</i><i
							name="smirk_cat" title="smirk_cat">😼</i><i name="kissing_cat"
							title="kissing_cat">😽</i><i name="scream_cat"
							title="scream_cat">🙀</i><i name="crying_cat_face"
							title="crying_cat_face">😿</i><i name="pouting_cat"
							title="pouting_cat">😾</i><i name="cat" title="cat">🐱</i><i
							name="mouse" title="mouse">🐭</i><i name="cow" title="cow">🐮</i><i
							name="monkey_face" title="monkey_face">🐵</i><i name="hand"
							title="hand">✋</i><i name="fist" title="fist">✊</i><i name="v"
							title="v">✌️</i><i name="point_up" title="point_up">👆</i><i
							name="point_down" title="point_down">👇</i><i name="point_left"
							title="point_left">👈</i><i name="point_right"
							title="point_right">👉</i><i name="facepunch" title="facepunch">👊</i><i
							name="wave" title="wave">👋</i><i name="clap" title="clap">👏</i><i
							name="open_hands" title="open_hands">👐</i><i name="+1"
							title="+1">👍</i><i name="-1" title="-1">👎</i><i name="ok_hand"
							title="ok_hand">👌</i><i name="pray" title="pray">🙏</i><i
							name="ear" title="ear">👂</i><i name="eyes" title="eyes">👀</i><i
							name="nose" title="nose">👃</i><i name="lips" title="lips">👄</i><i
							name="tongue" title="tongue">👅</i><i name="heart" title="heart">❤️</i><i
							name="cupid" title="cupid">💘</i><i name="sparkling_heart"
							title="sparkling_heart">💖</i><i name="star" title="star">⭐️</i><i
							name="sparkles" title="sparkles">✨</i><i name="zap" title="zap">⚡️</i><i
							name="sunny" title="sunny">☀️</i><i name="cloud" title="cloud">☁️</i><i
							name="snowflake" title="snowflake">❄️</i><i name="umbrella"
							title="umbrella">☔️</i><i name="coffee" title="coffee">☕️</i><i
							name="airplane" title="airplane">✈️</i><i name="anchor"
							title="anchor">⚓️</i><i name="watch" title="watch">⌚️</i><i
							name="phone" title="phone">☎️</i><i name="hourglass"
							title="hourglass">⌛️</i><i name="email" title="email">✉️</i><i
							name="scissors" title="scissors">✂️</i><i name="black_nib"
							title="black_nib">✒️</i><i name="pencil2" title="pencil2">✏️</i><i
							name="x" title="x">❌</i><i name="recycle" title="recycle">♻️</i><i
							name="white_check_mark" title="white_check_mark">✅</i><i
							name="negative_squared_cross_mark"
							title="negative_squared_cross_mark">❎</i><i name="m" title="m">Ⓜ️</i><i
							name="i" title="i">ℹ️</i><i name="tm" title="tm">™️</i><i
							name="copyright" title="copyright">©️</i><i name="registered"
							title="registered">®️</i>
					</div>
					<div class="vinput vpreview" style="display: none">
						<p>试了下 Java OpenCV
							做人脸检测，确实很强大。实现起来非常简单，但是精准度不够。不过应该能满足某些场景，比如相机的自动对焦等。这里分享一下相关的代码。</p>
					</div>
				</div>
				<div class="vcontrol">
					<div class="col col-20" title="Markdown is supported">
						还可以输入：<span class="numtip">400</span>&nbsp;字
					</div>
					<div class="col col-80 text-right">
						<a href="javacript:void(0);" onclick="mkComment.vcontrol(this)" class="vemoji-btn" style="margin-right: 20px;">Emoji</a> 
						<button type="button" @click="saveComment" title="Cmd|Ctrl+Enter" class="vsubmit vbtn">回复</button>
					</div>
				</div>
				<div style="display: none;" class="vmark"></div>
			</div>
			<div class="vinfo" style="display: block;">
				<div class="vcount col">
					<span class="vnum">{{total}}</span> 评论
				</div>
			</div>
			
			
			<div class="vlist" id="vlist_box">
				<div class="vcard" :id="'vcard_'+comment.id"  v-for="(comment,index) in comments">
					<img class="vimg" onerror="imgError(this)" :src="basePath+'/'+comment.headerPic">
					<div class="vh">
						<div class="vhead">
							<span class="vnick">{{comment.username}}</span> <span class="vsys">{{comment.ip}}</span> <span class="vsys">{{comment.osbroswer}}</span>
						</div>
						<div class="vmeta">
							<span class="vtime">{{comment.createTime}} / {{comment.createTime|fomatTime}}</span>
							<span v-if="session_user==15074816437" :index="index" :opid="comment.id" @click="del" class="vat">&nbsp;/&nbsp;删除</span> 
							<span :cid="comment.userId" :at="'@'+comment.username" :opid="comment.id" :index="index" @click="reply" class="vat">回复</span>
						</div>
						<div class="vcontent">
							<p v-html="comment.content"></p>
						</div>
						<div class="vquote">
							<div class="vcard" :id="'vcard_'+ccomment.id" v-for="ccomment in comment.children" >
								<img class="vimg" :src="basePath+'/'+ccomment.headerPic">
								<div class="vhead">
									<span class="vnick">{{ccomment.username}}</span> <span class="vsys">{{ccomment.ip}}</span> <span class="vsys">{{ccomment.osbroswer}}</span>
								</div>
								<div class="vmeta">
									<span class="vtime">{{ccomment.createTime}} / {{ccomment.createTime|fomatTime}}</span> 
									<span v-if="session_user==15074816437" :index="index" :opid="ccomment.id" @click="del" class="vat">&nbsp;/&nbsp;删除</span>
									<span :cid="ccomment.userId" :at="'@'+ccomment.username" :index="index" :opid="comment.id" @click="reply" class="vat">回复</span>
								</div>
								<div class="vcontent">
									<p v-html="ccomment.content"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tc" style="padding:100px;background:#fefefe;" v-if="comments.length==0">暂无评论</div>
				<div v-if="!hasNext" class="loadmore"><a href="javascript:void(0)" @click="loadmore">加载更多({{pages}})</a></div>
				<div v-if="hasNext" class="loadmore animated fadeOut">加载完毕</div>
			</div>
		</div>
	
	</div>
</main>
</div>
<aside id="sidebar" class="sidebar ">
			<div class="sidebar-inner">

				<section class="site-overview">
					<div class="site-author motion-element" itemprop="author"
						itemscope="" itemtype="http://schema.org/Person"
						style="opacity: 1; display: block; transform: translateX(0px);">
				<div class="site-author-avatar"></div>
				<p class="site-author-name" itemprop="name">Pandara</p>
			</div>
			<p class="site-description motion-element" itemprop="description"
				style="opacity: 1; display: block; transform: translateX(0px);">一切皆为年少轻狂之诳语·DeepLearning
				小白</p>
			<nav class="site-state motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">
				<div class="site-state-item site-state-posts">
					<a href="/archives"> <span class="site-state-item-count">92</span>
						<span class="site-state-item-name">日志</span>
					</a>
				</div>

				<div class="site-state-item site-state-categories">
					<a href="/categories"> <span class="site-state-item-count">9</span>
						<span class="site-state-item-name">分类</span>
					</a>
				</div>

				<div class="site-state-item site-state-tags">
					<a href="/tags"> <span class="site-state-item-count">44</span>
						<span class="site-state-item-name">标签</span>
					</a>
				</div>

			</nav>

			<div class="links-of-author motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">

				<span class="links-of-author-item"> <a
					href="https://github.com/PandaraWen" target="_blank">Github</a>
				</span> <span class="links-of-author-item"> <a
					href="https://dribbble.com/PandaraWen" target="_blank">Dribbble</a>
				</span> <span class="links-of-author-item"> <a
					href="https://twitter.com/WenPandara" target="_blank">Twitter</a>
				</span>

			</div>

			<div class="links-of-author motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">

				<p class="site-author-name">基情链接</p>

				<span class="links-of-author-item"> <a
					href="http://aevit.xyz/" target="_blank">Aevit's Lab</a>
				</span> <span class="links-of-author-item"> <a
					href="http://w3ctrain.com" target="_blank">W3cTrain</a>
				</span> <span class="links-of-author-item"> <a
					href="http://mrazy.com" target="_blank">梦灯笼</a>
				</span>

			</div>

		</section>

		<div class="side-bar-foot-decorate">
			<div class="side-bar-man motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);"></div>
			<div class="side-bar-star motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);"></div>
		</div>
	</div>
</aside><footer id="footer" class="footer">
		<div class="footer-inner">
			<div class="copyright">

				© &nbsp; <span itemprop="copyrightYear">2018-2020</span> <span
					class="with-love"> <i class="icon-heart"></i>
				</span> <span class="author" itemprop="copyrightHolder">中华墨风</span>
			</div>

			<div class="powered-by">
				由 <a class="theme-link" href="http://hexo.io">Hexo</a> 强力驱动
			</div>

			<div class="powered-by">湘ICP备16011548号-1</div>

			<div class="theme-info">
				主题 - <a class="theme-link"
					href="https://github.com/iissnan/hexo-theme-next"> NexT </a>
			</div>
		</div>
	</footer>
</div>

<div class="back-to-top" style="display: none;"></div>

<div class="sidebar-toggle">
	<div class="sidebar-toggle-line-wrap">
		<span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
		<span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
		<span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
	</div>
</div>


<!--弹出登录-->
<div id="itbooking-loginbox" class="popup search-popup local-search-popup animated bounceInDown" style="display: none;">
<div class="app-location">
	<h3 class="errorbox animated flipInY" style=""></h3>
	<h2>登录</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<input type="text" class="cctext" id="telephone" autofocus="autofocus" autocomplete="off" placeholder="报上手机" maxlength="11" >
		<input type="password" class="ccron" id="password"   autocomplete="off" placeholder="输入钥匙" maxlength="16">
		<span id="codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" id="code" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<div class="submit"><input type="submit" id="loginbtn" value="Sign in"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadForget();" style="font-size: 16px;">忘记密码 ?</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLoginReg();" style="font-size: 16px;">注册</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>
<style>
	.tipphone{border-radius:20px;color: #fff;position: absolute;width:100px;top:28px;right:10px;font-size: 12px;border-bottom: 0;background:#0bd38a;padding:3px 0 5px;/* display: none; */}
	/* .relocation_box:hover .tipphone{display:block} */
</style>
<!--弹出注册-->
<div id="itbooking-regbox" class="popup search-popup local-search-popup animated bounceInDown">
<div class="app-location relocation_box">
	<h3 class="errorbox animated flipInY" style="position: absolute;font-size:20px;right:0;left:0;margin:0 auto;color:#fff;display: none"></h3>
	<h2>注册</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<span class="tipinputspan" style="position: relative;display: block;">
			<input type="text" class="cctext" id="r_telephone"  autofocus="autofocus" autocomplete="off" placeholder="手机号码" maxlength="11" >
			<a href="javascript:void(0);" id="tipphone_get" class="tipphone">提取短信码</a>
		</span>
		<span class="rred_codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" id="r_code" disabled="disabled" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<span class="rred_codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" disabled="disabled" id="r_phocode" placeholder="输入短信码" maxlength="6">
		</span>
		<span class="rred_codebox"  style="display: none;">
			<input type="password" class="ccron" disabled="disabled" id="r_password"   autocomplete="off" placeholder="输入密码" maxlength="16">
		</span>
		<div class="rred_codebox submit" style="display: none;"><input type="submit" data-isopen="false" id="r_loginbtn" value="Reg in"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadForget();" style="font-size: 16px;">忘记密码 ?</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLogin();" style="font-size: 16px;">登录</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>



<!--弹出忘记密码-->
<div id="itbooking-forgetbox" class="popup search-popup local-search-popup animated bounceInDown"  >
<div class="app-location">
	<h3 class="errorbox animated flipInY" style="position: absolute;font-size:20px;right:0;left:0;margin:0 auto;color:#fff;display: none"></h3>
	<h2>找回密码</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<span style="position: relative;display: block;">
			<input type="text" class="cctext" id="f_telephone" autofocus="autofocus" autocomplete="off" placeholder="手机号码" maxlength="11" >
			<a href="javascript:void(0);" style="border-radius:20px;color: #fff;position: absolute;width:100px;top:28px;right:10px;font-size: 12px;border-bottom: 0;background:#0bd38a;padding:3px 0 5px">提取短信码</a>
		</span>
		<span style="position: relative;display: none;">
			<input type="text" class="ccron" id="f_code" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<span style="position: relative;display: none;">
			<input type="text" class="ccron" id="f_phonecode" placeholder="输入短信码" maxlength="4">
		</span>
		<span style="display: none;">
			<input type="password" class="ccron" id="f_password"   autocomplete="off" placeholder="输入钥匙" maxlength="16">
		</span>
		<div class="submit"><input type="submit" id="f_loginbtn" value="Forget Back"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadLoginReg();" style="font-size: 16px;">注册</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLogin();" style="font-size: 16px;">登录</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>
<script type="text/javascript" src="http://localhost:8080/js/highcode/highlight.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/clipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/vue.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/vue-resource.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/blogcomment.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/player.js"></script>
<script>$(".playbox").trigger("click");</script>
</body>
</html>
