<!DOCTYPE html>
<html class="theme-next use-motion">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<link rel="shortcut icon" href="http://localhost:8080/img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="http://localhost:8080/css/main.css">
<link rel="stylesheet" href="http://localhost:8080/css/compoment.css?4bf3b5f">
<script>var basePath="http://localhost:8080";var adminPath="http://localhost:8080/admin";</script><script type="text/javascript" src="http://localhost:8080/js/jquery.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/md5.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/sg.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/sgutil.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/admin.js"></script><title>我是一个栈-中华墨风-'s Zone</title>
<meta name="description" content="我是一个栈，先来跟你介绍一下我的家族，我的家族是一个很古老的家族，家族成员很多，外界称呼我们这个家族为数据结构。我们是 ...">
<meta name="keywords" content="">
<style>.loadmore{background:#fbfbfb;padding:5px;margin:30px 0;text-align: center;}
	.loadmore a{display: block;border-bottom:0;}
	.rebtn{color:#333;font-size: 12px;}
	.itb-musicboxs,.itb-imgboxs{margin:20px 0px;text-align: center;overflow:hidden;}
	.itb-musicboxs,.itb-imgboxs img{width:100%;}
	.itb-audioboxs{position:absolute;bottom:-3px;left:3px;}
	.playboxs{position:absolute;z-index:3;top:0;left:0;right:0;text-align: center;line-height: auto;bottom:0;}
	.playboxs i{font-size:112px;color:#fff;}
	
</style>
</head>
<body title="双击看详情" data-edit="blog" data-opid="81" data-comment="open">
<div class="container one-column page-home ">
	<div id="pandara-brand" class="my-brand" style="opacity: 1; top: 0px;">
		<div id="space-ship" class="pandara-image  animated rotateInDownRight"></div>
		<div id="planet0" class="pandara-image r animated rotateIn"></div>
		<div id="earth" class="pandara-image animated zoomInUp"></div>
		<!-- <div id="planet1" class="pandara-image animated zoomInDown"></div>
		<div id="planet2" class="pandara-image animated rotateIn"></div>
		<div id="planet3" class="pandara-image animated rotateIn"></div>
		<div id="satellite" class="pandara-image animated zoomInDown"></div>
		<div id="planet4" class="pandara-image animated rotateIn"></div> -->
		<!-- <div id="planet5" class="pandara-image animated rotateInDownRight"></div> -->
		<!-- <div id="planet6" class="pandara-image animated rotateInDownLeft"></div> -->
	</div>  
	<div class="headband"></div>
	<header id="header" class="header" >
		<div class="header-inner ">
			<h1 class="site-meta animated2 fadeInDown">
				<span class="logo-line-before"><i></i></span> <span 
					class="brand" rel="start" style="opacity: 1;"> <span
					class="logo" style="opacity: 1; top: 0px;">
						<i class="icon-logo"></i>
				</span> <span class="site-title"
					style="opacity: 1; top: 0px;"><a href="http://localhost:8080" class="cof" style="border-bottom: none;">中华墨风's zone~~~</a></span>
					<a href="javascript:void(0);" class="loginlink fz14 cof" onclick="mkLogin.loadLogin()">登录</a>
					<a href="javascript:void(0);" class="loginlink fz14 cof" onclick="mkLogin.loadLoginReg()">/&nbsp;注册</a>
					<span id="loginspan" class="fz14"></span>
				</span> 
			
			</h1>
			
			<div class="site-nav-toggle">
				<button>
					<span class="btn-bar"></span> <span class="btn-bar"></span> <span
						class="btn-bar"></span>
				</button>
			</div>
			<nav class="site-nav">
				<ul id="menu" class="menu animated fadeInDown">
					<li class="menu-item menu-item-archives" style="opacity: 1; transform: translateY(0px);"><a class="active" href="http://localhost:8080" rel="section"> <i class="menu-item-icon  fa fa-home"></i> <br> 首页</a></li>
					<li class="menu-item menu-item-archives menu-item-course" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/course" rel="section"> <i class="menu-item-icon  fa fa-bookmark"></i> <br> 课程</a></li>
					<li class="menu-item menu-item-archives menu-item-blog" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/blog" rel="section"> <i class="menu-item-icon  fa fa-map-signs"></i> <br> 故事</a></li>
					<li class="menu-item menu-item-archives menu-item-archives2" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/archives" rel="section"> <i class="menu-item-icon  fa fa-quora"></i> <br> 归档</a></li>
					<li class="menu-item menu-item-tags"
						style="opacity: 1; transform: translateY(0px);"><a
						href="https://gitee.com/kekesam" target="_blank" rel="section"> <i class="menu-item-icon fa fa-git-square"></i>
							<br> Git码云
					</a></li> 
					<li class="menu-item menu-item-about"
						style="opacity: 1; transform: translateY(0px);"><a
						href="http://localhost:8080/about"  target="_blank" rel="section"> <i
							class="menu-item-icon fa fa-user-circle-o"></i> <br> 我是谁˚∆˚
					</a></li> 
				</ul>

			</nav>
		</div>
	</header>	<main id="main" class="main">
	 	<div class="main-inner"style="width: px">
		<div id="content" class="content">
			<div id="posts" class="posts-expand">
				<article class="post post-type-normal animated  fadeIn">
					<header class="post-header">
						<h1 class="post-title">
							<a class="post-title-link" href="http://localhost:8080/blogs/PYVTSkf7WD81XPSgBJrnq5.html">我是一个栈</a>
						</h1>
						<div class="post-meta">
							<span class="post-time"> 发表于 <time
									datetime="2018/07/19 14:05:50">2018/07/19 14:05:50</time>
							</span> <span class="post-category"> &nbsp; | &nbsp; 分类于 :&nbsp;<span><a
									href="http://localhost:8080/search/1" rel="index">
										<span>前端</span>
								</a> </span></span> <span id="busuanzi_container_page_pv"
								style="display: inline;"> &nbsp; | &nbsp; 访客 :&nbsp;<span
								id="bloghits">184</span> &nbsp; 评论 :&nbsp;<a href="#txt_message"
								id="commentnum">0</a>
							</span>
							<span id="editbox"></span>
						</div>
					</header>
					<div class="post-body">
						<div class="itb-imgboxs pr">
						</div>
						<div class="asb asb-post asb-post-01"></div> 
<p>我是一个栈，先来跟你介绍一下我的家族，我的家族是一个很古老的家族，家族成员很多，外界称呼我们这个家族为<strong>数据结构</strong>。我们是计算机世界中存储和组织数据的。数据结构家族在计算机世界中是至关重要的，因为我们家族功能的强大，现代编程语言及其API中都有我们家族成员的身影。</p> 
<p>我的家族是一个庞大的家族。家族中也有几大分支，比如说树、图、堆、散列表等。各个分支都有不同的能力，所以很多人选择适当的数据结构是一项很重要的工作。我们家族和算法家族是世交，基本上所有重要场合两家都会一起出现。</p> 
<p>我叫栈，我的爸爸叫数组，我的妈妈叫链表，我的双胞胎弟弟叫队列。我们这个家庭是整个数据结构家族中比较重要的家庭。</p> 
<p>和你说过了，我们数据结构家族是计算机世界中储存和组织数据的。我的家族之所以这么强大，就是因为我们要应付各种需求，提供不同的数据存储方式。我的四个家庭成员分别可以解决不同的数据存取需求。</p> 
<h3>数组</h3> 
<p>说起我的爸爸——数组，他是数据结构家族的族长，人们都说他是数据结构大家族的根基。很多编程语言都内置数组。爸爸是个很富有的人，他有很多土地。每当有人找他来存储数据的时候，他都会预先划分出一块连续的土地（连续的内存），然后把别人交给他的数据按顺序存储在这些连续的土地中，当别人来取这些数据的时候，需要提供给数组要取哪块土地中的数据（数组的位置索引），然后数组就可以直接去那块土地中把数据取出来，交给需要读取这个数据的人。并不是所有数据数组都能帮忙存储的，父亲只会帮别人存储相同类型的数据。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/数组.jpg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/数组.jpg" alt="数组" width="461" height="82" class="aligncenter size-full wp-image-2209"></a></p> 
<p>我的家族的所有人都支持几个基本的操作：插入、删除、读取。</p> 
<p>因为数组爸爸在存储数据的时候，是按照顺序保存的，他保存数据的土地是一块一块相连的。那么，他的特点就是寻址读取数据比较容易，但是插入和删除比较困难。这个其实比较好理解。读取容易的原因是只要你告诉数组你要从哪块土地读取数据，他就会直接去那块土地中把数据取出来给你。插入和删除比较麻烦，主要是因为这些存储数据的空间都是连着的，比如编号为0-1-2-3-4这五块土地中都保存了数据，但是现在你要往1中插入一块数据，那就意味着从1开始，后面的所有土地中的数据都要往后移一个位置。这是很大的工作量啊。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/数组1.jpg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/数组1.jpg" alt="数组1" width="514" height="206" class="aligncenter size-full wp-image-2210"></a></p> 
<h3>链表</h3> 
<p>人们都说，男女搭配，干活不累。由于数组爸爸有寻址容易，插入和删除困难的问题，他在找老婆的时候特意找了一个和自己互补的姑娘——链表。链表妈妈的特点正好是寻址困难，插入和删除容易。</p> 
<p>在帮助别人存储数据这件事上，链表的方式和数组有很大不同。数组是提前划分了一大片连续的土地，用来存储数据。但是链表不是这么做的，因为链表妈妈家里并没有数组爸爸家里那么富有。他的数据存储并不是连续的，能这么做的原因是妈妈存储数据的土地中有两块区域，一块用来保存数据，一块用来记录下一个数据保存在哪块土地中（指针）。这样，别人找他存储数据的时候，她就要根据指示先找到下一块空余的土地，然后把数据保存在里面。链表这样的数据存储方式可以把一些碎片空间利用起来。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/链表.jpg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/链表.jpg" alt="链表" width="577" height="97" class="aligncenter size-full wp-image-2212"></a></p> 
<p>通过上面的这种保存数据的方式，链表在插入和删除数据的时候比较容易，比如编号为0-1-2-3-4这五块土地中都保存了数据，但是现在你要往1中插入一块数据，那么只需要依次更改0号土地和1号土地中记录下一块土地地址的值就行了。对于其他的数据存储没有任何影响。但是，如果你想从数据中取出一块数据那可就麻烦了，因为这意味着链表妈妈要帮你从第一块土地开始挨个帮你找。一直找到你要的数据为止。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/链表1.jpg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/链表1.jpg" alt="链表1" width="673" height="159" class="aligncenter size-full wp-image-2213"></a></p> 
<h3>我和我的胞弟</h3> 
<p>栈，也就是我，一个英俊潇洒的数据结构。我和队列是一堆孪生兄弟。我们两个都可以用数组和链表来实现。虽然是双胞胎，但是我们两个都是有性格的，我们要求别人存储数据和取出数据的顺序要按照我们的规矩来。</p> 
<p>我的原则是：先进后出（栈）</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/stack.jpg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/stack.jpg" alt="stack" width="473" height="257" class="aligncenter size-full wp-image-2216"></a></p> 
<p>弟弟的原则是：先进先出（队列）</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/03/queue1.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/03/queue1.png" alt="queue" width="533" height="177" class="aligncenter size-full wp-image-2218"></a></p> 
<p>我给你举个例子你就明白了，我和弟弟每个人都有一个管子，用来帮你们保存数据，当然这个管子可能是用数组爸爸是实现的也可能是链表妈妈实现的。我们握住管子的两头，我的这个管子只能通过管子左面的口子放入东西，也只能从左面的口子取出东西。右面的口子是不开的。而弟弟队列呢，他的管子的左面的口子放东西，管子的右面的口子取东西。</p> 
<h3>爸爸妈妈是如何生出我和弟弟的</h3> 
<p>上面说过了，栈和队列都是可以通过数组或者链表实现的。当然了，父母创造孩子，天经地义嘛。那么，先来看看我是如何实现的。作为一种数据结构，我接口有isEmpty()、size()、push()、pop()、peek()以及迭代。</p> 
<p>先来看看如何通过数组实现栈：</p> 
<pre><code>public class Stack&lt;Item&gt; implements Iterable&lt;Item&gt; {
    private Item[] a;         // 数组表示栈，栈顶在最大的下标。
    private int n;            // 栈内元素的个数

    /**
     * 初始化一个空栈
     */
    public Stack() {
        a = (Item[]) new Object[2];
        n = 0;
    }

    /**
     * 判断栈内是否有元素
     */
    public boolean isEmpty() {
        return n == 0;
    }

    /**
     * 返回栈内元素个数
     */
    public int size() {
        return n;
    }

    // 改变栈的大小
    private void resize(int capacity) {
        assert capacity &gt;= n;
        // 注意不能直接创建泛型数组
        Item[] temp = (Item[]) new Object[capacity];
        for (int i = 0; i &lt; n; i++) {
            temp[i] = a[i];
        }
        a = temp;
       // 也可以选择下面这种方式改变数组大小
       // a = java.util.Arrays.copyOf(a, capacity);
    }

    /**
     * 压入元素
     */
    public void push(Item item) {
        //先判断n的大小，如果栈满则改变栈的大小
        if (n == a.length) resize(2*a.length);    
        a[n++] = item;                
    }

    /**
     * 弹出并返回元素
     */
    public Item pop() {
        if (isEmpty()) throw new NoSuchElementException("Stack underflow");
        Item item = a[n-1];
        a[n-1] = null;   //防止对象游离
        n--;
        // 如果有必要则调整栈的大小
        if (n &gt; 0 &amp;&amp; n == a.length/4) resize(a.length/2);
        return item;
    }


    /**
     * 返回但不弹出栈顶元素
     */
    public Item peek() {
        if (isEmpty()) throw new NoSuchElementException("Stack underflow");
        return a[n-1];
    }

    /**
     * 返回一个可以进行先进后出迭代的迭代器
     */
    public Iterator&lt;Item&gt; iterator() {
        return new ReverseArrayIterator();
    }

    // 用内部类实现迭代器接口，实现从栈顶往栈底的先进后出迭代，没有实现remove()方法。 
    private class ReverseArrayIterator implements Iterator&lt;Item&gt; {
        private int i;
        public ReverseArrayIterator() {
            i = n-1;
        }
        public boolean hasNext() {
            return i &gt;= 0;
        }
        public void remove() {
            throw new UnsupportedOperationException();
        }
        public Item next() {
            if (!hasNext()) throw new NoSuchElementException();
            return a[i--];
        }
    }


    /**
     * 测试
     */
    public static void main(String[] args) {
        Stack&lt;String&gt; stack = new Stack&lt;String&gt;();
        while (!StdIn.isEmpty()) {
            String item = StdIn.readString();
            if (!item.equals("-")) stack.push(item);
            else if (!stack.isEmpty()) StdOut.print(stack.pop() + " ");
        }
        StdOut.println("(" + stack.size() + " left on stack)");
    }
}
</code></pre> 
<p>再来看看如何使用链表实现栈：</p> 
<pre><code>public class Stack&lt;Item&gt; implements Iterable&lt;Item&gt; {
    private Node&lt;Item&gt; first;     //栈顶节点
    private int N;                // 栈内元素数量

    // 辅助类Node，用于形成链表
    private static class Node&lt;Item&gt; {
        private Item item;
        private Node&lt;Item&gt; next;
    }

    /**
     * 初始化栈
     */
    public Stack() {
        first = null;
        N = 0;
    }

    /**
     * 判断栈是否为空
     */
    public boolean isEmpty() {
        return first == null;
        //return N == 0;
    }

    /**
     * 返回栈内元素数量
     */
    public int size() {
        return N;
    }

    /**
     * 压入元素
     */
    public void push(Item item) {
        Node&lt;Item&gt; oldfirst = first;
        first = new Node&lt;Item&gt;();
        first.item = item;
        first.next = oldfirst;
        N++;
    }

    /**
     * 弹出元素
     */
    public Item pop() {
        if (isEmpty()) throw new NoSuchElementException("Stack underflow");
        Item item = first.item;        // 需弹出的元素
        first = first.next;            // 删除头节点
        N--;
        return item;       
    }


    /**
     * 返回但不弹出元素
     */
    public Item peek() {
        if (isEmpty()) throw new NoSuchElementException("Stack underflow");
        return first.item;
    }

    /**
     * 从栈顶到栈底打印元素
     */
    public String toString() {
        StringBuilder s = new StringBuilder();
        for (Item item : this)
            s.append(item + " ");
        return s.toString();
    }


    /**
     * 实现Iterable接口
     */
    public Iterator&lt;Item&gt; iterator() {
        return new ListIterator&lt;Item&gt;(first);
    }

    // 实现Iterator接口用于迭代，没有实现remove方法
    private class ListIterator&lt;Item&gt; implements Iterator&lt;Item&gt; {
        private Node&lt;Item&gt; current;

        //初始化时，current指向栈顶
        public ListIterator(Node&lt;Item&gt; first) {
            current = first;
        }

        public boolean hasNext() {
            return current != null;
        }

        public void remove() {
            throw new UnsupportedOperationException();
        }

        public Item next() {
            if (!hasNext()) throw new NoSuchElementException();
            Item item = current.item;
            current = current.next; 
            return item;
        }
    }


    /**
     * 测试
     */
    public static void main(String[] args) {
        Stack&lt;String&gt; s = new Stack&lt;String&gt;();
        while (!StdIn.isEmpty()) {
            String item = StdIn.readString();
            if (!item.equals("-")) s.push(item);
            else if (!s.isEmpty()) StdOut.print(s.pop() + " ");
        }
        StdOut.println("(" + s.size() + " left on stack)");
    }
}
</code></pre> 
<p>同样作为数据结构的弟弟，也有些接口需要实现：isEmpty()、size()、enqueue()、dequeue()、peek()以及迭代。队列和栈不同的是，入列和出列是在两个地方，所以需要维护两个变量来表示队头和队尾。</p> 
<p>使用数组实现队列：</p> 
<pre><code>public class Queue&lt;Item&gt; implements Iterable&lt;Item&gt; {
    private Item[] q;       
    private int N;          // 队列中元素的数量
    private int first;      // 队头元素的下标
    private int last;       // 队尾元素的后一个位置的下标，也就是元素入列时可以放置的位置


    /**
     * 初始化队列，此时头尾下标重合
     */
    public Queue() {
        q = (Item[]) new Object[2];
        N = 0;
        first = 0;
        last = 0;
    }

    /**
     * 依旧用N判断队列是否为空
     */
    public boolean isEmpty() {
        return N == 0;
    }

    /**
     * 队列中元素数量
     */
    public int size() {
        return N;
    }

    // 调整数组大小
    private void resize(int max) {
        assert max &gt;= N;
        Item[] temp = (Item[]) new Object[max];
        //注意这里：把N个元素放入总大小为max的队列（max&gt;=N）
        //因为循环使用数组，从first开始的第i个元素可能保存在了first
        //前面（即last在first前面）。
        for (int i = 0; i &lt; N; i++) {
            temp[i] = q[(first + i) % q.length];
        }
        q = temp;
        //把小队列按顺序复制到大队列后重置队头和队尾
        first = 0;
        last  = N;
    }

    /**
     * 元素入列
     */
    public void enqueue(Item item) {
        if (N == q.length) resize(2*q.length);  
        q[last++] = item;   // 元素入列
        if (last == q.length) last = 0;  // 如果last超出数组下标，把last置零，循环利用数组
        N++;
    }

    /**
     * 元素出列
     */
    public Item dequeue() {
        if (isEmpty()) throw new NoSuchElementException("Queue underflow");
        Item item = q[first];
        q[first] = null;       // 防止对象游离
        N--;
        first++;
        if (first == q.length) first = 0; // 循环利用数组，下一个队头在下标为0的地方
        if (N &gt; 0 &amp;&amp; N == q.length/4) resize(q.length/2); 
        return item;
    }

    /**
     * 返回队头元素但不出列
     */
    public Item peek() {
        if (isEmpty()) throw new NoSuchElementException("Queue underflow");
        return q[first];
    }
    /**
     * 实现Iterable接口
     */
    public Iterator&lt;Item&gt; iterator() {
        return new ArrayIterator();
    }

    //实现迭代器
    private class ArrayIterator implements Iterator&lt;Item&gt; {
        //维护一个i用于迭代
        private int i = 0;
        public boolean hasNext()  { return i &lt; N; }
        public void remove()      { throw new UnsupportedOperationException();  }

        //直接利用first进行遍历，注意可能存在数组的循环利用
        public Item next() {
            if (!hasNext()) throw new NoSuchElementException();
            Item item = q[(i + first) % q.length];
            i++;
            return item;
        }
    }

   /**
     * 测试
     */
    public static void main(String[] args) {
        Queue &lt;String&gt; q = new Queue &lt;String&gt;();
        while (!StdIn.isEmpty()) {
            String item = StdIn.readString();
            if (!item.equals("-")) q.enqueue(item);
            else if (!q.isEmpty()) StdOut.print(q.dequeue() + " ");
        }
        StdOut.println("(" + q.size() + " left on queue)");
    }

}
</code></pre> 
<p>使用链表实现队列：</p> 
<pre><code>public class Queue&lt;Item&gt; implements Iterable&lt;Item&gt; {
    private Node&lt;Item&gt; first;    // 队头节点
    private Node&lt;Item&gt; last;     // 队尾节点（注意和上面的last区分，last并不是队尾元素的下标）
    private int N;               // 队列元素的数量

    // 辅助类Node
    private static class Node&lt;Item&gt; {
        private Item item;
        private Node&lt;Item&gt; next;
    }

    /**
     * 初始化队列
     */
    public Queue() {
        first = null;
        last  = null;
        N = 0;
    }

    public boolean isEmpty() {
        return first == null;
    }

    public int size() {
        return N;     
    }

    /**
     * 返回但不删除头元素
     */
    public Item peek() {
        if (isEmpty()) throw new NoSuchElementException("Queue underflow");
        return first.item;
    }

    /**
     * 元素入列
     */
    public void enqueue(Item item) {
        //记录尾节点
        Node&lt;Item&gt; oldlast = last;
        //创建新的尾节点
        last = new Node&lt;Item&gt;();
        last.item = item;
        last.next = null;
        //如果队列是空的，将first置为last，因为这时候队列中只有一个元素
        if (isEmpty()) first = last;
        //否则执行正常的在尾节点插入新节点的操作
        else           oldlast.next = last;
        N++;
    }

    /**
     *元素出列 
     */
    public Item dequeue() {
        if (isEmpty()) throw new NoSuchElementException("Queue underflow");
        //队头元素出列
        Item item = first.item;
        first = first.next;
        N--;
        //如果这时候队列为空，表示原来只有一个元素，这时候也将last置为null
        if (isEmpty()) last = null;  
        return item;
    }

    public String toString() {
        StringBuilder s = new StringBuilder();
        for (Item item : this)
            s.append(item + " ");
        return s.toString();
    } 
    public Iterator&lt;Item&gt; iterator()  {
        return new ListIterator&lt;Item&gt;(first);  
    }

    // 实现迭代
    private class ListIterator&lt;Item&gt; implements Iterator&lt;Item&gt; {

        private Node&lt;Item&gt; current;
        //要实现迭代，我们只需要维护一个节点，并在开始的时候将它置为first
        public ListIterator(Node&lt;Item&gt; first) {
            current = first;
        }

        public boolean hasNext()  { return current != null;}
        public void remove()      { throw new UnsupportedOperationException();  }

        public Item next() {
            if (!hasNext()) throw new NoSuchElementException();
            Item item = current.item;
            current = current.next; 
            return item;
        }
    }


    /**
     * 测试
     */
    public static void main(String[] args) {
        Queue&lt;String&gt; q = new Queue&lt;String&gt;();
        while (!StdIn.isEmpty()) {
            String item = StdIn.readString();
            if (!item.equals("-")) q.enqueue(item);
            else if (!q.isEmpty()) StdOut.print(q.dequeue() + " ");
        }
        StdOut.println("(" + q.size() + " left on queue)");
    }
}
</code></pre> 
<p>我是一个栈，我的双胞胎弟弟叫队列。我的爸爸是数组，我的妈妈是链表。 你们可以使用数组和链表来实现栈和队列。</p> 
<p>好了，今天关于我和我的家族的故事就先给你介绍到这里了。偷偷告诉你一个秘密，其实我和弟弟之间是可以互相转换的。也就是说可以使用栈来实现队列，同样也可以使用队列来实现栈。关于这个小秘密，我下次再给你介绍哦。</p> 
<h3>参考资料</h3> 
<p><a href="https://blog.csdn.net/u011331844/article/details/37963367">“数组、堆栈”与“链表、队列”的区别</a></p> 
<p class="asb-post-footer"><strong>【公告】</strong><a target="_blank" href="http://www.hollischuang.com/转载说明">版权声明</a></p>(全文完)
<center>
 <img src="http://www.hollischuang.com/wp-content/uploads/2016/01/qrcode_for_gh_4ebd1b130cbe_430-1.jpg" width="300px" height="300px" title="" alt="">欢迎关注HollisChuang微信公众账号
</center>
<p class="post-copyright">如未加特殊说明，此网站文章均为原创，转载必须注明出处。<a href="http://www.hollischuang.com">HollisChuang's Blog</a> » <a href="http://www.hollischuang.com/archives/2207">我是一个栈</a></p><p>此文转自：<a href='http://www.hollischuang.com/archives/2207' target='_blank'>http://www.hollischuang.com/archives/2207</a></p>
						<hr />
						<p class="asb-post-footer tc"><strong>【公告】</strong><a target="_blank" href="http://localhost:8080">版权声明</a></p>
						<div style="text-align: center;padding: 20px 0 10px;margin:20px 0 0px">
						 <img src="http://localhost:8080/qrcode?k=http://localhost:8080/blogs/PYVTSkf7WD81XPSgBJrnq5.html" style="padding: 20px;" width="240px" height="240px" title="" alt=""><br/>欢迎扫描下载《ITbooking.net》APP学习交流平台
						</div>
						<p class="post-copyright tc">如未加特殊说明，此网站文章均为原创，转载必须注明出处。<a href="http://localhost:8080">中华墨风's Blog</a> » </p>
						<p class="post-copyright tc tp4 pr"><a href="http://localhost:8080/blogs/PYVTSkf7WD81XPSgBJrnq5.html">《我是一个栈》</a></p>
					</div>
					<footer class="post-footer">
						<div class="post-eof"></div>
					</footer>
				</article>
				<div class="post-spread"></div>
			</div>
		</div>
		<div class="comments v" id="comments">
			<div class="vwrap">
				<div class="vedit">
					<textarea id="txt_message" maxlength="400" class="veditor vinput" placeholder="Just go go" style=""></textarea>
					<div class="vemojis">
						<i name="grinning" title="grinning">😀</i><i name="smiley"
							title="smiley">😃</i><i name="smile" title="smile">😄</i><i
							name="grin" title="grin">😁</i><i name="laughing"
							title="laughing">😆</i><i name="sweat_smile" title="sweat_smile">😅</i><i
							name="joy" title="joy">😂</i><i name="blush" title="blush">😊</i><i
							name="innocent" title="innocent">😇</i><i name="wink"
							title="wink">😉</i><i name="relieved" title="relieved">😌</i><i
							name="heart_eyes" title="heart_eyes">😍</i><i
							name="kissing_heart" title="kissing_heart">😘</i><i
							name="kissing" title="kissing">😗</i><i
							name="kissing_smiling_eyes" title="kissing_smiling_eyes">😙</i><i
							name="kissing_closed_eyes" title="kissing_closed_eyes">😚</i><i
							name="yum" title="yum">😋</i><i
							name="stuck_out_tongue_winking_eye"
							title="stuck_out_tongue_winking_eye">😜</i><i
							name="stuck_out_tongue_closed_eyes"
							title="stuck_out_tongue_closed_eyes">😝</i><i
							name="stuck_out_tongue" title="stuck_out_tongue">😛</i><i
							name="sunglasses" title="sunglasses">😎</i><i name="smirk"
							title="smirk">😏</i><i name="unamused" title="unamused">😒</i><i
							name="disappointed" title="disappointed">😞</i><i name="pensive"
							title="pensive">😔</i><i name="worried" title="worried">😟</i><i
							name="confused" title="confused">😕</i><i name="persevere"
							title="persevere">😣</i><i name="confounded" title="confounded">😖</i><i
							name="tired_face" title="tired_face">😫</i><i name="weary"
							title="weary">😩</i><i name="angry" title="angry">😠</i><i
							name="rage" title="rage">😡</i><i name="no_mouth"
							title="no_mouth">😶</i><i name="neutral_face"
							title="neutral_face">😐</i><i name="expressionless"
							title="expressionless">😑</i><i name="hushed" title="hushed">😯</i><i
							name="frowning" title="frowning">😦</i><i name="anguished"
							title="anguished">😧</i><i name="open_mouth" title="open_mouth">😮</i><i
							name="astonished" title="astonished">😲</i><i name="dizzy_face"
							title="dizzy_face">😵</i><i name="flushed" title="flushed">😳</i><i
							name="scream" title="scream">😱</i><i name="fearful"
							title="fearful">😨</i><i name="cold_sweat" title="cold_sweat">😰</i><i
							name="cry" title="cry">😢</i><i name="disappointed_relieved"
							title="disappointed_relieved">😥</i><i name="sob" title="sob">😭</i><i
							name="sweat" title="sweat">😓</i><i name="sleepy" title="sleepy">😪</i><i
							name="sleeping" title="sleeping">😴</i><i name="mask"
							title="mask">😷</i><i name="smiling_imp" title="smiling_imp">😈</i><i
							name="smiley_cat" title="smiley_cat">😺</i><i name="smile_cat"
							title="smile_cat">😸</i><i name="joy_cat" title="joy_cat">😹</i><i
							name="heart_eyes_cat" title="heart_eyes_cat">😻</i><i
							name="smirk_cat" title="smirk_cat">😼</i><i name="kissing_cat"
							title="kissing_cat">😽</i><i name="scream_cat"
							title="scream_cat">🙀</i><i name="crying_cat_face"
							title="crying_cat_face">😿</i><i name="pouting_cat"
							title="pouting_cat">😾</i><i name="cat" title="cat">🐱</i><i
							name="mouse" title="mouse">🐭</i><i name="cow" title="cow">🐮</i><i
							name="monkey_face" title="monkey_face">🐵</i><i name="hand"
							title="hand">✋</i><i name="fist" title="fist">✊</i><i name="v"
							title="v">✌️</i><i name="point_up" title="point_up">👆</i><i
							name="point_down" title="point_down">👇</i><i name="point_left"
							title="point_left">👈</i><i name="point_right"
							title="point_right">👉</i><i name="facepunch" title="facepunch">👊</i><i
							name="wave" title="wave">👋</i><i name="clap" title="clap">👏</i><i
							name="open_hands" title="open_hands">👐</i><i name="+1"
							title="+1">👍</i><i name="-1" title="-1">👎</i><i name="ok_hand"
							title="ok_hand">👌</i><i name="pray" title="pray">🙏</i><i
							name="ear" title="ear">👂</i><i name="eyes" title="eyes">👀</i><i
							name="nose" title="nose">👃</i><i name="lips" title="lips">👄</i><i
							name="tongue" title="tongue">👅</i><i name="heart" title="heart">❤️</i><i
							name="cupid" title="cupid">💘</i><i name="sparkling_heart"
							title="sparkling_heart">💖</i><i name="star" title="star">⭐️</i><i
							name="sparkles" title="sparkles">✨</i><i name="zap" title="zap">⚡️</i><i
							name="sunny" title="sunny">☀️</i><i name="cloud" title="cloud">☁️</i><i
							name="snowflake" title="snowflake">❄️</i><i name="umbrella"
							title="umbrella">☔️</i><i name="coffee" title="coffee">☕️</i><i
							name="airplane" title="airplane">✈️</i><i name="anchor"
							title="anchor">⚓️</i><i name="watch" title="watch">⌚️</i><i
							name="phone" title="phone">☎️</i><i name="hourglass"
							title="hourglass">⌛️</i><i name="email" title="email">✉️</i><i
							name="scissors" title="scissors">✂️</i><i name="black_nib"
							title="black_nib">✒️</i><i name="pencil2" title="pencil2">✏️</i><i
							name="x" title="x">❌</i><i name="recycle" title="recycle">♻️</i><i
							name="white_check_mark" title="white_check_mark">✅</i><i
							name="negative_squared_cross_mark"
							title="negative_squared_cross_mark">❎</i><i name="m" title="m">Ⓜ️</i><i
							name="i" title="i">ℹ️</i><i name="tm" title="tm">™️</i><i
							name="copyright" title="copyright">©️</i><i name="registered"
							title="registered">®️</i>
					</div>
					<div class="vinput vpreview" style="display: none">
						<p>试了下 Java OpenCV
							做人脸检测，确实很强大。实现起来非常简单，但是精准度不够。不过应该能满足某些场景，比如相机的自动对焦等。这里分享一下相关的代码。</p>
					</div>
				</div>
				<div class="vcontrol">
					<div class="col col-20" title="Markdown is supported">
						还可以输入：<span class="numtip">400</span>&nbsp;字
					</div>
					<div class="col col-80 text-right">
						<a href="javacript:void(0);" onclick="mkComment.vcontrol(this)" class="vemoji-btn" style="margin-right: 20px;">Emoji</a> 
						<button type="button" @click="saveComment" title="Cmd|Ctrl+Enter" class="vsubmit vbtn">回复</button>
					</div>
				</div>
				<div style="display: none;" class="vmark"></div>
			</div>
			<div class="vinfo" style="display: block;">
				<div class="vcount col">
					<span class="vnum">{{total}}</span> 评论
				</div>
			</div>
			
			
			<div class="vlist" id="vlist_box">
				<div class="vcard" :id="'vcard_'+comment.id"  v-for="(comment,index) in comments">
					<img class="vimg" onerror="imgError(this)" :src="basePath+'/'+comment.headerPic">
					<div class="vh">
						<div class="vhead">
							<span class="vnick">{{comment.username}}</span> <span class="vsys">{{comment.ip}}</span> <span class="vsys">{{comment.osbroswer}}</span>
						</div>
						<div class="vmeta">
							<span class="vtime">{{comment.createTime}} / {{comment.createTime|fomatTime}}</span>
							<span v-if="session_user==15074816437" :index="index" :opid="comment.id" @click="del" class="vat">&nbsp;/&nbsp;删除</span> 
							<span :cid="comment.userId" :at="'@'+comment.username" :opid="comment.id" :index="index" @click="reply" class="vat">回复</span>
						</div>
						<div class="vcontent">
							<p v-html="comment.content"></p>
						</div>
						<div class="vquote">
							<div class="vcard" :id="'vcard_'+ccomment.id" v-for="ccomment in comment.children" >
								<img class="vimg" :src="basePath+'/'+ccomment.headerPic">
								<div class="vhead">
									<span class="vnick">{{ccomment.username}}</span> <span class="vsys">{{ccomment.ip}}</span> <span class="vsys">{{ccomment.osbroswer}}</span>
								</div>
								<div class="vmeta">
									<span class="vtime">{{ccomment.createTime}} / {{ccomment.createTime|fomatTime}}</span> 
									<span v-if="session_user==15074816437" :index="index" :opid="ccomment.id" @click="del" class="vat">&nbsp;/&nbsp;删除</span>
									<span :cid="ccomment.userId" :at="'@'+ccomment.username" :index="index" :opid="comment.id" @click="reply" class="vat">回复</span>
								</div>
								<div class="vcontent">
									<p v-html="ccomment.content"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tc" style="padding:100px;background:#fefefe;" v-if="comments.length==0">暂无评论</div>
				<div v-if="!hasNext" class="loadmore"><a href="javascript:void(0)" @click="loadmore">加载更多({{pages}})</a></div>
				<div v-if="hasNext" class="loadmore animated fadeOut">加载完毕</div>
			</div>
		</div>
	
	</div>
</main>
</div>
<aside id="sidebar" class="sidebar ">
			<div class="sidebar-inner">

				<section class="site-overview">
					<div class="site-author motion-element" itemprop="author"
						itemscope="" itemtype="http://schema.org/Person"
						style="opacity: 1; display: block; transform: translateX(0px);">
				<div class="site-author-avatar"></div>
				<p class="site-author-name" itemprop="name">Pandara</p>
			</div>
			<p class="site-description motion-element" itemprop="description"
				style="opacity: 1; display: block; transform: translateX(0px);">一切皆为年少轻狂之诳语·DeepLearning
				小白</p>
			<nav class="site-state motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">
				<div class="site-state-item site-state-posts">
					<a href="/archives"> <span class="site-state-item-count">92</span>
						<span class="site-state-item-name">日志</span>
					</a>
				</div>

				<div class="site-state-item site-state-categories">
					<a href="/categories"> <span class="site-state-item-count">9</span>
						<span class="site-state-item-name">分类</span>
					</a>
				</div>

				<div class="site-state-item site-state-tags">
					<a href="/tags"> <span class="site-state-item-count">44</span>
						<span class="site-state-item-name">标签</span>
					</a>
				</div>

			</nav>

			<div class="links-of-author motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">

				<span class="links-of-author-item"> <a
					href="https://github.com/PandaraWen" target="_blank">Github</a>
				</span> <span class="links-of-author-item"> <a
					href="https://dribbble.com/PandaraWen" target="_blank">Dribbble</a>
				</span> <span class="links-of-author-item"> <a
					href="https://twitter.com/WenPandara" target="_blank">Twitter</a>
				</span>

			</div>

			<div class="links-of-author motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">

				<p class="site-author-name">基情链接</p>

				<span class="links-of-author-item"> <a
					href="http://aevit.xyz/" target="_blank">Aevit's Lab</a>
				</span> <span class="links-of-author-item"> <a
					href="http://w3ctrain.com" target="_blank">W3cTrain</a>
				</span> <span class="links-of-author-item"> <a
					href="http://mrazy.com" target="_blank">梦灯笼</a>
				</span>

			</div>

		</section>

		<div class="side-bar-foot-decorate">
			<div class="side-bar-man motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);"></div>
			<div class="side-bar-star motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);"></div>
		</div>
	</div>
</aside><footer id="footer" class="footer">
		<div class="footer-inner">
			<div class="copyright">

				© &nbsp; <span itemprop="copyrightYear">2018-2020</span> <span
					class="with-love"> <i class="icon-heart"></i>
				</span> <span class="author" itemprop="copyrightHolder">中华墨风</span>
			</div>

			<div class="powered-by">
				由 <a class="theme-link" href="http://hexo.io">Hexo</a> 强力驱动
			</div>

			<div class="powered-by">湘ICP备16011548号-1</div>

			<div class="theme-info">
				主题 - <a class="theme-link"
					href="https://github.com/iissnan/hexo-theme-next"> NexT </a>
			</div>
		</div>
	</footer>
</div>

<div class="back-to-top" style="display: none;"></div>

<div class="sidebar-toggle">
	<div class="sidebar-toggle-line-wrap">
		<span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
		<span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
		<span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
	</div>
</div>


<!--弹出登录-->
<div id="itbooking-loginbox" class="popup search-popup local-search-popup animated bounceInDown" style="display: none;">
<div class="app-location">
	<h3 class="errorbox animated flipInY" style=""></h3>
	<h2>登录</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<input type="text" class="cctext" id="telephone" autofocus="autofocus" autocomplete="off" placeholder="报上手机" maxlength="11" >
		<input type="password" class="ccron" id="password"   autocomplete="off" placeholder="输入钥匙" maxlength="16">
		<span id="codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" id="code" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<div class="submit"><input type="submit" id="loginbtn" value="Sign in"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadForget();" style="font-size: 16px;">忘记密码 ?</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLoginReg();" style="font-size: 16px;">注册</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>
<style>
	.tipphone{border-radius:20px;color: #fff;position: absolute;width:100px;top:28px;right:10px;font-size: 12px;border-bottom: 0;background:#0bd38a;padding:3px 0 5px;/* display: none; */}
	/* .relocation_box:hover .tipphone{display:block} */
</style>
<!--弹出注册-->
<div id="itbooking-regbox" class="popup search-popup local-search-popup animated bounceInDown">
<div class="app-location relocation_box">
	<h3 class="errorbox animated flipInY" style="position: absolute;font-size:20px;right:0;left:0;margin:0 auto;color:#fff;display: none"></h3>
	<h2>注册</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<span class="tipinputspan" style="position: relative;display: block;">
			<input type="text" class="cctext" id="r_telephone"  autofocus="autofocus" autocomplete="off" placeholder="手机号码" maxlength="11" >
			<a href="javascript:void(0);" id="tipphone_get" class="tipphone">提取短信码</a>
		</span>
		<span class="rred_codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" id="r_code" disabled="disabled" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<span class="rred_codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" disabled="disabled" id="r_phocode" placeholder="输入短信码" maxlength="6">
		</span>
		<span class="rred_codebox"  style="display: none;">
			<input type="password" class="ccron" disabled="disabled" id="r_password"   autocomplete="off" placeholder="输入密码" maxlength="16">
		</span>
		<div class="rred_codebox submit" style="display: none;"><input type="submit" data-isopen="false" id="r_loginbtn" value="Reg in"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadForget();" style="font-size: 16px;">忘记密码 ?</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLogin();" style="font-size: 16px;">登录</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>



<!--弹出忘记密码-->
<div id="itbooking-forgetbox" class="popup search-popup local-search-popup animated bounceInDown"  >
<div class="app-location">
	<h3 class="errorbox animated flipInY" style="position: absolute;font-size:20px;right:0;left:0;margin:0 auto;color:#fff;display: none"></h3>
	<h2>找回密码</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<span style="position: relative;display: block;">
			<input type="text" class="cctext" id="f_telephone" autofocus="autofocus" autocomplete="off" placeholder="手机号码" maxlength="11" >
			<a href="javascript:void(0);" style="border-radius:20px;color: #fff;position: absolute;width:100px;top:28px;right:10px;font-size: 12px;border-bottom: 0;background:#0bd38a;padding:3px 0 5px">提取短信码</a>
		</span>
		<span style="position: relative;display: none;">
			<input type="text" class="ccron" id="f_code" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<span style="position: relative;display: none;">
			<input type="text" class="ccron" id="f_phonecode" placeholder="输入短信码" maxlength="4">
		</span>
		<span style="display: none;">
			<input type="password" class="ccron" id="f_password"   autocomplete="off" placeholder="输入钥匙" maxlength="16">
		</span>
		<div class="submit"><input type="submit" id="f_loginbtn" value="Forget Back"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadLoginReg();" style="font-size: 16px;">注册</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLogin();" style="font-size: 16px;">登录</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>
<script type="text/javascript" src="http://localhost:8080/js/highcode/highlight.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/clipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/vue.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/vue-resource.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/blogcomment.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/player.js"></script>

</body>
</html>
