<!DOCTYPE html>
<html class="theme-next use-motion">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<link rel="shortcut icon" href="http://localhost:8080/img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="http://localhost:8080/css/main.css">
<link rel="stylesheet" href="http://localhost:8080/css/compoment.css?4bf3b5f">
<script>var basePath="http://localhost:8080";var adminPath="http://localhost:8080/admin";</script><script type="text/javascript" src="http://localhost:8080/js/jquery.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/md5.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/sg.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/sgutil.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/admin.js"></script><title>高考三十年，许多人的命运被改写。70年代、80年代、90年代-中华墨风-'s Zone</title>
<meta name="description" content="高考三十年，许多人的命运被改写。70年代、80年代、90年代、21世纪，高考的时间轴上，每个点上都浓缩着别样的人生故事，记者寻访 ...">
<meta name="keywords" content="">
<style>.loadmore{background:#fbfbfb;padding:5px;margin:30px 0;text-align: center;}
	.loadmore a{display: block;border-bottom:0;}
	.rebtn{color:#333;font-size: 12px;}
	.itb-musicboxs,.itb-imgboxs{margin:20px 0px;text-align: center;overflow:hidden;}
	.itb-musicboxs,.itb-imgboxs img{width:100%;}
	.itb-audioboxs{position:absolute;bottom:-3px;left:3px;}
	.playboxs{position:absolute;z-index:3;top:0;left:0;right:0;text-align: center;line-height: auto;bottom:0;}
	.playboxs i{font-size:112px;color:#fff;}
	
</style>
</head>
<body title="双击看详情" data-edit="blog" data-opid="44" data-comment="open">
<div class="container one-column page-home ">
	<div id="pandara-brand" class="my-brand" style="opacity: 1; top: 0px;">
		<div id="space-ship" class="pandara-image  animated rotateInDownRight"></div>
		<div id="planet0" class="pandara-image r animated rotateIn"></div>
		<div id="earth" class="pandara-image animated zoomInUp"></div>
		<!-- <div id="planet1" class="pandara-image animated zoomInDown"></div>
		<div id="planet2" class="pandara-image animated rotateIn"></div>
		<div id="planet3" class="pandara-image animated rotateIn"></div>
		<div id="satellite" class="pandara-image animated zoomInDown"></div>
		<div id="planet4" class="pandara-image animated rotateIn"></div> -->
		<!-- <div id="planet5" class="pandara-image animated rotateInDownRight"></div> -->
		<!-- <div id="planet6" class="pandara-image animated rotateInDownLeft"></div> -->
	</div>  
	<div class="headband"></div>
	<header id="header" class="header" >
		<div class="header-inner ">
			<h1 class="site-meta animated2 fadeInDown">
				<span class="logo-line-before"><i></i></span> <span 
					class="brand" rel="start" style="opacity: 1;"> <span
					class="logo" style="opacity: 1; top: 0px;">
						<i class="icon-logo"></i>
				</span> <span class="site-title"
					style="opacity: 1; top: 0px;"><a href="http://localhost:8080" class="cof" style="border-bottom: none;">中华墨风's zone~~~</a></span>
					<a href="javascript:void(0);" class="loginlink fz14 cof" onclick="mkLogin.loadLogin()">登录</a>
					<a href="javascript:void(0);" class="loginlink fz14 cof" onclick="mkLogin.loadLoginReg()">/&nbsp;注册</a>
					<span id="loginspan" class="fz14"></span>
				</span> 
			
			</h1>
			
			<div class="site-nav-toggle">
				<button>
					<span class="btn-bar"></span> <span class="btn-bar"></span> <span
						class="btn-bar"></span>
				</button>
			</div>
			<nav class="site-nav">
				<ul id="menu" class="menu animated fadeInDown">
					<li class="menu-item menu-item-archives" style="opacity: 1; transform: translateY(0px);"><a class="active" href="http://localhost:8080" rel="section"> <i class="menu-item-icon  fa fa-home"></i> <br> 首页</a></li>
					<li class="menu-item menu-item-archives menu-item-course" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/course" rel="section"> <i class="menu-item-icon  fa fa-bookmark"></i> <br> 课程</a></li>
					<li class="menu-item menu-item-archives menu-item-blog" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/blog" rel="section"> <i class="menu-item-icon  fa fa-map-signs"></i> <br> 故事</a></li>
					<li class="menu-item menu-item-archives menu-item-archives2" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/archives" rel="section"> <i class="menu-item-icon  fa fa-quora"></i> <br> 归档</a></li>
					<li class="menu-item menu-item-tags"
						style="opacity: 1; transform: translateY(0px);"><a
						href="https://gitee.com/kekesam" target="_blank" rel="section"> <i class="menu-item-icon fa fa-git-square"></i>
							<br> Git码云
					</a></li> 
					<li class="menu-item menu-item-about"
						style="opacity: 1; transform: translateY(0px);"><a
						href="http://localhost:8080/about"  target="_blank" rel="section"> <i
							class="menu-item-icon fa fa-user-circle-o"></i> <br> 我是谁˚∆˚
					</a></li> 
				</ul>

			</nav>
		</div>
	</header>	<main id="main" class="main">
	 	<div class="main-inner"style="width: 900px">
		<div id="content" class="content">
			<div id="posts" class="posts-expand">
				<article class="post post-type-normal animated  fadeIn">
					<header class="post-header">
						<h1 class="post-title">
							<a class="post-title-link" href="http://localhost:8080/blogs/QJk2hMEFDL44AjU86JIhpq.html">高考三十年，许多人的命运被改写。70年代、80年代、90年代</a>
						</h1>
						<div class="post-meta">
							<span class="post-time"> 发表于 <time
									datetime="2018/06/07 19:12:23">2018/06/07 19:12:23</time>
							</span> <span class="post-category"> &nbsp; | &nbsp; 分类于 :&nbsp;<span><a
									href="http://localhost:8080/search/1" rel="index">
										<span>前端</span>
								</a> </span></span> <span id="busuanzi_container_page_pv"
								style="display: inline;"> &nbsp; | &nbsp; 访客 :&nbsp;<span
								id="bloghits">252</span> &nbsp; 评论 :&nbsp;<a href="#txt_message"
								id="commentnum">0</a>
							</span>
							<span id="editbox"></span>
						</div>
					</header>
					<div class="post-body">
						<div class="itb-imgboxs pr">
								<img src="http://localhost:8080/resource/blog/2018/06/07/201806071919063.jpg" id="imgmain" onload="loadimg(this)" onerror="imgError(this)" class="keui-imgbox">
							<a href="javascript:void(0)" class="playboxs" onclick="loadSoundplay(this)"><i class="fa fa-play-circle"></i></a>
							<div class="itb-audioboxs tc">
								<audio src="http://localhost:8080/resource/blogmp3/2018/06/07/201806071919541.mp3"   id="audiobox"  ></audio>
								<canvas id="visualizer" width="900" height="400">Your browser does not support Canvas tag.</canvas>
							</div>
							<script>
								loadingImage("http://localhost:8080/resource/blog/2018/06/07/201806071919063.jpg",function(){
									var wh = $(".itb-imgboxs").eq(0).height() + 40;
									$(".playboxs").css("lineHeight",wh+"px");
								});
							</script>
						</div>
						<div align="center" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; list-style-type: none; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;">
<p style="text-align: justify;"><span style="font-size:16px;">高考三十年，许多人的命运被改写。70年代、80年代、90年代、21世纪，高考的时间轴上，每个点上都浓缩着别样的人生故事，记者寻访了每个年代的赶考人，他们的幸福生活多始于高考。跳出&hellip;&hellip;<br />
高考是经历，每一次都是磨练，经历之后便会明白，每个人对高考的理解永远不会一样。别无选择所以战斗着的一年，只为了静静等待着走进考场，迎接未知明天的那一刻。痛苦，美好，甜美...每刻的心情，每刻的改变，只有自己能够体会<br />
高考，这场没有硝烟的战争，让每个人都学会坚强，学会成长。高考已经结束，但不少网友却蠢蠢欲动，开始在网上集体怀旧，讨论起当年参加高考时的种种趣闻趣事。</span></p>

<p style="text-align: justify;">&nbsp;</p>

<p style="text-align: justify;">&nbsp;</p>
</div>

<div align="center" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; list-style-type: none; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">&nbsp;</div>

<div align="center" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; list-style-type: none; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">&nbsp;</div>

<div align="center" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; list-style-type: none; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);"><img alt="" oldsrc="W020120613502816154713.jpg" src="http://study.kids21.cn/jykx/201206/W020120613502816154713.jpg" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: inherit; list-style-type: none;" /></div>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　打开寒窗，面朝大海，春暖花开。独木桥走过，天堑变通途。从未有一场考试像高考一样，能如此剧烈地改变如此多人的命运。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　1977年必然被历史铭记，中国恢复全国统一高考，这被称为国家与时代的一个拐点。高考&ldquo;破冰&rdquo;让人们的求知欲空前爆发，&ldquo;知识改变命运&rdquo;的声音响彻神州，许多人放下手中的农具、机器走上考场，第一批高考的幸运儿成为改革开放初期的栋梁。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　三十年如一，桥仍在，波心荡，岁月无声。走桥的人仍那么熙攘，桥宽了，被挤下桥的人少了，桥下河水没那么湍急了，桥那边的岸，也没那么像天堂了。时间的流水见证着30年的高考岁月。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　高考三十年，许多人的命运被改写。70年代、80年代、90年代、21世纪，高考的时间轴上，每个点上都浓缩着别样的人生故事，记者寻访了每个年代的赶考人，他们的幸福生活多始于高考。跳出高考再看高考，他们的心中，也有百味陈杂。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">&nbsp;</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);"><span style="font-size:22px;"><strong style="margin: 0px; padding: 0px; border: 0px; outline: 0px; list-style-type: none;">　70年代</strong></span></p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);"><strong style="margin: 0px; padding: 0px; border: 0px; outline: 0px; list-style-type: none;">　　差点赶上恢复高考头班车</strong></p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　赶考人：杨宁（中大佛山校友会会长，佛山市凯利得计算机网络技术有限公司、佛山市华实计算机公司总经理）</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　赶考年：1978年考入中山大学无线电系</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　赶考故事：</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　1977年暑假结束，刚回到学校的杨宁被老师告知，恢复高考了。当时杨宁17岁，是高考恢复后参加高考的第一届高中应届毕业生，至今回想起来，他依然感觉非常幸运。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　第一次恢复高考的考试时间是1977年冬季，距离消息正式传来只有不到2个月时间，杨宁没有赶上高考&ldquo;首班车&rdquo;。即使参加的是1978年7月份的高考，时间依然很紧张，在不到一年的时间里，杨宁和同学们要重新学习初中、高中的知识。不过，当年学校从来没有&ldquo;补课&rdquo;，每天只上6节课，而且周日绝对不上课。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　没有&ldquo;高考指挥棒&rdquo;，没有父母的迫切期望，也没有社会的沉重压力&hellip;&hellip;但所有人都拧着一股劲地拼命学习，因为大家都知道，这场高考是为自己而考的。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　杨宁最终以全校第一名的好成绩，被当年中山大学最热门的专业&mdash;&mdash;无线电专业录取。其实，当年高考的录取率非常之低，杨宁所在的班是全校成绩最好的班，但全班50多名同学，最终却只有十多人拿到大学录取通知书。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　作为当年恢复高考后的第一批&ldquo;幸运儿&rdquo;，现在的杨宁在佛山从事电脑行业，开创着属于自己的一方事业。杨宁说，如果没有考上大学，这些都是无法想象的。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　在高考恢复的30年后的今天，杨宁的儿子也刚刚参加完高考，同样报考中山大学物理系。杨宁说，儿子的志愿选择，很大程度是受到了他的影响。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　&ldquo;我&rdquo;看高考：</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　高考制度仍是当今最公平、公正的制度　　　　</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　1977年高考制度的恢复，首先改变了无数出身于贫寒家庭、无任何社会背景的草根阶层子女的命运。虽然现在社会对高考制度看法不一，但高考制度毕竟是当今最公平、公正的制度之一。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　不过，现在&ldquo;高考&rdquo;的威力太大了。当年我那些没有考上大学的同学，很多到工厂、农场里去当学徒、找工作，虽然高考失利，但他们依然能够找到自己的价值所在。现在的孩子上大学的机会虽然多了，但万一没有考上大学，就好像失去了一张就业的&ldquo;通行证&rdquo;，得到社会的承认比读了大学的孩子难得多。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　在这样的社会压力下，学生考大学的初衷也变味了，以前的人是为了自己而高考，因此进入大学后，会更加拼命地学习知识；而现在很多的孩子是为了父母、为了老师、为了社会而高考，所以进入大学后，便以为目的已经达到，不再努力，最后白白浪费了大学里的宝贵光阴。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">&nbsp;</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);"><span style="font-size:22px;"><strong style="margin: 0px; padding: 0px; border: 0px; outline: 0px; list-style-type: none;">　80年代</strong></span></p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);"><strong style="margin: 0px; padding: 0px; border: 0px; outline: 0px; list-style-type: none;">　　考上大学仿佛到了天堂</strong></p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　赶考人：杨河源（作家，媒体策划）</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　赶考年：1985年考入武汉大学图书馆学系</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　赶考故事：</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　考上是侥幸，考不上是正常。抱着这样的心态，杨河源参加了1985年的高考，那年他17岁。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　杨河源是班上年纪比较小的，成绩却数一数二。他爱读书，可那时能接触的课外书少之又少，完整读过的就是《新诗选》和《水浒传》，还都是从别人那里借来的。填志愿时，他毫不犹豫选择了武大图书馆学系，第二志愿才选择中文系，理由就是&ldquo;读中文有书看，读图书馆学系肯定更不愁没有书看。&rdquo; 杨河源家在河南新县农村。他是村里第一个大学生，这在村里是大事，杨河源记得，除了宴宾客，当时村里还专门请电影队放了场电影。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　&ldquo;砍柴的时候，站在山头，总想知道，山的那头是什么？还是山吗？那再那头呢？&rdquo;因为这次高考，杨河源终于有机会去见识山外的世界。他坚持不让家人送他去武汉，自己坐上长途车，一路上都舍不得闭眼，&ldquo;即使都是山，也是不一样的山。&rdquo;</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　来到有世界上最美的大学之称的武汉大学，杨河源说自己仿佛来到了天堂。赏不完的风景看不尽的书，一扇大门在面前打开，世界豁然开朗。那时候的大学，各种文学哲学社团层出不穷，参加诗社、讲座、朗诵会，读尼采、弗洛依德与吃饭穿衣一样，是生活的必需。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　大学生活对杨河源影响深远，高考十年后，杨河源在佛山市图书馆开始进行公益讲座的探索，&ldquo;一场好的讲座对人的震撼有时超过一本好书！&rdquo;至今，公益讲座也走过11年风雨，提起佛图公益讲座，人们第一个想起的人还是杨河源。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　&ldquo;我&rdquo;看高考：</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　高考制度导致</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　基础教育的急功近利</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　高考三十年，我不敢说它在进步。我们那个时代的高考相对公平，没有高考移民，没有暗箱操作，能够交易的空间很小。可现在，整个高等教育变成创收的手段。也许这样说有些偏激，但作为高等教育制度中最重要的一环，高考不能推卸责任。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　如果说高考改变了千万国人的命运，现行的高考制度让更多的人有机会受高等教育，这是国办教育应该承担的责任，不应对此歌功颂德或感激涕零。高考一直在改革，但都是细枝末节的改变，高考制度导致基础教育的急功近利和短视，从小给孩子灌输&ldquo;丛林法则&rdquo;的思想，这样做的报应很快就会来到。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　高考三十年，我们是时候反思教育制度了。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">&nbsp;</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">&nbsp;</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);"><span style="font-size:22px;"><strong style="margin: 0px; padding: 0px; border: 0px; outline: 0px; list-style-type: none;">&nbsp; 90年代</strong></span></p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">&nbsp;</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);"><strong style="margin: 0px; padding: 0px; border: 0px; outline: 0px; list-style-type: none;">　　我是高考&ldquo;小白鼠&rdquo;</strong></p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　赶考人：阿湘（工商管理部门公务员）</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　赶考年：1999年考入暨南大学中文系</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　赶考故事：</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　1997年，文理分科的抉择摆在已经读高二的阿湘面前。读文科，将来做一名自由撰稿人一直是阿湘的梦想。但当时理科招生比例大、就业面广，而且多年来一直做文职的父亲，坚信&ldquo;百无一用是书生&rdquo;，坚决反对女儿&ldquo;重蹈&rdquo;自己的&ldquo;覆辙&rdquo;。在父母、老师的力推下，阿湘违背自己的意愿，选读了理科。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　当时，1999年高考会否实行&ldquo;3+X&rdquo;仍未定，同学间&ldquo;谣言四起&rdquo;，大家都在&ldquo;一颗红心两手准备&rdquo;。高二下学期，教育部门正式宣布实行&ldquo;3+X&rdquo;，阿湘经过反复思量，作出一个惊人的抉择，&ldquo;杀回文科&rdquo;。当时，她广泛征求老师的意见，老师们多数表示赞同，可当父亲得知她这一决定时，还是气不打一处来。阿湘知道她这个选择父亲不高兴，她也很难过，但阿湘不再犹疑，&ldquo;X&rdquo;科选定历史后，开始发奋，她希望用高考证明她的选择是对的。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　高考前一个月左右，按照往年的惯例，开始填报志愿，阿湘第一批第一志愿毫不犹豫地填报了自己梦寐以求的北师大。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　但高考时又出了点小插曲。考语文当天早晨，她喝了不少豆浆，结果将要写作文时&ldquo;内急&rdquo;，三次举手要求上厕所，监考老师都因种种原因没同意，整篇作文就是在这种煎熬中艰难完成。第二天考英语时，她的耳机又出了点问题。结果出来，她总分只有678分，与原本期望的800多分相差了100多分。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　考分出来后，因为种种原因，教育部门又组织考生们重填了一次志愿，参照往年的分数线，阿湘不得不放弃梦中的&ldquo;北师大&rdquo;。她又想报中山大学，但往年，中大录取分数线都是700多分，为保险起见，她最后还是填了暨南大学。可是，因为当年高校大批扩招，所有学校的分数线相较往年都下调了50分左右，而且中大第一批录完，部分专业都未录满，但阿湘还是与中大失之交臂。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　&ldquo;我&rdquo;看高考：</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　对自己的选择负责</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　所谓错有错着吧，高考已是一段过往。虽然当年考分不太理想，考完后我大哭了三次，但我现在的人生还是很幸福啊，每天都乐呵呵的。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　虽然当了高考小白鼠，但如果是前一年的&ldquo;3+2&rdquo;模式或后一年的&ldquo;3+2+X&rdquo;模式，我都未必有勇气选回文科；虽然读的是暨大，但考上北师大或中大人生未必会更精彩；虽然扩招后工作更难找，但我们只要做好自己当时当刻该做的，总会比什么都不做更有希望。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　世上没有那么多的&ldquo;如果&rdquo;，也不可能重头来过，所以能做的、该做的就是过好当下，活出当下的精彩，收获当下的幸福。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">&nbsp;</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);"><span style="font-size:22px;"><strong style="margin: 0px; padding: 0px; border: 0px; outline: 0px; list-style-type: none;">2007年</strong></span></p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);"><strong style="margin: 0px; padding: 0px; border: 0px; outline: 0px; list-style-type: none;">　　家有一考生 全家齐备战</strong></p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　赶考人：阿坚（佛山四中高中应届毕业生)</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　赶考年：2007年第一志愿报考华南理工大学信息管理与信息系统专业</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　赶考故事：</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　与很多参加高考的学生一样，阿坚家里虽然只有他一个人在参加高考，但全家都围着&ldquo;高考&rdquo;转。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　高三一年的学习生活非常紧张，每天6时30分起床，7时前要到学校早读，晚上11时半才上床休息。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　作为家中的独子，父母对阿坚的照顾可谓无微不至。母亲放弃了出国旅游的机会，全程在家煲汤煮饭。虽然学校有饭堂提供午餐和晚餐，但阿坚的父母考虑到营养，让他在高考前整整一年每天吃&ldquo;住家饭&rdquo;。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　高考前的几次模拟考试，阿坚成绩有些不稳定。有一天晚上，家里人有意无意在阿坚面前讲起了一个考研的故事，至今阿坚还记得，&ldquo;某人考研究生，考完后感觉非常不好，于是很伤心，没想到成绩出来，却被录取了。最后的结论是&mdash;&mdash;人要相信自己！&rdquo;虽然很简单的一个故事，但却让阿坚体会到了父母的苦心，&ldquo;我又重新鼓起勇气认真复习，不然真对不起父母。&rdquo;</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　阿坚今年参加高考，是广东省高中新课改后的第一届应届毕业生，但作为当事人，阿坚对改革却无甚感觉，&ldquo;我惟一要做好的事情就是考好试，做好题。&rdquo;阿坚说。阿坚的志愿是老师专门推荐给他的，按成绩，如发挥正常，他被录取机会很大。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　与以前高考的人相比，阿坚也感觉自己很幸福，有亦师亦友的老师，还与从来没有给他压力的父母。但是，正因为这样，阿坚还是感觉有压力。&ldquo;压力是自己给的，不考好，对不起身边支持的人。&rdquo;现在，阿坚最大的愿望，就是拿到心仪大学的录取通知书，把它当作感谢父母和老师的礼物。　　</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　&ldquo;我&rdquo;看高考：</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　改革其实离我们很远　　　　</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　标准分改原始分，综合变为文科基础和理科基础，填报志愿分层次&hellip;&hellip;虽然在高考前有所耳闻，但作为真正当事人的我们，更多的时间是学习，这些改革内容离我们太远了，没什么感觉。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　惟一有感觉的，就是考题的变化。由于备考的需要，我专门做了前几年的高考试题，与今年的考题相比，最大的变化是题目灵活了许多，与实际联系得很紧密，特别是数学、物理，难度增大了不少。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">　　如果可以选择，我希望高考科目可以减少一些，要么不考综合或者文科基础/理科基础，虽然考题很简单，但毕竟还是要复习，要看的书很多，感觉负担很重。要么不考X科，让所有人都考同样的科目，这样或许更加公平一些。</p>

<p style="padding: 0px; border: 0px; outline: 0px; list-style-type: none; margin: 15px 0px 0px; color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; background-color: rgb(255, 255, 255);">欢迎评论，说说你的感受和故事。</p>

						<hr />
						<p class="asb-post-footer tc"><strong>【公告】</strong><a target="_blank" href="http://localhost:8080">版权声明</a></p>
						<div style="text-align: center;padding: 20px 0 10px;margin:20px 0 0px">
						 <img src="http://localhost:8080/qrcode?k=http://localhost:8080/blogs/QJk2hMEFDL44AjU86JIhpq.html" style="padding: 20px;" width="240px" height="240px" title="" alt=""><br/>欢迎扫描下载《ITbooking.net》APP学习交流平台
						</div>
						<p class="post-copyright tc">如未加特殊说明，此网站文章均为原创，转载必须注明出处。<a href="http://localhost:8080">中华墨风's Blog</a> » </p>
						<p class="post-copyright tc tp4 pr"><a href="http://localhost:8080/blogs/QJk2hMEFDL44AjU86JIhpq.html">《高考三十年，许多人的命运被改写。70年代、80年代、90年代》</a></p>
					</div>
					<footer class="post-footer">
						<div class="post-eof"></div>
					</footer>
				</article>
				<div class="post-spread"></div>
			</div>
		</div>
		<div class="comments v" id="comments">
			<div class="vwrap">
				<div class="vedit">
					<textarea id="txt_message" maxlength="400" class="veditor vinput" placeholder="Just go go" style=""></textarea>
					<div class="vemojis">
						<i name="grinning" title="grinning">😀</i><i name="smiley"
							title="smiley">😃</i><i name="smile" title="smile">😄</i><i
							name="grin" title="grin">😁</i><i name="laughing"
							title="laughing">😆</i><i name="sweat_smile" title="sweat_smile">😅</i><i
							name="joy" title="joy">😂</i><i name="blush" title="blush">😊</i><i
							name="innocent" title="innocent">😇</i><i name="wink"
							title="wink">😉</i><i name="relieved" title="relieved">😌</i><i
							name="heart_eyes" title="heart_eyes">😍</i><i
							name="kissing_heart" title="kissing_heart">😘</i><i
							name="kissing" title="kissing">😗</i><i
							name="kissing_smiling_eyes" title="kissing_smiling_eyes">😙</i><i
							name="kissing_closed_eyes" title="kissing_closed_eyes">😚</i><i
							name="yum" title="yum">😋</i><i
							name="stuck_out_tongue_winking_eye"
							title="stuck_out_tongue_winking_eye">😜</i><i
							name="stuck_out_tongue_closed_eyes"
							title="stuck_out_tongue_closed_eyes">😝</i><i
							name="stuck_out_tongue" title="stuck_out_tongue">😛</i><i
							name="sunglasses" title="sunglasses">😎</i><i name="smirk"
							title="smirk">😏</i><i name="unamused" title="unamused">😒</i><i
							name="disappointed" title="disappointed">😞</i><i name="pensive"
							title="pensive">😔</i><i name="worried" title="worried">😟</i><i
							name="confused" title="confused">😕</i><i name="persevere"
							title="persevere">😣</i><i name="confounded" title="confounded">😖</i><i
							name="tired_face" title="tired_face">😫</i><i name="weary"
							title="weary">😩</i><i name="angry" title="angry">😠</i><i
							name="rage" title="rage">😡</i><i name="no_mouth"
							title="no_mouth">😶</i><i name="neutral_face"
							title="neutral_face">😐</i><i name="expressionless"
							title="expressionless">😑</i><i name="hushed" title="hushed">😯</i><i
							name="frowning" title="frowning">😦</i><i name="anguished"
							title="anguished">😧</i><i name="open_mouth" title="open_mouth">😮</i><i
							name="astonished" title="astonished">😲</i><i name="dizzy_face"
							title="dizzy_face">😵</i><i name="flushed" title="flushed">😳</i><i
							name="scream" title="scream">😱</i><i name="fearful"
							title="fearful">😨</i><i name="cold_sweat" title="cold_sweat">😰</i><i
							name="cry" title="cry">😢</i><i name="disappointed_relieved"
							title="disappointed_relieved">😥</i><i name="sob" title="sob">😭</i><i
							name="sweat" title="sweat">😓</i><i name="sleepy" title="sleepy">😪</i><i
							name="sleeping" title="sleeping">😴</i><i name="mask"
							title="mask">😷</i><i name="smiling_imp" title="smiling_imp">😈</i><i
							name="smiley_cat" title="smiley_cat">😺</i><i name="smile_cat"
							title="smile_cat">😸</i><i name="joy_cat" title="joy_cat">😹</i><i
							name="heart_eyes_cat" title="heart_eyes_cat">😻</i><i
							name="smirk_cat" title="smirk_cat">😼</i><i name="kissing_cat"
							title="kissing_cat">😽</i><i name="scream_cat"
							title="scream_cat">🙀</i><i name="crying_cat_face"
							title="crying_cat_face">😿</i><i name="pouting_cat"
							title="pouting_cat">😾</i><i name="cat" title="cat">🐱</i><i
							name="mouse" title="mouse">🐭</i><i name="cow" title="cow">🐮</i><i
							name="monkey_face" title="monkey_face">🐵</i><i name="hand"
							title="hand">✋</i><i name="fist" title="fist">✊</i><i name="v"
							title="v">✌️</i><i name="point_up" title="point_up">👆</i><i
							name="point_down" title="point_down">👇</i><i name="point_left"
							title="point_left">👈</i><i name="point_right"
							title="point_right">👉</i><i name="facepunch" title="facepunch">👊</i><i
							name="wave" title="wave">👋</i><i name="clap" title="clap">👏</i><i
							name="open_hands" title="open_hands">👐</i><i name="+1"
							title="+1">👍</i><i name="-1" title="-1">👎</i><i name="ok_hand"
							title="ok_hand">👌</i><i name="pray" title="pray">🙏</i><i
							name="ear" title="ear">👂</i><i name="eyes" title="eyes">👀</i><i
							name="nose" title="nose">👃</i><i name="lips" title="lips">👄</i><i
							name="tongue" title="tongue">👅</i><i name="heart" title="heart">❤️</i><i
							name="cupid" title="cupid">💘</i><i name="sparkling_heart"
							title="sparkling_heart">💖</i><i name="star" title="star">⭐️</i><i
							name="sparkles" title="sparkles">✨</i><i name="zap" title="zap">⚡️</i><i
							name="sunny" title="sunny">☀️</i><i name="cloud" title="cloud">☁️</i><i
							name="snowflake" title="snowflake">❄️</i><i name="umbrella"
							title="umbrella">☔️</i><i name="coffee" title="coffee">☕️</i><i
							name="airplane" title="airplane">✈️</i><i name="anchor"
							title="anchor">⚓️</i><i name="watch" title="watch">⌚️</i><i
							name="phone" title="phone">☎️</i><i name="hourglass"
							title="hourglass">⌛️</i><i name="email" title="email">✉️</i><i
							name="scissors" title="scissors">✂️</i><i name="black_nib"
							title="black_nib">✒️</i><i name="pencil2" title="pencil2">✏️</i><i
							name="x" title="x">❌</i><i name="recycle" title="recycle">♻️</i><i
							name="white_check_mark" title="white_check_mark">✅</i><i
							name="negative_squared_cross_mark"
							title="negative_squared_cross_mark">❎</i><i name="m" title="m">Ⓜ️</i><i
							name="i" title="i">ℹ️</i><i name="tm" title="tm">™️</i><i
							name="copyright" title="copyright">©️</i><i name="registered"
							title="registered">®️</i>
					</div>
					<div class="vinput vpreview" style="display: none">
						<p>试了下 Java OpenCV
							做人脸检测，确实很强大。实现起来非常简单，但是精准度不够。不过应该能满足某些场景，比如相机的自动对焦等。这里分享一下相关的代码。</p>
					</div>
				</div>
				<div class="vcontrol">
					<div class="col col-20" title="Markdown is supported">
						还可以输入：<span class="numtip">400</span>&nbsp;字
					</div>
					<div class="col col-80 text-right">
						<a href="javacript:void(0);" onclick="mkComment.vcontrol(this)" class="vemoji-btn" style="margin-right: 20px;">Emoji</a> 
						<button type="button" @click="saveComment" title="Cmd|Ctrl+Enter" class="vsubmit vbtn">回复</button>
					</div>
				</div>
				<div style="display: none;" class="vmark"></div>
			</div>
			<div class="vinfo" style="display: block;">
				<div class="vcount col">
					<span class="vnum">{{total}}</span> 评论
				</div>
			</div>
			
			
			<div class="vlist" id="vlist_box">
				<div class="vcard" :id="'vcard_'+comment.id"  v-for="(comment,index) in comments">
					<img class="vimg" onerror="imgError(this)" :src="basePath+'/'+comment.headerPic">
					<div class="vh">
						<div class="vhead">
							<span class="vnick">{{comment.username}}</span> <span class="vsys">{{comment.ip}}</span> <span class="vsys">{{comment.osbroswer}}</span>
						</div>
						<div class="vmeta">
							<span class="vtime">{{comment.createTime}} / {{comment.createTime|fomatTime}}</span>
							<span v-if="session_user==15074816437" :index="index" :opid="comment.id" @click="del" class="vat">&nbsp;/&nbsp;删除</span> 
							<span :cid="comment.userId" :at="'@'+comment.username" :opid="comment.id" :index="index" @click="reply" class="vat">回复</span>
						</div>
						<div class="vcontent">
							<p v-html="comment.content"></p>
						</div>
						<div class="vquote">
							<div class="vcard" :id="'vcard_'+ccomment.id" v-for="ccomment in comment.children" >
								<img class="vimg" :src="basePath+'/'+ccomment.headerPic">
								<div class="vhead">
									<span class="vnick">{{ccomment.username}}</span> <span class="vsys">{{ccomment.ip}}</span> <span class="vsys">{{ccomment.osbroswer}}</span>
								</div>
								<div class="vmeta">
									<span class="vtime">{{ccomment.createTime}} / {{ccomment.createTime|fomatTime}}</span> 
									<span v-if="session_user==15074816437" :index="index" :opid="ccomment.id" @click="del" class="vat">&nbsp;/&nbsp;删除</span>
									<span :cid="ccomment.userId" :at="'@'+ccomment.username" :index="index" :opid="comment.id" @click="reply" class="vat">回复</span>
								</div>
								<div class="vcontent">
									<p v-html="ccomment.content"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tc" style="padding:100px;background:#fefefe;" v-if="comments.length==0">暂无评论</div>
				<div v-if="!hasNext" class="loadmore"><a href="javascript:void(0)" @click="loadmore">加载更多({{pages}})</a></div>
				<div v-if="hasNext" class="loadmore animated fadeOut">加载完毕</div>
			</div>
		</div>
	
	</div>
</main>
</div>
<aside id="sidebar" class="sidebar ">
			<div class="sidebar-inner">

				<section class="site-overview">
					<div class="site-author motion-element" itemprop="author"
						itemscope="" itemtype="http://schema.org/Person"
						style="opacity: 1; display: block; transform: translateX(0px);">
				<div class="site-author-avatar"></div>
				<p class="site-author-name" itemprop="name">Pandara</p>
			</div>
			<p class="site-description motion-element" itemprop="description"
				style="opacity: 1; display: block; transform: translateX(0px);">一切皆为年少轻狂之诳语·DeepLearning
				小白</p>
			<nav class="site-state motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">
				<div class="site-state-item site-state-posts">
					<a href="/archives"> <span class="site-state-item-count">92</span>
						<span class="site-state-item-name">日志</span>
					</a>
				</div>

				<div class="site-state-item site-state-categories">
					<a href="/categories"> <span class="site-state-item-count">9</span>
						<span class="site-state-item-name">分类</span>
					</a>
				</div>

				<div class="site-state-item site-state-tags">
					<a href="/tags"> <span class="site-state-item-count">44</span>
						<span class="site-state-item-name">标签</span>
					</a>
				</div>

			</nav>

			<div class="links-of-author motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">

				<span class="links-of-author-item"> <a
					href="https://github.com/PandaraWen" target="_blank">Github</a>
				</span> <span class="links-of-author-item"> <a
					href="https://dribbble.com/PandaraWen" target="_blank">Dribbble</a>
				</span> <span class="links-of-author-item"> <a
					href="https://twitter.com/WenPandara" target="_blank">Twitter</a>
				</span>

			</div>

			<div class="links-of-author motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">

				<p class="site-author-name">基情链接</p>

				<span class="links-of-author-item"> <a
					href="http://aevit.xyz/" target="_blank">Aevit's Lab</a>
				</span> <span class="links-of-author-item"> <a
					href="http://w3ctrain.com" target="_blank">W3cTrain</a>
				</span> <span class="links-of-author-item"> <a
					href="http://mrazy.com" target="_blank">梦灯笼</a>
				</span>

			</div>

		</section>

		<div class="side-bar-foot-decorate">
			<div class="side-bar-man motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);"></div>
			<div class="side-bar-star motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);"></div>
		</div>
	</div>
</aside><footer id="footer" class="footer">
		<div class="footer-inner">
			<div class="copyright">

				© &nbsp; <span itemprop="copyrightYear">2018-2020</span> <span
					class="with-love"> <i class="icon-heart"></i>
				</span> <span class="author" itemprop="copyrightHolder">中华墨风</span>
			</div>

			<div class="powered-by">
				由 <a class="theme-link" href="http://hexo.io">Hexo</a> 强力驱动
			</div>

			<div class="powered-by">湘ICP备16011548号-1</div>

			<div class="theme-info">
				主题 - <a class="theme-link"
					href="https://github.com/iissnan/hexo-theme-next"> NexT </a>
			</div>
		</div>
	</footer>
</div>

<div class="back-to-top" style="display: none;"></div>

<div class="sidebar-toggle">
	<div class="sidebar-toggle-line-wrap">
		<span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
		<span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
		<span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
	</div>
</div>


<!--弹出登录-->
<div id="itbooking-loginbox" class="popup search-popup local-search-popup animated bounceInDown" style="display: none;">
<div class="app-location">
	<h3 class="errorbox animated flipInY" style=""></h3>
	<h2>登录</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<input type="text" class="cctext" id="telephone" autofocus="autofocus" autocomplete="off" placeholder="报上手机" maxlength="11" >
		<input type="password" class="ccron" id="password"   autocomplete="off" placeholder="输入钥匙" maxlength="16">
		<span id="codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" id="code" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<div class="submit"><input type="submit" id="loginbtn" value="Sign in"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadForget();" style="font-size: 16px;">忘记密码 ?</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLoginReg();" style="font-size: 16px;">注册</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>
<style>
	.tipphone{border-radius:20px;color: #fff;position: absolute;width:100px;top:28px;right:10px;font-size: 12px;border-bottom: 0;background:#0bd38a;padding:3px 0 5px;/* display: none; */}
	/* .relocation_box:hover .tipphone{display:block} */
</style>
<!--弹出注册-->
<div id="itbooking-regbox" class="popup search-popup local-search-popup animated bounceInDown">
<div class="app-location relocation_box">
	<h3 class="errorbox animated flipInY" style="position: absolute;font-size:20px;right:0;left:0;margin:0 auto;color:#fff;display: none"></h3>
	<h2>注册</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<span class="tipinputspan" style="position: relative;display: block;">
			<input type="text" class="cctext" id="r_telephone"  autofocus="autofocus" autocomplete="off" placeholder="手机号码" maxlength="11" >
			<a href="javascript:void(0);" id="tipphone_get" class="tipphone">提取短信码</a>
		</span>
		<span class="rred_codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" id="r_code" disabled="disabled" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<span class="rred_codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" disabled="disabled" id="r_phocode" placeholder="输入短信码" maxlength="6">
		</span>
		<span class="rred_codebox"  style="display: none;">
			<input type="password" class="ccron" disabled="disabled" id="r_password"   autocomplete="off" placeholder="输入密码" maxlength="16">
		</span>
		<div class="rred_codebox submit" style="display: none;"><input type="submit" data-isopen="false" id="r_loginbtn" value="Reg in"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadForget();" style="font-size: 16px;">忘记密码 ?</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLogin();" style="font-size: 16px;">登录</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>



<!--弹出忘记密码-->
<div id="itbooking-forgetbox" class="popup search-popup local-search-popup animated bounceInDown"  >
<div class="app-location">
	<h3 class="errorbox animated flipInY" style="position: absolute;font-size:20px;right:0;left:0;margin:0 auto;color:#fff;display: none"></h3>
	<h2>找回密码</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<span style="position: relative;display: block;">
			<input type="text" class="cctext" id="f_telephone" autofocus="autofocus" autocomplete="off" placeholder="手机号码" maxlength="11" >
			<a href="javascript:void(0);" style="border-radius:20px;color: #fff;position: absolute;width:100px;top:28px;right:10px;font-size: 12px;border-bottom: 0;background:#0bd38a;padding:3px 0 5px">提取短信码</a>
		</span>
		<span style="position: relative;display: none;">
			<input type="text" class="ccron" id="f_code" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<span style="position: relative;display: none;">
			<input type="text" class="ccron" id="f_phonecode" placeholder="输入短信码" maxlength="4">
		</span>
		<span style="display: none;">
			<input type="password" class="ccron" id="f_password"   autocomplete="off" placeholder="输入钥匙" maxlength="16">
		</span>
		<div class="submit"><input type="submit" id="f_loginbtn" value="Forget Back"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadLoginReg();" style="font-size: 16px;">注册</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLogin();" style="font-size: 16px;">登录</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>
<script type="text/javascript" src="http://localhost:8080/js/highcode/highlight.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/clipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/vue.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/vue-resource.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/blogcomment.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/player.js"></script>
<script>$(".playbox").trigger("click");</script>
</body>
</html>
