<!DOCTYPE html>
<html class="theme-next use-motion">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<link rel="shortcut icon" href="http://localhost:8080/img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="http://localhost:8080/css/main.css">
<link rel="stylesheet" href="http://localhost:8080/css/compoment.css?4bf3b5f">
<script>var basePath="http://localhost:8080";var adminPath="http://localhost:8080/admin";</script><script type="text/javascript" src="http://localhost:8080/js/jquery.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/md5.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/sg.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/sgutil.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/admin.js"></script><title>js实现上拉加载及下拉刷新效果-中华墨风-'s Zone</title>
<meta name="description" content="微信小程序开发时，上拉加载和下拉刷新效果让人眼前一亮，挺棒的。不过小程序里只需要在js文件用onPullDownRefresh命名的方法就可 ...">
<meta name="keywords" content="">
<style>.loadmore{background:#fbfbfb;padding:5px;margin:30px 0;text-align: center;}
	.loadmore a{display: block;border-bottom:0;}
	.rebtn{color:#333;font-size: 12px;}
	.itb-musicboxs,.itb-imgboxs{margin:20px 0px;text-align: center;overflow:hidden;}
	.itb-musicboxs,.itb-imgboxs img{width:100%;}
	.itb-audioboxs{position:absolute;bottom:-3px;left:3px;}
	.playboxs{position:absolute;z-index:3;top:0;left:0;right:0;text-align: center;line-height: auto;bottom:0;}
	.playboxs i{font-size:112px;color:#fff;}
	
</style>
</head>
<body title="双击看详情" data-edit="blog" data-opid="51" data-comment="open">
<div class="container one-column page-home ">
	<div id="pandara-brand" class="my-brand" style="opacity: 1; top: 0px;">
		<div id="space-ship" class="pandara-image  animated rotateInDownRight"></div>
		<div id="planet0" class="pandara-image r animated rotateIn"></div>
		<div id="earth" class="pandara-image animated zoomInUp"></div>
		<!-- <div id="planet1" class="pandara-image animated zoomInDown"></div>
		<div id="planet2" class="pandara-image animated rotateIn"></div>
		<div id="planet3" class="pandara-image animated rotateIn"></div>
		<div id="satellite" class="pandara-image animated zoomInDown"></div>
		<div id="planet4" class="pandara-image animated rotateIn"></div> -->
		<!-- <div id="planet5" class="pandara-image animated rotateInDownRight"></div> -->
		<!-- <div id="planet6" class="pandara-image animated rotateInDownLeft"></div> -->
	</div>  
	<div class="headband"></div>
	<header id="header" class="header" >
		<div class="header-inner ">
			<h1 class="site-meta animated2 fadeInDown">
				<span class="logo-line-before"><i></i></span> <span 
					class="brand" rel="start" style="opacity: 1;"> <span
					class="logo" style="opacity: 1; top: 0px;">
						<i class="icon-logo"></i>
				</span> <span class="site-title"
					style="opacity: 1; top: 0px;"><a href="http://localhost:8080" class="cof" style="border-bottom: none;">中华墨风's zone~~~</a></span>
					<a href="javascript:void(0);" class="loginlink fz14 cof" onclick="mkLogin.loadLogin()">登录</a>
					<a href="javascript:void(0);" class="loginlink fz14 cof" onclick="mkLogin.loadLoginReg()">/&nbsp;注册</a>
					<span id="loginspan" class="fz14"></span>
				</span> 
			
			</h1>
			
			<div class="site-nav-toggle">
				<button>
					<span class="btn-bar"></span> <span class="btn-bar"></span> <span
						class="btn-bar"></span>
				</button>
			</div>
			<nav class="site-nav">
				<ul id="menu" class="menu animated fadeInDown">
					<li class="menu-item menu-item-archives" style="opacity: 1; transform: translateY(0px);"><a class="active" href="http://localhost:8080" rel="section"> <i class="menu-item-icon  fa fa-home"></i> <br> 首页</a></li>
					<li class="menu-item menu-item-archives menu-item-course" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/course" rel="section"> <i class="menu-item-icon  fa fa-bookmark"></i> <br> 课程</a></li>
					<li class="menu-item menu-item-archives menu-item-blog" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/blog" rel="section"> <i class="menu-item-icon  fa fa-map-signs"></i> <br> 故事</a></li>
					<li class="menu-item menu-item-archives menu-item-archives2" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/archives" rel="section"> <i class="menu-item-icon  fa fa-quora"></i> <br> 归档</a></li>
					<li class="menu-item menu-item-tags"
						style="opacity: 1; transform: translateY(0px);"><a
						href="https://gitee.com/kekesam" target="_blank" rel="section"> <i class="menu-item-icon fa fa-git-square"></i>
							<br> Git码云
					</a></li> 
					<li class="menu-item menu-item-about"
						style="opacity: 1; transform: translateY(0px);"><a
						href="http://localhost:8080/about"  target="_blank" rel="section"> <i
							class="menu-item-icon fa fa-user-circle-o"></i> <br> 我是谁˚∆˚
					</a></li> 
				</ul>

			</nav>
		</div>
	</header>	<main id="main" class="main">
	 	<div class="main-inner"style="width: 800px">
		<div id="content" class="content">
			<div id="posts" class="posts-expand">
				<article class="post post-type-normal animated  fadeIn">
					<header class="post-header">
						<h1 class="post-title">
							<a class="post-title-link" href="http://localhost:8080/blogs/SwEeIYRGih51AXs4ypw8Cu.html">js实现上拉加载及下拉刷新效果</a>
						</h1>
						<div class="post-meta">
							<span class="post-time"> 发表于 <time
									datetime="2018/06/30 16:42:17">2018/06/30 16:42:17</time>
							</span> <span class="post-category"> &nbsp; | &nbsp; 分类于 :&nbsp;<span><a
									href="http://localhost:8080/search/1" rel="index">
										<span>前端</span>
								</a> </span></span> <span id="busuanzi_container_page_pv"
								style="display: inline;"> &nbsp; | &nbsp; 访客 :&nbsp;<span
								id="bloghits">173</span> &nbsp; 评论 :&nbsp;<a href="#txt_message"
								id="commentnum">0</a>
							</span>
							<span id="editbox"></span>
						</div>
					</header>
					<div class="post-body">
						<div class="itb-imgboxs pr">
								<img src="http://localhost:8080/resource/blog/2018/06/30/201806301641423.gif" id="imgmain" onload="loadimg(this)" onerror="imgError(this)" class="keui-imgbox">
						</div>
						<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 0px 0px 16px; font-size: 16px; color: rgb(79, 79, 79); line-height: 26px; text-align: justify; word-break: break-all; font-family: -apple-system, &quot;SF UI Text&quot;, Arial, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, &quot;WenQuanYi Micro Hei&quot;, sans-serif, SimHei, SimSun; background-color: rgb(255, 255, 255);">微信小程序开发时，上拉加载和下拉刷新效果让人眼前一亮，挺棒的。不过小程序里只需要在js文件用onPullDownRefresh命名的方法就可以实现了，忒方便。在微信开发或者手机端网页开发呢。</p>

<h2 style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 8px 0px 16px; font-size: 24px; color: rgb(79, 79, 79); font-weight: 700; line-height: 32px; word-break: break-all; font-family: -apple-system, &quot;SF UI Text&quot;, Arial, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, &quot;WenQuanYi Micro Hei&quot;, sans-serif, SimHei, SimSun; background-color: rgb(255, 255, 255);">1.借助插件</h2>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 0px 0px 16px; font-size: 16px; color: rgb(79, 79, 79); line-height: 26px; text-align: justify; word-break: break-all; font-family: -apple-system, &quot;SF UI Text&quot;, Arial, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, &quot;WenQuanYi Micro Hei&quot;, sans-serif, SimHei, SimSun; background-color: rgb(255, 255, 255);">dropload</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 0px 0px 16px; font-size: 16px; color: rgb(79, 79, 79); line-height: 26px; text-align: justify; word-break: break-all; font-family: -apple-system, &quot;SF UI Text&quot;, Arial, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, &quot;WenQuanYi Micro Hei&quot;, sans-serif, SimHei, SimSun; background-color: rgb(255, 255, 255);">mui</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 0px 0px 16px; font-size: 16px; color: rgb(79, 79, 79); line-height: 26px; text-align: justify; word-break: break-all; font-family: -apple-system, &quot;SF UI Text&quot;, Arial, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, &quot;WenQuanYi Micro Hei&quot;, sans-serif, SimHei, SimSun; background-color: rgb(255, 255, 255);">iscroll</p>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 0px 0px 16px; font-size: 16px; color: rgb(79, 79, 79); line-height: 26px; text-align: justify; word-break: break-all; font-family: -apple-system, &quot;SF UI Text&quot;, Arial, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, &quot;WenQuanYi Micro Hei&quot;, sans-serif, SimHei, SimSun; background-color: rgb(255, 255, 255);">后者是做前台/手机端app的一个框架</p>

<h2 style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 8px 0px 16px; font-size: 24px; color: rgb(79, 79, 79); font-weight: 700; line-height: 32px; word-break: break-all; font-family: -apple-system, &quot;SF UI Text&quot;, Arial, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, &quot;WenQuanYi Micro Hei&quot;, sans-serif, SimHei, SimSun; background-color: rgb(255, 255, 255);">2.借助js代码</h2>

<p style="box-sizing: border-box; outline: 0px; padding: 0px; margin: 0px 0px 16px; font-size: 16px; color: rgb(79, 79, 79); line-height: 26px; text-align: justify; word-break: break-all; font-family: -apple-system, &quot;SF UI Text&quot;, Arial, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, &quot;WenQuanYi Micro Hei&quot;, sans-serif, SimHei, SimSun; background-color: rgb(255, 255, 255);">需先引入jquery (直接百度jq，然后点进去一个网站，查看源代码，复制引入jq的那句script代码)</p>

<pre>
<code class="hljs javascript,java,sql,nodejs,vuejs,html,css,json">$(window).scroll(function(){
	console.log(&#39;正在滑动f&#39;);
&nbsp;
	var scrollTop = $(this).scrollTop();    //滚动条距离顶部的高度
	var scrollHeight = $(document).height();   //当前页面的总高度
	var clientHeight = $(this).height();    //当前可视的页面高度
	if(scrollTop + clientHeight &gt;= scrollHeight){   //距离顶部+当前高度 &gt;=文档总高度 即代表滑动到底部 count++;         //每次滑动count加1
	  // filterData(serviceTypeId,industryId,cityId,count); //调用筛选方法，count为当前分页数
	  console.log(&#39;下拉bottom&#39;);
 
	}else if(scrollTop&lt;=0){
	  //滚动条距离顶部的高度小于等于0 TODO
	  //alert(&quot;下拉刷新，要在这调用啥方法？&quot;);
         console.log(&#39;上拉top&#39;);
	}
});</code></pre>

<p><font face="monospace">未来的Koa实战中使用的iscroll的机制完成上拉加载下拉刷新。代码如下：</font></p>

<pre>
<code class="hljs javascript,java,sql,nodejs,vuejs,html,css,json">&lt;!DOCTYPE&nbsp;html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=utf-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0&quot;&gt;
    &lt;meta name=&quot;apple-mobile-web-app-capable&quot; content=&quot;yes&quot;&gt;
    &lt;meta name=&quot;apple-mobile-web-app-status-bar-style&quot; content=&quot;black&quot;&gt;
    &lt;title&gt;iScroll 实例：下拉刷新，滚动翻页&lt;/title&gt;
        &lt;style type=&quot;text/css&quot;&gt;
                              * {
                                  -webkit-box-sizing: border-box;
                                  -moz-box-sizing: border-box;
                                  box-sizing: border-box;
                              }

        html {
            -ms-touch-action: none;
        }

        body,ul,li {
            padding: 0;
            margin: 0;
            border: 0;
        }

        body {
            font-size: 12px;
            font-family: ubuntu, helvetica, arial;
            overflow: hidden; /* this is important to prevent the whole page to bounce */
        }

        #header {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 45px;
            line-height: 45px;
            background: #CD235C;
            padding: 0;
            color: #eee;
            font-size: 20px;
            text-align: center;
            font-weight: bold;
        }

        #footer {
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 48px;
            background: #444;
            padding: 0;
            border-top: 1px solid #444;
        }

        #wrapper {
            position: absolute;
            z-index: 1;
            top: 45px;
            bottom: 48px;
            left: 0;
            width: 100%;
            background: #ccc;
            overflow: hidden;
        }

        #scroller {
            position: absolute;
            z-index: 1;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            width: 100%;
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-text-size-adjust: none;
            -moz-text-size-adjust: none;
            -ms-text-size-adjust: none;
            -o-text-size-adjust: none;
            text-size-adjust: none;
        }

        #scroller ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            text-align: left;
        }

        #scroller li {
            padding: 0 10px;
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #fff;
            background-color: #fafafa;
            font-size: 14px;
        }
        #pullDown,#pullUp,.pulldown-tips{
            height:40px;
            line-height:40px;
            text-align:center;
        }
        .pulldown-tips{
            position:absolute;
            top:-40px;
            left:0;
            width:100%;
        }

    &lt;/style&gt;

&lt;/head&gt;
&lt;body onload=&quot;load()&quot;&gt;
&lt;div id=&quot;header&quot;&gt;iScroll&lt;/div&gt;
&lt;div id=&quot;wrapper&quot;&gt;
    &lt;div id=&quot;scroller&quot;&gt;
        &lt;div id=&quot;pullDown&quot; class=&quot;&quot;&gt;&lt;div class=&quot;pullDownLabel&quot;&gt;&lt;/div&gt;&lt;/div&gt;
        &lt;div class=&quot;pulldown-tips&quot;&gt;下拉刷新&lt;/div&gt;
        &lt;ul id=&quot;list&quot;&gt;
            &lt;li&gt;Pretty row 1&lt;/li&gt;
            &lt;li&gt;Pretty row 2&lt;/li&gt;
            &lt;li&gt;Pretty row 3&lt;/li&gt;
            &lt;li&gt;Pretty row 4&lt;/li&gt;
            &lt;li&gt;Pretty row 5&lt;/li&gt;
            &lt;li&gt;Pretty row 6&lt;/li&gt;
            &lt;li&gt;Pretty row 7&lt;/li&gt;
            &lt;li&gt;Pretty row 8&lt;/li&gt;
            &lt;li&gt;Pretty row 9&lt;/li&gt;
            &lt;li&gt;Pretty row 10&lt;/li&gt;
            &lt;li&gt;Pretty row 11&lt;/li&gt;
            &lt;li&gt;Pretty row 12&lt;/li&gt;
            &lt;li&gt;Pretty row 13&lt;/li&gt;
            &lt;li&gt;Pretty row 14&lt;/li&gt;
            &lt;li&gt;Pretty row 15&lt;/li&gt;
            &lt;li&gt;Pretty row 16&lt;/li&gt;
            &lt;li&gt;Pretty row 17&lt;/li&gt;
            &lt;li&gt;Pretty row 18&lt;/li&gt;
            &lt;li&gt;Pretty row 19&lt;/li&gt;
            &lt;li&gt;Pretty row 20&lt;/li&gt;
        &lt;/ul&gt;
        &lt;div id=&quot;pullUp&quot; class=&quot;&quot;&gt;
            &lt;div class=&quot;pullUpLabel&quot;&gt;加载更多&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div id=&quot;footer&quot;&gt;&lt;/div&gt;
&lt;script src=&quot;/javascripts/jquery.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;/javascripts/is5/iscroll-probe.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot;&gt;

    function load () {
        var myScroll,
        pullDown = $(&quot;#pullDown&quot;),
        pullUp = $(&quot;#pullUp&quot;),
        pullDownLabel = $(&quot;.pullDownLabel&quot;),
        pullUpLabel = $(&quot;.pullUpLabel&quot;),
        container = $(&#39;#list&#39;),
        loadingStep = 0;//加载状态0默认，1显示加载状态，2执行加载数据，只有当为0时才能再次加载，这是防止过快拉动刷新

        pullDown.hide();
        pullUp.hide();

        myScroll = new IScroll(&quot;#wrapper&quot;, {
            scrollbars: true,
            mouseWheel: false,
            interactiveScrollbars: true,
            shrinkScrollbars: &#39;scale&#39;,
            fadeScrollbars: true,
            scrollY:true,
            probeType: 2,
            bindToWrapper:true
        });

        myScroll.on(&quot;scroll&quot;,function(){
            if(loadingStep == 0 &amp;&amp; !pullDown.attr(&quot;class&quot;).match(&#39;refresh|loading&#39;) &amp;&amp; !pullUp.attr(&quot;class&quot;).match(&#39;refresh&#39;)){
                if(this.y &gt; 40){//下拉刷新操作
                    $(&quot;.pulldown-tips&quot;).hide();
                    pullDown.addClass(&quot;refresh&quot;).show();
                    pullDownLabel.text(&quot;松手刷新数据&quot;);
                    loadingStep = 1;
                    myScroll.refresh();
                }else if(this.y &lt; (this.maxScrollY - 14)){//上拉加载更多
                    pullUp.addClass(&quot;refresh&quot;).show();
                    pullUpLabel.text(&quot;正在载入&quot;);
                    loadingStep = 1;
                    pullUpAction();
                }
            }
        });

        myScroll.on(&quot;scrollEnd&quot;,function(){
            if(loadingStep == 1){
                if( pullDown.attr(&quot;class&quot;).match(&quot;refresh&quot;) ){//下拉刷新操作
                    pullDown.removeClass(&quot;refresh&quot;).addClass(&quot;loading&quot;);
                    pullDownLabel.text(&quot;正在刷新&quot;);
                    loadingStep = 2;
                    pullDownAction();
                }
            }
        });

        function pullDownAction(){
            setTimeout(function(){
                var li, i;
                for (i = 0,li = &quot;&quot;; i &lt; 3; i++) {
                    li += &quot;&lt;li&gt;&quot; + &quot;new Add &quot; + new Date().toLocaleString() + &quot; ！&quot; + &quot;&lt;/li&gt;&quot;;
                }
                container.prepend(li);
                pullDown.attr(&#39;class&#39;,&#39;&#39;).hide();
                myScroll.refresh();
                loadingStep = 0;
                $(&quot;.pulldown-tips&quot;).show();
            },1000);
        }


        function pullUpAction(){
            setTimeout(function(){
                var li, i;
                for (i = 0,li = &quot;&quot;; i &lt; 3; i++) {
                    li += &quot;&lt;li&gt;&quot; + &quot;new Add &quot; + new Date().toLocaleString() + &quot; ！&quot; + &quot;&lt;/li&gt;&quot;;
                }
                container.append(li);
                pullUp.attr(&#39;class&#39;,&#39;&#39;).hide();
                myScroll.refresh();
                loadingStep = 0;
            },1000);
        }

        document.addEventListener(&#39;touchmove&#39;, function (e) { e.preventDefault(); }, false);
    }


&lt;/script&gt;


&lt;/body&gt;

&lt;/html&gt;</code></pre>

<p><font face="monospace">需要相关js文件和素材的加</font><span style="font-family: monospace;">QQ</span><font face="monospace">群:&nbsp;</font>581647404</p>

<p>&nbsp;</p>

						<hr />
						<p class="asb-post-footer tc"><strong>【公告】</strong><a target="_blank" href="http://localhost:8080">版权声明</a></p>
						<div style="text-align: center;padding: 20px 0 10px;margin:20px 0 0px">
						 <img src="http://localhost:8080/qrcode?k=http://localhost:8080/blogs/SwEeIYRGih51AXs4ypw8Cu.html" style="padding: 20px;" width="240px" height="240px" title="" alt=""><br/>欢迎扫描下载《ITbooking.net》APP学习交流平台
						</div>
						<p class="post-copyright tc">如未加特殊说明，此网站文章均为原创，转载必须注明出处。<a href="http://localhost:8080">中华墨风's Blog</a> » </p>
						<p class="post-copyright tc tp4 pr"><a href="http://localhost:8080/blogs/SwEeIYRGih51AXs4ypw8Cu.html">《js实现上拉加载及下拉刷新效果》</a></p>
					</div>
					<footer class="post-footer">
						<div class="post-eof"></div>
					</footer>
				</article>
				<div class="post-spread"></div>
			</div>
		</div>
		<div class="comments v" id="comments">
			<div class="vwrap">
				<div class="vedit">
					<textarea id="txt_message" maxlength="400" class="veditor vinput" placeholder="Just go go" style=""></textarea>
					<div class="vemojis">
						<i name="grinning" title="grinning">😀</i><i name="smiley"
							title="smiley">😃</i><i name="smile" title="smile">😄</i><i
							name="grin" title="grin">😁</i><i name="laughing"
							title="laughing">😆</i><i name="sweat_smile" title="sweat_smile">😅</i><i
							name="joy" title="joy">😂</i><i name="blush" title="blush">😊</i><i
							name="innocent" title="innocent">😇</i><i name="wink"
							title="wink">😉</i><i name="relieved" title="relieved">😌</i><i
							name="heart_eyes" title="heart_eyes">😍</i><i
							name="kissing_heart" title="kissing_heart">😘</i><i
							name="kissing" title="kissing">😗</i><i
							name="kissing_smiling_eyes" title="kissing_smiling_eyes">😙</i><i
							name="kissing_closed_eyes" title="kissing_closed_eyes">😚</i><i
							name="yum" title="yum">😋</i><i
							name="stuck_out_tongue_winking_eye"
							title="stuck_out_tongue_winking_eye">😜</i><i
							name="stuck_out_tongue_closed_eyes"
							title="stuck_out_tongue_closed_eyes">😝</i><i
							name="stuck_out_tongue" title="stuck_out_tongue">😛</i><i
							name="sunglasses" title="sunglasses">😎</i><i name="smirk"
							title="smirk">😏</i><i name="unamused" title="unamused">😒</i><i
							name="disappointed" title="disappointed">😞</i><i name="pensive"
							title="pensive">😔</i><i name="worried" title="worried">😟</i><i
							name="confused" title="confused">😕</i><i name="persevere"
							title="persevere">😣</i><i name="confounded" title="confounded">😖</i><i
							name="tired_face" title="tired_face">😫</i><i name="weary"
							title="weary">😩</i><i name="angry" title="angry">😠</i><i
							name="rage" title="rage">😡</i><i name="no_mouth"
							title="no_mouth">😶</i><i name="neutral_face"
							title="neutral_face">😐</i><i name="expressionless"
							title="expressionless">😑</i><i name="hushed" title="hushed">😯</i><i
							name="frowning" title="frowning">😦</i><i name="anguished"
							title="anguished">😧</i><i name="open_mouth" title="open_mouth">😮</i><i
							name="astonished" title="astonished">😲</i><i name="dizzy_face"
							title="dizzy_face">😵</i><i name="flushed" title="flushed">😳</i><i
							name="scream" title="scream">😱</i><i name="fearful"
							title="fearful">😨</i><i name="cold_sweat" title="cold_sweat">😰</i><i
							name="cry" title="cry">😢</i><i name="disappointed_relieved"
							title="disappointed_relieved">😥</i><i name="sob" title="sob">😭</i><i
							name="sweat" title="sweat">😓</i><i name="sleepy" title="sleepy">😪</i><i
							name="sleeping" title="sleeping">😴</i><i name="mask"
							title="mask">😷</i><i name="smiling_imp" title="smiling_imp">😈</i><i
							name="smiley_cat" title="smiley_cat">😺</i><i name="smile_cat"
							title="smile_cat">😸</i><i name="joy_cat" title="joy_cat">😹</i><i
							name="heart_eyes_cat" title="heart_eyes_cat">😻</i><i
							name="smirk_cat" title="smirk_cat">😼</i><i name="kissing_cat"
							title="kissing_cat">😽</i><i name="scream_cat"
							title="scream_cat">🙀</i><i name="crying_cat_face"
							title="crying_cat_face">😿</i><i name="pouting_cat"
							title="pouting_cat">😾</i><i name="cat" title="cat">🐱</i><i
							name="mouse" title="mouse">🐭</i><i name="cow" title="cow">🐮</i><i
							name="monkey_face" title="monkey_face">🐵</i><i name="hand"
							title="hand">✋</i><i name="fist" title="fist">✊</i><i name="v"
							title="v">✌️</i><i name="point_up" title="point_up">👆</i><i
							name="point_down" title="point_down">👇</i><i name="point_left"
							title="point_left">👈</i><i name="point_right"
							title="point_right">👉</i><i name="facepunch" title="facepunch">👊</i><i
							name="wave" title="wave">👋</i><i name="clap" title="clap">👏</i><i
							name="open_hands" title="open_hands">👐</i><i name="+1"
							title="+1">👍</i><i name="-1" title="-1">👎</i><i name="ok_hand"
							title="ok_hand">👌</i><i name="pray" title="pray">🙏</i><i
							name="ear" title="ear">👂</i><i name="eyes" title="eyes">👀</i><i
							name="nose" title="nose">👃</i><i name="lips" title="lips">👄</i><i
							name="tongue" title="tongue">👅</i><i name="heart" title="heart">❤️</i><i
							name="cupid" title="cupid">💘</i><i name="sparkling_heart"
							title="sparkling_heart">💖</i><i name="star" title="star">⭐️</i><i
							name="sparkles" title="sparkles">✨</i><i name="zap" title="zap">⚡️</i><i
							name="sunny" title="sunny">☀️</i><i name="cloud" title="cloud">☁️</i><i
							name="snowflake" title="snowflake">❄️</i><i name="umbrella"
							title="umbrella">☔️</i><i name="coffee" title="coffee">☕️</i><i
							name="airplane" title="airplane">✈️</i><i name="anchor"
							title="anchor">⚓️</i><i name="watch" title="watch">⌚️</i><i
							name="phone" title="phone">☎️</i><i name="hourglass"
							title="hourglass">⌛️</i><i name="email" title="email">✉️</i><i
							name="scissors" title="scissors">✂️</i><i name="black_nib"
							title="black_nib">✒️</i><i name="pencil2" title="pencil2">✏️</i><i
							name="x" title="x">❌</i><i name="recycle" title="recycle">♻️</i><i
							name="white_check_mark" title="white_check_mark">✅</i><i
							name="negative_squared_cross_mark"
							title="negative_squared_cross_mark">❎</i><i name="m" title="m">Ⓜ️</i><i
							name="i" title="i">ℹ️</i><i name="tm" title="tm">™️</i><i
							name="copyright" title="copyright">©️</i><i name="registered"
							title="registered">®️</i>
					</div>
					<div class="vinput vpreview" style="display: none">
						<p>试了下 Java OpenCV
							做人脸检测，确实很强大。实现起来非常简单，但是精准度不够。不过应该能满足某些场景，比如相机的自动对焦等。这里分享一下相关的代码。</p>
					</div>
				</div>
				<div class="vcontrol">
					<div class="col col-20" title="Markdown is supported">
						还可以输入：<span class="numtip">400</span>&nbsp;字
					</div>
					<div class="col col-80 text-right">
						<a href="javacript:void(0);" onclick="mkComment.vcontrol(this)" class="vemoji-btn" style="margin-right: 20px;">Emoji</a> 
						<button type="button" @click="saveComment" title="Cmd|Ctrl+Enter" class="vsubmit vbtn">回复</button>
					</div>
				</div>
				<div style="display: none;" class="vmark"></div>
			</div>
			<div class="vinfo" style="display: block;">
				<div class="vcount col">
					<span class="vnum">{{total}}</span> 评论
				</div>
			</div>
			
			
			<div class="vlist" id="vlist_box">
				<div class="vcard" :id="'vcard_'+comment.id"  v-for="(comment,index) in comments">
					<img class="vimg" onerror="imgError(this)" :src="basePath+'/'+comment.headerPic">
					<div class="vh">
						<div class="vhead">
							<span class="vnick">{{comment.username}}</span> <span class="vsys">{{comment.ip}}</span> <span class="vsys">{{comment.osbroswer}}</span>
						</div>
						<div class="vmeta">
							<span class="vtime">{{comment.createTime}} / {{comment.createTime|fomatTime}}</span>
							<span v-if="session_user==15074816437" :index="index" :opid="comment.id" @click="del" class="vat">&nbsp;/&nbsp;删除</span> 
							<span :cid="comment.userId" :at="'@'+comment.username" :opid="comment.id" :index="index" @click="reply" class="vat">回复</span>
						</div>
						<div class="vcontent">
							<p v-html="comment.content"></p>
						</div>
						<div class="vquote">
							<div class="vcard" :id="'vcard_'+ccomment.id" v-for="ccomment in comment.children" >
								<img class="vimg" :src="basePath+'/'+ccomment.headerPic">
								<div class="vhead">
									<span class="vnick">{{ccomment.username}}</span> <span class="vsys">{{ccomment.ip}}</span> <span class="vsys">{{ccomment.osbroswer}}</span>
								</div>
								<div class="vmeta">
									<span class="vtime">{{ccomment.createTime}} / {{ccomment.createTime|fomatTime}}</span> 
									<span v-if="session_user==15074816437" :index="index" :opid="ccomment.id" @click="del" class="vat">&nbsp;/&nbsp;删除</span>
									<span :cid="ccomment.userId" :at="'@'+ccomment.username" :index="index" :opid="comment.id" @click="reply" class="vat">回复</span>
								</div>
								<div class="vcontent">
									<p v-html="ccomment.content"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tc" style="padding:100px;background:#fefefe;" v-if="comments.length==0">暂无评论</div>
				<div v-if="!hasNext" class="loadmore"><a href="javascript:void(0)" @click="loadmore">加载更多({{pages}})</a></div>
				<div v-if="hasNext" class="loadmore animated fadeOut">加载完毕</div>
			</div>
		</div>
	
	</div>
</main>
</div>
<aside id="sidebar" class="sidebar ">
			<div class="sidebar-inner">

				<section class="site-overview">
					<div class="site-author motion-element" itemprop="author"
						itemscope="" itemtype="http://schema.org/Person"
						style="opacity: 1; display: block; transform: translateX(0px);">
				<div class="site-author-avatar"></div>
				<p class="site-author-name" itemprop="name">Pandara</p>
			</div>
			<p class="site-description motion-element" itemprop="description"
				style="opacity: 1; display: block; transform: translateX(0px);">一切皆为年少轻狂之诳语·DeepLearning
				小白</p>
			<nav class="site-state motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">
				<div class="site-state-item site-state-posts">
					<a href="/archives"> <span class="site-state-item-count">92</span>
						<span class="site-state-item-name">日志</span>
					</a>
				</div>

				<div class="site-state-item site-state-categories">
					<a href="/categories"> <span class="site-state-item-count">9</span>
						<span class="site-state-item-name">分类</span>
					</a>
				</div>

				<div class="site-state-item site-state-tags">
					<a href="/tags"> <span class="site-state-item-count">44</span>
						<span class="site-state-item-name">标签</span>
					</a>
				</div>

			</nav>

			<div class="links-of-author motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">

				<span class="links-of-author-item"> <a
					href="https://github.com/PandaraWen" target="_blank">Github</a>
				</span> <span class="links-of-author-item"> <a
					href="https://dribbble.com/PandaraWen" target="_blank">Dribbble</a>
				</span> <span class="links-of-author-item"> <a
					href="https://twitter.com/WenPandara" target="_blank">Twitter</a>
				</span>

			</div>

			<div class="links-of-author motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">

				<p class="site-author-name">基情链接</p>

				<span class="links-of-author-item"> <a
					href="http://aevit.xyz/" target="_blank">Aevit's Lab</a>
				</span> <span class="links-of-author-item"> <a
					href="http://w3ctrain.com" target="_blank">W3cTrain</a>
				</span> <span class="links-of-author-item"> <a
					href="http://mrazy.com" target="_blank">梦灯笼</a>
				</span>

			</div>

		</section>

		<div class="side-bar-foot-decorate">
			<div class="side-bar-man motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);"></div>
			<div class="side-bar-star motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);"></div>
		</div>
	</div>
</aside><footer id="footer" class="footer">
		<div class="footer-inner">
			<div class="copyright">

				© &nbsp; <span itemprop="copyrightYear">2018-2020</span> <span
					class="with-love"> <i class="icon-heart"></i>
				</span> <span class="author" itemprop="copyrightHolder">中华墨风</span>
			</div>

			<div class="powered-by">
				由 <a class="theme-link" href="http://hexo.io">Hexo</a> 强力驱动
			</div>

			<div class="powered-by">湘ICP备16011548号-1</div>

			<div class="theme-info">
				主题 - <a class="theme-link"
					href="https://github.com/iissnan/hexo-theme-next"> NexT </a>
			</div>
		</div>
	</footer>
</div>

<div class="back-to-top" style="display: none;"></div>

<div class="sidebar-toggle">
	<div class="sidebar-toggle-line-wrap">
		<span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
		<span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
		<span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
	</div>
</div>


<!--弹出登录-->
<div id="itbooking-loginbox" class="popup search-popup local-search-popup animated bounceInDown" style="display: none;">
<div class="app-location">
	<h3 class="errorbox animated flipInY" style=""></h3>
	<h2>登录</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<input type="text" class="cctext" id="telephone" autofocus="autofocus" autocomplete="off" placeholder="报上手机" maxlength="11" >
		<input type="password" class="ccron" id="password"   autocomplete="off" placeholder="输入钥匙" maxlength="16">
		<span id="codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" id="code" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<div class="submit"><input type="submit" id="loginbtn" value="Sign in"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadForget();" style="font-size: 16px;">忘记密码 ?</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLoginReg();" style="font-size: 16px;">注册</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>
<style>
	.tipphone{border-radius:20px;color: #fff;position: absolute;width:100px;top:28px;right:10px;font-size: 12px;border-bottom: 0;background:#0bd38a;padding:3px 0 5px;/* display: none; */}
	/* .relocation_box:hover .tipphone{display:block} */
</style>
<!--弹出注册-->
<div id="itbooking-regbox" class="popup search-popup local-search-popup animated bounceInDown">
<div class="app-location relocation_box">
	<h3 class="errorbox animated flipInY" style="position: absolute;font-size:20px;right:0;left:0;margin:0 auto;color:#fff;display: none"></h3>
	<h2>注册</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<span class="tipinputspan" style="position: relative;display: block;">
			<input type="text" class="cctext" id="r_telephone"  autofocus="autofocus" autocomplete="off" placeholder="手机号码" maxlength="11" >
			<a href="javascript:void(0);" id="tipphone_get" class="tipphone">提取短信码</a>
		</span>
		<span class="rred_codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" id="r_code" disabled="disabled" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<span class="rred_codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" disabled="disabled" id="r_phocode" placeholder="输入短信码" maxlength="6">
		</span>
		<span class="rred_codebox"  style="display: none;">
			<input type="password" class="ccron" disabled="disabled" id="r_password"   autocomplete="off" placeholder="输入密码" maxlength="16">
		</span>
		<div class="rred_codebox submit" style="display: none;"><input type="submit" data-isopen="false" id="r_loginbtn" value="Reg in"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadForget();" style="font-size: 16px;">忘记密码 ?</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLogin();" style="font-size: 16px;">登录</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>



<!--弹出忘记密码-->
<div id="itbooking-forgetbox" class="popup search-popup local-search-popup animated bounceInDown"  >
<div class="app-location">
	<h3 class="errorbox animated flipInY" style="position: absolute;font-size:20px;right:0;left:0;margin:0 auto;color:#fff;display: none"></h3>
	<h2>找回密码</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<span style="position: relative;display: block;">
			<input type="text" class="cctext" id="f_telephone" autofocus="autofocus" autocomplete="off" placeholder="手机号码" maxlength="11" >
			<a href="javascript:void(0);" style="border-radius:20px;color: #fff;position: absolute;width:100px;top:28px;right:10px;font-size: 12px;border-bottom: 0;background:#0bd38a;padding:3px 0 5px">提取短信码</a>
		</span>
		<span style="position: relative;display: none;">
			<input type="text" class="ccron" id="f_code" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<span style="position: relative;display: none;">
			<input type="text" class="ccron" id="f_phonecode" placeholder="输入短信码" maxlength="4">
		</span>
		<span style="display: none;">
			<input type="password" class="ccron" id="f_password"   autocomplete="off" placeholder="输入钥匙" maxlength="16">
		</span>
		<div class="submit"><input type="submit" id="f_loginbtn" value="Forget Back"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadLoginReg();" style="font-size: 16px;">注册</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLogin();" style="font-size: 16px;">登录</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>
<script type="text/javascript" src="http://localhost:8080/js/highcode/highlight.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/clipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/vue.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/vue-resource.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/blogcomment.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/player.js"></script>
<script>$(".playbox").trigger("click");</script>
</body>
</html>
