<!DOCTYPE html>
<html class="theme-next use-motion">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<link rel="shortcut icon" href="http://localhost:8080/img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="http://localhost:8080/css/main.css">
<link rel="stylesheet" href="http://localhost:8080/css/compoment.css?4bf3b5f">
<script>var basePath="http://localhost:8080";var adminPath="http://localhost:8080/admin";</script><script type="text/javascript" src="http://localhost:8080/js/jquery.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/md5.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/sg.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/sgutil.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/admin.js"></script><title>【未来已来】盘点CES 2018上亮相的那些黑科技-中华墨风-'s Zone</title>
<meta name="description" content="最近今天，估计大家很多人或多或少的都被CES刷屏过。消费类电子产品展览会（Consumer Electronics Show，简称CES），由美国电子 ...">
<meta name="keywords" content="">
<style>.loadmore{background:#fbfbfb;padding:5px;margin:30px 0;text-align: center;}
	.loadmore a{display: block;border-bottom:0;}
	.rebtn{color:#333;font-size: 12px;}
	.itb-musicboxs,.itb-imgboxs{margin:20px 0px;text-align: center;overflow:hidden;}
	.itb-musicboxs,.itb-imgboxs img{width:100%;}
	.itb-audioboxs{position:absolute;bottom:-3px;left:3px;}
	.playboxs{position:absolute;z-index:3;top:0;left:0;right:0;text-align: center;line-height: auto;bottom:0;}
	.playboxs i{font-size:112px;color:#fff;}
	
</style>
</head>
<body title="双击看详情" data-edit="blog" data-opid="96" data-comment="open">
<div class="container one-column page-home ">
	<div id="pandara-brand" class="my-brand" style="opacity: 1; top: 0px;">
		<div id="space-ship" class="pandara-image  animated rotateInDownRight"></div>
		<div id="planet0" class="pandara-image r animated rotateIn"></div>
		<div id="earth" class="pandara-image animated zoomInUp"></div>
		<!-- <div id="planet1" class="pandara-image animated zoomInDown"></div>
		<div id="planet2" class="pandara-image animated rotateIn"></div>
		<div id="planet3" class="pandara-image animated rotateIn"></div>
		<div id="satellite" class="pandara-image animated zoomInDown"></div>
		<div id="planet4" class="pandara-image animated rotateIn"></div> -->
		<!-- <div id="planet5" class="pandara-image animated rotateInDownRight"></div> -->
		<!-- <div id="planet6" class="pandara-image animated rotateInDownLeft"></div> -->
	</div>  
	<div class="headband"></div>
	<header id="header" class="header" >
		<div class="header-inner ">
			<h1 class="site-meta animated2 fadeInDown">
				<span class="logo-line-before"><i></i></span> <span 
					class="brand" rel="start" style="opacity: 1;"> <span
					class="logo" style="opacity: 1; top: 0px;">
						<i class="icon-logo"></i>
				</span> <span class="site-title"
					style="opacity: 1; top: 0px;"><a href="http://localhost:8080" class="cof" style="border-bottom: none;">中华墨风's zone~~~</a></span>
					<a href="javascript:void(0);" class="loginlink fz14 cof" onclick="mkLogin.loadLogin()">登录</a>
					<a href="javascript:void(0);" class="loginlink fz14 cof" onclick="mkLogin.loadLoginReg()">/&nbsp;注册</a>
					<span id="loginspan" class="fz14"></span>
				</span> 
			
			</h1>
			
			<div class="site-nav-toggle">
				<button>
					<span class="btn-bar"></span> <span class="btn-bar"></span> <span
						class="btn-bar"></span>
				</button>
			</div>
			<nav class="site-nav">
				<ul id="menu" class="menu animated fadeInDown">
					<li class="menu-item menu-item-archives" style="opacity: 1; transform: translateY(0px);"><a class="active" href="http://localhost:8080" rel="section"> <i class="menu-item-icon  fa fa-home"></i> <br> 首页</a></li>
					<li class="menu-item menu-item-archives menu-item-course" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/course" rel="section"> <i class="menu-item-icon  fa fa-bookmark"></i> <br> 课程</a></li>
					<li class="menu-item menu-item-archives menu-item-blog" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/blog" rel="section"> <i class="menu-item-icon  fa fa-map-signs"></i> <br> 故事</a></li>
					<li class="menu-item menu-item-archives menu-item-archives2" style="opacity: 1; transform: translateY(0px);"><a href="http://localhost:8080/archives" rel="section"> <i class="menu-item-icon  fa fa-quora"></i> <br> 归档</a></li>
					<li class="menu-item menu-item-tags"
						style="opacity: 1; transform: translateY(0px);"><a
						href="https://gitee.com/kekesam" target="_blank" rel="section"> <i class="menu-item-icon fa fa-git-square"></i>
							<br> Git码云
					</a></li> 
					<li class="menu-item menu-item-about"
						style="opacity: 1; transform: translateY(0px);"><a
						href="http://localhost:8080/about"  target="_blank" rel="section"> <i
							class="menu-item-icon fa fa-user-circle-o"></i> <br> 我是谁˚∆˚
					</a></li> 
				</ul>

			</nav>
		</div>
	</header>	<main id="main" class="main">
	 	<div class="main-inner"style="width: px">
		<div id="content" class="content">
			<div id="posts" class="posts-expand">
				<article class="post post-type-normal animated  fadeIn">
					<header class="post-header">
						<h1 class="post-title">
							<a class="post-title-link" href="http://localhost:8080/blogs/XZ9txKNiev96gUsdDQ9nRI.html">【未来已来】盘点CES 2018上亮相的那些黑科技</a>
						</h1>
						<div class="post-meta">
							<span class="post-time"> 发表于 <time
									datetime="2018/07/19 14:06:02">2018/07/19 14:06:02</time>
							</span> <span class="post-category"> &nbsp; | &nbsp; 分类于 :&nbsp;<span><a
									href="http://localhost:8080/search/1" rel="index">
										<span>前端</span>
								</a> </span></span> <span id="busuanzi_container_page_pv"
								style="display: inline;"> &nbsp; | &nbsp; 访客 :&nbsp;<span
								id="bloghits">475</span> &nbsp; 评论 :&nbsp;<a href="#txt_message"
								id="commentnum">0</a>
							</span>
							<span id="editbox"></span>
						</div>
					</header>
					<div class="post-body">
						<div class="itb-imgboxs pr">
						</div>
						<div class="asb asb-post asb-post-01"></div> 
<p>最近今天，估计大家很多人或多或少的都被CES刷屏过。消费类电子产品展览会（Consumer Electronics Show，简称CES），由美国电子消费品制造商协会（简称CTA）主办，旨在促进尖端电子技术和现代生活的紧密结合。</p> 
<p>该展始于1967年，现已成为了全球各大电子产品企业发布产品信息和展示高科技水平及倡导未来生活方式的窗口。每年一月在世界著名赌城——拉斯维加斯举办，是世界上最大、影响最为广泛的消费类电子技术年展，也是全球最大的消费技术产业盛会。该展览会专业性强，贸易效果好，在世界上享有相当高的知名度。历年的CES展会均云集了当前最优秀的传统消费类电子厂商和IT核心厂商，他们带去了最先进的技术理念和产品，吸引了众多的高新技术设备爱好者、使用者及业界观众。</p> 
<p>2018年1月9到12日，第51届CES在拉斯维加斯如期举行。</p> 
<p>每年SEC的参展产品都是倍受关注的高科技或者说是黑科技。今天的SEC涉及到很多领域，如智慧城市、自动驾驶、人工智能、AR &amp; VR、量子计算、智能家居、智能设备、区块链等。可以说，今年在拉斯维加斯举办的这一届CES，虽然经历了演示故障、停电事件等，但是还是让我们满足了很多我们对未来的遐想。本文主要来介绍一下展会上涉及到的黑科技。</p> 
<h2>一、手机</h2> 
<h3>vivo X20 UD：全球首款配有屏下指纹传感器的手机</h3> 
<p>前不久，指纹识别模块厂商Synaptics(新思国际)宣布，正式推出全球首款屏下指纹传感器——Clear ID FS9500，专为全面屏手机设计。在本次CES大会上，vivo展示了使用光学传感器来识别用户的指纹的vivo X20 UD。该传感器位于设备屏幕下方，这使得它可以在前端没有任何按钮的情况下保持全屏外观。</p> 
<p><img src="http://www.hollischuang.com/wp-content/uploads/2018/01/vivo-169x300.jpg" alt="vivo" width="169" height="300" class="aligncenter size-medium wp-image-1961"></p> 
<p>从外观设计上来看这款产品与此前发布的vivo X20 Plus没有太大区别，值得注意的是由于取消了后置指纹识别，因此背面一体化更高，而vivo X20 Plus UD将全球首发屏下指纹识别。</p> 
<h3>华硕ZenFone Max Plus</h3> 
<p>单独介绍该手机的原因是它配有面部解锁功能。到目前为止，面部识别技术主要被应用于iPhone X、Galaxy Note 8和LG V30这样的旗舰级智能手机上。而华硕推出的这款手机是比较经济实惠的，该设备将在美国出售，售价为229美元。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/01/huashuo.jpg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/01/huashuo-300x246.jpg" alt="huashuo" width="300" height="246" class="aligncenter size-medium wp-image-1963"></a></p> 
<h3>Razer Phone和Project Linda</h3> 
<p>去年CES会展上，雷蛇展示的三联屏笔记本电脑至今还令人印象深刻。今年的CES，雷蛇则在自己刚刚发布不久的智能手机上做了一些文章，将超轻薄笔记本电脑与智能手机来了一个完美结合。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/01/razer-linda.jpeg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/01/razer-linda-300x200.jpeg" alt="razer linda" width="300" height="200" class="aligncenter size-medium wp-image-1965"></a></p> 
<p>据悉，这款名叫Project Linda的概念产品，这是一款 Razer Phone 的专属配件，可以让 Razer Phone 秒变笔记本电脑。它将Razer Phone和外观类似雷蛇灵刃潜行版笔记本电脑外观的“底座”组合在一起。玩家可以使用笔记本键盘和外置鼠标对手机游戏进行流畅操作，同时也可以将Razer Phone作为触摸板使用。</p> 
<p>除了以上几款手机，在本次CES上退出的手机还有华为Mate 10 pro、Sony Xperia XA2、Sony Xperia XA2 Ultra、Sony Xperia L2、TCL Alcatel系列等</p> 
<h2>二、汽车</h2> 
<h3>百度：Apollo 2.0无人车</h3> 
<p>Apollo2.0能够实现简单城市道路自动驾驶。已经具备了在实际路况下完全自动驾驶的能力，司机无需任何干预，包括变道、等红灯、避让等都十分完美。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/01/apollo.jpg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/01/apollo-300x200.jpg" alt="apollo" width="300" height="200" class="aligncenter size-medium wp-image-1966"></a></p> 
<h3>现代：全新燃料电池车NEXO</h3> 
<p>Nexo搭载可输出120kW最大功率的电动机以及第四代氢燃料电池技术，与此前现代ix35燃料电池车运用的技术相比，动力效率提高60%，在低温环境下的性能更强。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/01/nexo.jpg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/01/nexo-300x200.jpg" alt="nexo" width="300" height="200" class="aligncenter size-medium wp-image-1968"></a></p> 
<p>Nexo的百公里加速（9.5秒）可提高20%，续航可达370英里（约595公里），在加氢站停留5分钟，就可以加满气继续前行。此外，Nexo上还加入了新的驾驶辅助技术，以及车道跟踪系统和现代车型的高速公路驾驶助手功能，使车辆能够以90英里/小时的速度保持在车道中央，而无需关注其他车辆。</p> 
<h3>起亚：SUV概念车Niro EV</h3> 
<p>新车基于Niro打造，最大续航里程达到383km。新车最大的特点在于其前格栅的交互式照明系统以及车内全新的人机交互系统。新车搭载主动行人警告系统，它使用摄像机和物体识别技术以及扬声器来警告路人和小动物。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/01/ev.jpg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/01/ev-300x168.jpg" alt="ev" width="300" height="168" class="aligncenter size-medium wp-image-1969"></a></p> 
<h3>贾跃亭：FF91</h3> 
<p>FF91为一款纯电动概念车，长/宽/高分别为5250/2283/1598mm，轴距达3200mm。其采用对开门设计，内部有4个独立座椅，其内饰细节还尚未发布。根据官方数据，FF 91搭载容量为130kWh的电池组，在满足EPA标准的前提下，续航里程可达到608公里。新车瞬时最大输出功率达783kW(1050PS)，0-96km/h加速时间仅需2.39秒，对比特斯拉MOEDL S P100DL的0-100km/h加速时间为2.7秒。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/01/ff.jpeg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/01/ff-300x186.jpeg" alt="ff" width="300" height="186" class="aligncenter size-medium wp-image-1967"></a></p> 
<h3>世界首台电动飞行汽车Volocopter</h3> 
<p>在今年的CES会展上，世界上第一架纯电动两座直升机Volocopter亮相。准确的说，Volocopter从本质上来讲更像是一款飞行汽车，其被设想、设计和制造成首批无人空中出租车之一。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/01/volo.jpeg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/01/volo-300x162.jpeg" alt="volo" width="300" height="162" class="aligncenter size-medium wp-image-1970"></a></p> 
<p>Volocopte采用白色蛛网设计，18个旋翼装置的新型纯电动私人直升机。相比普通直升机而言，新型直升机飞行性能更加稳定，安全系数更高，机上操纵杆和驾驶舱软件也容易操作。</p> 
<h2>三、AR &amp; VR</h2> 
<h3>HTC Vive Pro</h3> 
<p>在CES 2018中，HTC对外发布了HTC Vive Pro虚拟现实头盔，它在HTC Vive头盔的基础上进行了重大的改进，是一款令人印象深刻的VR新品。HTC Vive Pro的定位并非是取代现有的HTC Vive，它是作为一款升级换代的的产品被提供给用户的。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/01/vive.jpg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/01/vive-300x212.jpg" alt="vive" width="300" height="212" class="aligncenter size-medium wp-image-1971"></a></p> 
<p>Vive Pro，改进了初代的不足，同时实现无线VR。Vive专业版首先大幅度升级了展示内容的双眼屏幕，分辨率从原版的2160×1200（单眼1080×1200）升级到了2880×1600（单眼1440×1600），而且屏幕材质也换成了OLED。分辨率的提升将能使得Vive在显示图像和文本时获得更清晰锐利的效果，而且在硬件规格上也能暂时压倒Oculus和Windows MR众。除了增加分辨率外，HTC还重新设计了Vive Pro的头带，并增加了内置耳机。</p> 
<h3>小米VR一体机</h3> 
<p>在CES 2018国际消费电子展中，小米与Oculus联合推出了VR一体机产品——小米VR一体机和Oculus Go。小米VR一体机和Oculus Go的核心硬件配置完全相同，仅在外观上有所不同。小米VR一体机仅在中国发售，而于2017年10月首次公布的Oculus Go在中国以外的国家发售。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/01/xiaomi.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/01/xiaomi-300x235.png" alt="xiaomi" width="300" height="235" class="aligncenter size-medium wp-image-1972"></a></p> 
<p>两款VR一体机均搭载骁龙移动处理器，同时使用了众多创新技术配置，包括Fast-Switch 2K超清极速屏、新一代的光学透镜和全景声近场耳机。此外，小米VR应用商店还提供巨幕电影、360°全景视频和体感游戏等海量内容。</p> 
<h2>五、智能家居</h2> 
<h3>三星Family Hub冰箱</h3> 
<p>三星的Family Hub是一款带屏幕的智能冰箱，而它的最大特色是能够作为智能家居控制中枢工作。也就是说，你可以通过它来控制一系列的智能家居产品。除此之外，Family Hub还提供了其他一些实用功能，比如告诉你冰箱内部的情况，提供食谱建议，甚至是帮你寻找购物优惠券。当然，它也内置Bixby语音助手，可让你通过语音命令来执行各种任务。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/01/hub.gif"><img src="http://www.hollischuang.com/wp-content/uploads/2018/01/hub-300x168.gif" alt="hub" width="300" height="168" class="aligncenter size-medium wp-image-1973"></a></p> 
<h3>科勒Konnect智能卫浴系列产品</h3> 
<p>美国高端卫浴品牌科勒在本届展会上推出了名为Konnect系列的智能卫浴产品，当中包括支持语音控制、音乐播放、灯光效果的花洒，可作为Alexa智能音箱使用的浴室镜，可自动防洗澡水的浴缸，可控制水量的龙头，内置暖脚器、加热坐垫、氛围灯、音乐播放和清洁功能的马桶。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/01/kon.gif"><img src="http://www.hollischuang.com/wp-content/uploads/2018/01/kon-300x167.gif" alt="kon" width="300" height="167" class="aligncenter size-medium wp-image-1974"></a></p> 
<h3>August Access</h3> 
<p>智能门锁厂商August所推出的这项服务和亚马逊备受争议的Key类似，当家中无人无法收快递时，它能够向快递员提供智能门锁的临时控制权，让他们把包裹放进你家里。 August Access会向快递员提供一个一次性的密码来开启智能门锁，当他们完成投递离开之后，这条密码便会失效。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/01/access.jpg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/01/access-300x169.jpg" alt="access" width="300" height="169" class="aligncenter size-medium wp-image-1975"></a></p> 
<h3>Nest x Yale智能门锁</h3> 
<p>Nest x Yale智能门锁可以存储250条不同的PIN码，用户可以通过设置让不同的密码只能在特定的时间段使用。如果你担心有人会在晚上进你家，那你可以让他们手中的密码只能在白天使用。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/01/yale.gif"><img src="http://www.hollischuang.com/wp-content/uploads/2018/01/yale-300x168.gif" alt="yale" width="300" height="168" class="aligncenter size-medium wp-image-1976"></a></p> 
<h2>六、区块链</h2> 
<h3>比特币挖矿机器</h3> 
<p>柯达在CES 2018上展出了用来挖矿的柯达矿机“KashMiner”，这款比特币挖矿设备由柯达与Spotlite合作推出，采用租借的方式提供给用户。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/01/keda.png"><img src="http://www.hollischuang.com/wp-content/uploads/2018/01/keda-300x194.png" alt="keda" width="300" height="194" class="aligncenter size-medium wp-image-1977"></a></p> 
<h2>七、智能设备</h2> 
<h3>人工智能耳机莫比斯</h3> 
<p>这款被定义为“全球首款全语音人工智能耳机”的莫比斯Mobius，以咪咕内容与科大讯飞技术为核心，聚合语音操控，中英翻译，心率监测，健身指导，日程管理，出行导航，路线规划、音乐听书等功能。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/01/erji.jpeg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/01/erji-300x200.jpeg" alt="erji" width="300" height="200" class="aligncenter size-medium wp-image-1978"></a></p> 
<h2>八、量子计算</h2> 
<p>Intel在CES2018发布了49-qubit的量子芯片。公司CEO Brain Krzanich称其为量子计算领域的重大突破，下一步目标“量子优势”。该芯片是以阿拉斯加的湖泊链而命名的，充分体现了量子位运作所需的极寒温度和纠缠态。</p> 
<p><a href="http://www.hollischuang.com/wp-content/uploads/2018/01/lake.jpeg"><img src="http://www.hollischuang.com/wp-content/uploads/2018/01/lake-300x199.jpeg" alt="lake" width="300" height="199" class="aligncenter size-medium wp-image-1979"></a></p> 
<p>从某种意义上看，量子计算的计算能力正超过传统计算机，而英特尔又将这种可能往前推进了一步。</p> 
<h3>参考资料</h3> 
<p><a href="http://www.sohu.com/a/215661579_115565">今年的黑科技都在这了！CES 2018已发新品大荟萃</a> <a href="http://www.xinhuanet.com/overseas/2018-01/14/c_129790347.htm">回望CES 2018：一次关于人类未来的预演</a> <a href="http://xinwen.pconline.com.cn/1068/10683729.html">CES 2018热点汇总：代表未来生活的十大产品</a> <a href="http://finance.sina.com.cn/roll/2018-01-10/doc-ifyqptqv7141446.shtml">发力量子计算 英特尔押注十年后的未来 | 直击CES</a> <a href="http://www.qianjia.com/html/2018-01/17_282664.html">盘点：CES 2018特色智能家居产品</a> <a href="http://k.sina.com.cn/article_2810373291_a782e4ab020009s45.html">2018年CES召开 新汽车概念看花眼</a></p> 
<p class="asb-post-footer"><strong>【公告】</strong><a target="_blank" href="http://www.hollischuang.com/转载说明">版权声明</a></p>(全文完)
<center>
 <img src="http://www.hollischuang.com/wp-content/uploads/2016/01/qrcode_for_gh_4ebd1b130cbe_430-1.jpg" width="300px" height="300px" title="" alt="">欢迎关注HollisChuang微信公众账号
</center>
<p class="post-copyright">如未加特殊说明，此网站文章均为原创，转载必须注明出处。<a href="http://www.hollischuang.com">HollisChuang's Blog</a> » <a href="http://www.hollischuang.com/archives/1960">【未来已来】盘点CES 2018上亮相的那些黑科技</a></p><p>此文转自：<a href='http://www.hollischuang.com/archives/1960' target='_blank'>http://www.hollischuang.com/archives/1960</a></p>
						<hr />
						<p class="asb-post-footer tc"><strong>【公告】</strong><a target="_blank" href="http://localhost:8080">版权声明</a></p>
						<div style="text-align: center;padding: 20px 0 10px;margin:20px 0 0px">
						 <img src="http://localhost:8080/qrcode?k=http://localhost:8080/blogs/XZ9txKNiev96gUsdDQ9nRI.html" style="padding: 20px;" width="240px" height="240px" title="" alt=""><br/>欢迎扫描下载《ITbooking.net》APP学习交流平台
						</div>
						<p class="post-copyright tc">如未加特殊说明，此网站文章均为原创，转载必须注明出处。<a href="http://localhost:8080">中华墨风's Blog</a> » </p>
						<p class="post-copyright tc tp4 pr"><a href="http://localhost:8080/blogs/XZ9txKNiev96gUsdDQ9nRI.html">《【未来已来】盘点CES 2018上亮相的那些黑科技》</a></p>
					</div>
					<footer class="post-footer">
						<div class="post-eof"></div>
					</footer>
				</article>
				<div class="post-spread"></div>
			</div>
		</div>
		<div class="comments v" id="comments">
			<div class="vwrap">
				<div class="vedit">
					<textarea id="txt_message" maxlength="400" class="veditor vinput" placeholder="Just go go" style=""></textarea>
					<div class="vemojis">
						<i name="grinning" title="grinning">😀</i><i name="smiley"
							title="smiley">😃</i><i name="smile" title="smile">😄</i><i
							name="grin" title="grin">😁</i><i name="laughing"
							title="laughing">😆</i><i name="sweat_smile" title="sweat_smile">😅</i><i
							name="joy" title="joy">😂</i><i name="blush" title="blush">😊</i><i
							name="innocent" title="innocent">😇</i><i name="wink"
							title="wink">😉</i><i name="relieved" title="relieved">😌</i><i
							name="heart_eyes" title="heart_eyes">😍</i><i
							name="kissing_heart" title="kissing_heart">😘</i><i
							name="kissing" title="kissing">😗</i><i
							name="kissing_smiling_eyes" title="kissing_smiling_eyes">😙</i><i
							name="kissing_closed_eyes" title="kissing_closed_eyes">😚</i><i
							name="yum" title="yum">😋</i><i
							name="stuck_out_tongue_winking_eye"
							title="stuck_out_tongue_winking_eye">😜</i><i
							name="stuck_out_tongue_closed_eyes"
							title="stuck_out_tongue_closed_eyes">😝</i><i
							name="stuck_out_tongue" title="stuck_out_tongue">😛</i><i
							name="sunglasses" title="sunglasses">😎</i><i name="smirk"
							title="smirk">😏</i><i name="unamused" title="unamused">😒</i><i
							name="disappointed" title="disappointed">😞</i><i name="pensive"
							title="pensive">😔</i><i name="worried" title="worried">😟</i><i
							name="confused" title="confused">😕</i><i name="persevere"
							title="persevere">😣</i><i name="confounded" title="confounded">😖</i><i
							name="tired_face" title="tired_face">😫</i><i name="weary"
							title="weary">😩</i><i name="angry" title="angry">😠</i><i
							name="rage" title="rage">😡</i><i name="no_mouth"
							title="no_mouth">😶</i><i name="neutral_face"
							title="neutral_face">😐</i><i name="expressionless"
							title="expressionless">😑</i><i name="hushed" title="hushed">😯</i><i
							name="frowning" title="frowning">😦</i><i name="anguished"
							title="anguished">😧</i><i name="open_mouth" title="open_mouth">😮</i><i
							name="astonished" title="astonished">😲</i><i name="dizzy_face"
							title="dizzy_face">😵</i><i name="flushed" title="flushed">😳</i><i
							name="scream" title="scream">😱</i><i name="fearful"
							title="fearful">😨</i><i name="cold_sweat" title="cold_sweat">😰</i><i
							name="cry" title="cry">😢</i><i name="disappointed_relieved"
							title="disappointed_relieved">😥</i><i name="sob" title="sob">😭</i><i
							name="sweat" title="sweat">😓</i><i name="sleepy" title="sleepy">😪</i><i
							name="sleeping" title="sleeping">😴</i><i name="mask"
							title="mask">😷</i><i name="smiling_imp" title="smiling_imp">😈</i><i
							name="smiley_cat" title="smiley_cat">😺</i><i name="smile_cat"
							title="smile_cat">😸</i><i name="joy_cat" title="joy_cat">😹</i><i
							name="heart_eyes_cat" title="heart_eyes_cat">😻</i><i
							name="smirk_cat" title="smirk_cat">😼</i><i name="kissing_cat"
							title="kissing_cat">😽</i><i name="scream_cat"
							title="scream_cat">🙀</i><i name="crying_cat_face"
							title="crying_cat_face">😿</i><i name="pouting_cat"
							title="pouting_cat">😾</i><i name="cat" title="cat">🐱</i><i
							name="mouse" title="mouse">🐭</i><i name="cow" title="cow">🐮</i><i
							name="monkey_face" title="monkey_face">🐵</i><i name="hand"
							title="hand">✋</i><i name="fist" title="fist">✊</i><i name="v"
							title="v">✌️</i><i name="point_up" title="point_up">👆</i><i
							name="point_down" title="point_down">👇</i><i name="point_left"
							title="point_left">👈</i><i name="point_right"
							title="point_right">👉</i><i name="facepunch" title="facepunch">👊</i><i
							name="wave" title="wave">👋</i><i name="clap" title="clap">👏</i><i
							name="open_hands" title="open_hands">👐</i><i name="+1"
							title="+1">👍</i><i name="-1" title="-1">👎</i><i name="ok_hand"
							title="ok_hand">👌</i><i name="pray" title="pray">🙏</i><i
							name="ear" title="ear">👂</i><i name="eyes" title="eyes">👀</i><i
							name="nose" title="nose">👃</i><i name="lips" title="lips">👄</i><i
							name="tongue" title="tongue">👅</i><i name="heart" title="heart">❤️</i><i
							name="cupid" title="cupid">💘</i><i name="sparkling_heart"
							title="sparkling_heart">💖</i><i name="star" title="star">⭐️</i><i
							name="sparkles" title="sparkles">✨</i><i name="zap" title="zap">⚡️</i><i
							name="sunny" title="sunny">☀️</i><i name="cloud" title="cloud">☁️</i><i
							name="snowflake" title="snowflake">❄️</i><i name="umbrella"
							title="umbrella">☔️</i><i name="coffee" title="coffee">☕️</i><i
							name="airplane" title="airplane">✈️</i><i name="anchor"
							title="anchor">⚓️</i><i name="watch" title="watch">⌚️</i><i
							name="phone" title="phone">☎️</i><i name="hourglass"
							title="hourglass">⌛️</i><i name="email" title="email">✉️</i><i
							name="scissors" title="scissors">✂️</i><i name="black_nib"
							title="black_nib">✒️</i><i name="pencil2" title="pencil2">✏️</i><i
							name="x" title="x">❌</i><i name="recycle" title="recycle">♻️</i><i
							name="white_check_mark" title="white_check_mark">✅</i><i
							name="negative_squared_cross_mark"
							title="negative_squared_cross_mark">❎</i><i name="m" title="m">Ⓜ️</i><i
							name="i" title="i">ℹ️</i><i name="tm" title="tm">™️</i><i
							name="copyright" title="copyright">©️</i><i name="registered"
							title="registered">®️</i>
					</div>
					<div class="vinput vpreview" style="display: none">
						<p>试了下 Java OpenCV
							做人脸检测，确实很强大。实现起来非常简单，但是精准度不够。不过应该能满足某些场景，比如相机的自动对焦等。这里分享一下相关的代码。</p>
					</div>
				</div>
				<div class="vcontrol">
					<div class="col col-20" title="Markdown is supported">
						还可以输入：<span class="numtip">400</span>&nbsp;字
					</div>
					<div class="col col-80 text-right">
						<a href="javacript:void(0);" onclick="mkComment.vcontrol(this)" class="vemoji-btn" style="margin-right: 20px;">Emoji</a> 
						<button type="button" @click="saveComment" title="Cmd|Ctrl+Enter" class="vsubmit vbtn">回复</button>
					</div>
				</div>
				<div style="display: none;" class="vmark"></div>
			</div>
			<div class="vinfo" style="display: block;">
				<div class="vcount col">
					<span class="vnum">{{total}}</span> 评论
				</div>
			</div>
			
			
			<div class="vlist" id="vlist_box">
				<div class="vcard" :id="'vcard_'+comment.id"  v-for="(comment,index) in comments">
					<img class="vimg" onerror="imgError(this)" :src="basePath+'/'+comment.headerPic">
					<div class="vh">
						<div class="vhead">
							<span class="vnick">{{comment.username}}</span> <span class="vsys">{{comment.ip}}</span> <span class="vsys">{{comment.osbroswer}}</span>
						</div>
						<div class="vmeta">
							<span class="vtime">{{comment.createTime}} / {{comment.createTime|fomatTime}}</span>
							<span v-if="session_user==15074816437" :index="index" :opid="comment.id" @click="del" class="vat">&nbsp;/&nbsp;删除</span> 
							<span :cid="comment.userId" :at="'@'+comment.username" :opid="comment.id" :index="index" @click="reply" class="vat">回复</span>
						</div>
						<div class="vcontent">
							<p v-html="comment.content"></p>
						</div>
						<div class="vquote">
							<div class="vcard" :id="'vcard_'+ccomment.id" v-for="ccomment in comment.children" >
								<img class="vimg" :src="basePath+'/'+ccomment.headerPic">
								<div class="vhead">
									<span class="vnick">{{ccomment.username}}</span> <span class="vsys">{{ccomment.ip}}</span> <span class="vsys">{{ccomment.osbroswer}}</span>
								</div>
								<div class="vmeta">
									<span class="vtime">{{ccomment.createTime}} / {{ccomment.createTime|fomatTime}}</span> 
									<span v-if="session_user==15074816437" :index="index" :opid="ccomment.id" @click="del" class="vat">&nbsp;/&nbsp;删除</span>
									<span :cid="ccomment.userId" :at="'@'+ccomment.username" :index="index" :opid="comment.id" @click="reply" class="vat">回复</span>
								</div>
								<div class="vcontent">
									<p v-html="ccomment.content"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tc" style="padding:100px;background:#fefefe;" v-if="comments.length==0">暂无评论</div>
				<div v-if="!hasNext" class="loadmore"><a href="javascript:void(0)" @click="loadmore">加载更多({{pages}})</a></div>
				<div v-if="hasNext" class="loadmore animated fadeOut">加载完毕</div>
			</div>
		</div>
	
	</div>
</main>
</div>
<aside id="sidebar" class="sidebar ">
			<div class="sidebar-inner">

				<section class="site-overview">
					<div class="site-author motion-element" itemprop="author"
						itemscope="" itemtype="http://schema.org/Person"
						style="opacity: 1; display: block; transform: translateX(0px);">
				<div class="site-author-avatar"></div>
				<p class="site-author-name" itemprop="name">Pandara</p>
			</div>
			<p class="site-description motion-element" itemprop="description"
				style="opacity: 1; display: block; transform: translateX(0px);">一切皆为年少轻狂之诳语·DeepLearning
				小白</p>
			<nav class="site-state motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">
				<div class="site-state-item site-state-posts">
					<a href="/archives"> <span class="site-state-item-count">92</span>
						<span class="site-state-item-name">日志</span>
					</a>
				</div>

				<div class="site-state-item site-state-categories">
					<a href="/categories"> <span class="site-state-item-count">9</span>
						<span class="site-state-item-name">分类</span>
					</a>
				</div>

				<div class="site-state-item site-state-tags">
					<a href="/tags"> <span class="site-state-item-count">44</span>
						<span class="site-state-item-name">标签</span>
					</a>
				</div>

			</nav>

			<div class="links-of-author motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">

				<span class="links-of-author-item"> <a
					href="https://github.com/PandaraWen" target="_blank">Github</a>
				</span> <span class="links-of-author-item"> <a
					href="https://dribbble.com/PandaraWen" target="_blank">Dribbble</a>
				</span> <span class="links-of-author-item"> <a
					href="https://twitter.com/WenPandara" target="_blank">Twitter</a>
				</span>

			</div>

			<div class="links-of-author motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);">

				<p class="site-author-name">基情链接</p>

				<span class="links-of-author-item"> <a
					href="http://aevit.xyz/" target="_blank">Aevit's Lab</a>
				</span> <span class="links-of-author-item"> <a
					href="http://w3ctrain.com" target="_blank">W3cTrain</a>
				</span> <span class="links-of-author-item"> <a
					href="http://mrazy.com" target="_blank">梦灯笼</a>
				</span>

			</div>

		</section>

		<div class="side-bar-foot-decorate">
			<div class="side-bar-man motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);"></div>
			<div class="side-bar-star motion-element"
				style="opacity: 1; display: block; transform: translateX(0px);"></div>
		</div>
	</div>
</aside><footer id="footer" class="footer">
		<div class="footer-inner">
			<div class="copyright">

				© &nbsp; <span itemprop="copyrightYear">2018-2020</span> <span
					class="with-love"> <i class="icon-heart"></i>
				</span> <span class="author" itemprop="copyrightHolder">中华墨风</span>
			</div>

			<div class="powered-by">
				由 <a class="theme-link" href="http://hexo.io">Hexo</a> 强力驱动
			</div>

			<div class="powered-by">湘ICP备16011548号-1</div>

			<div class="theme-info">
				主题 - <a class="theme-link"
					href="https://github.com/iissnan/hexo-theme-next"> NexT </a>
			</div>
		</div>
	</footer>
</div>

<div class="back-to-top" style="display: none;"></div>

<div class="sidebar-toggle">
	<div class="sidebar-toggle-line-wrap">
		<span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
		<span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
		<span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
	</div>
</div>


<!--弹出登录-->
<div id="itbooking-loginbox" class="popup search-popup local-search-popup animated bounceInDown" style="display: none;">
<div class="app-location">
	<h3 class="errorbox animated flipInY" style=""></h3>
	<h2>登录</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<input type="text" class="cctext" id="telephone" autofocus="autofocus" autocomplete="off" placeholder="报上手机" maxlength="11" >
		<input type="password" class="ccron" id="password"   autocomplete="off" placeholder="输入钥匙" maxlength="16">
		<span id="codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" id="code" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<div class="submit"><input type="submit" id="loginbtn" value="Sign in"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadForget();" style="font-size: 16px;">忘记密码 ?</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLoginReg();" style="font-size: 16px;">注册</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>
<style>
	.tipphone{border-radius:20px;color: #fff;position: absolute;width:100px;top:28px;right:10px;font-size: 12px;border-bottom: 0;background:#0bd38a;padding:3px 0 5px;/* display: none; */}
	/* .relocation_box:hover .tipphone{display:block} */
</style>
<!--弹出注册-->
<div id="itbooking-regbox" class="popup search-popup local-search-popup animated bounceInDown">
<div class="app-location relocation_box">
	<h3 class="errorbox animated flipInY" style="position: absolute;font-size:20px;right:0;left:0;margin:0 auto;color:#fff;display: none"></h3>
	<h2>注册</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<span class="tipinputspan" style="position: relative;display: block;">
			<input type="text" class="cctext" id="r_telephone"  autofocus="autofocus" autocomplete="off" placeholder="手机号码" maxlength="11" >
			<a href="javascript:void(0);" id="tipphone_get" class="tipphone">提取短信码</a>
		</span>
		<span class="rred_codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" id="r_code" disabled="disabled" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<span class="rred_codebox" style="position: relative;display: none;">
			<input type="text" class="ccron" disabled="disabled" id="r_phocode" placeholder="输入短信码" maxlength="6">
		</span>
		<span class="rred_codebox"  style="display: none;">
			<input type="password" class="ccron" disabled="disabled" id="r_password"   autocomplete="off" placeholder="输入密码" maxlength="16">
		</span>
		<div class="rred_codebox submit" style="display: none;"><input type="submit" data-isopen="false" id="r_loginbtn" value="Reg in"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadForget();" style="font-size: 16px;">忘记密码 ?</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLogin();" style="font-size: 16px;">登录</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>



<!--弹出忘记密码-->
<div id="itbooking-forgetbox" class="popup search-popup local-search-popup animated bounceInDown"  >
<div class="app-location">
	<h3 class="errorbox animated flipInY" style="position: absolute;font-size:20px;right:0;left:0;margin:0 auto;color:#fff;display: none"></h3>
	<h2>找回密码</h2>
	<div class="line">
		<span></span>
	</div>
	<a href="javascript:void(0);" class="closelogin" style=""><i class="fa fa-remove"></i></a>	
	<form onsubmit="return false" autocomplete="off">
		<span style="position: relative;display: block;">
			<input type="text" class="cctext" id="f_telephone" autofocus="autofocus" autocomplete="off" placeholder="手机号码" maxlength="11" >
			<a href="javascript:void(0);" style="border-radius:20px;color: #fff;position: absolute;width:100px;top:28px;right:10px;font-size: 12px;border-bottom: 0;background:#0bd38a;padding:3px 0 5px">提取短信码</a>
		</span>
		<span style="position: relative;display: none;">
			<input type="text" class="ccron" id="f_code" placeholder="验证码" maxlength="4">
			<img src="http://localhost:8080/code" alt="点击改变" style="position: absolute;right:10px;top:-10px;"  onclick="this.src='http://localhost:8080/code?d='+new Date().getTime();"/>
		</span>
		<span style="position: relative;display: none;">
			<input type="text" class="ccron" id="f_phonecode" placeholder="输入短信码" maxlength="4">
		</span>
		<span style="display: none;">
			<input type="password" class="ccron" id="f_password"   autocomplete="off" placeholder="输入钥匙" maxlength="16">
		</span>
		<div class="submit"><input type="submit" id="f_loginbtn" value="Forget Back"></div>
		<div class="clear"></div>
		<div class="new">
			<h3><a href="javascript:void(0);" onclick="mkLogin.loadLoginReg();" style="font-size: 16px;">注册</a></h3>
			<h4><a href="javascript:void(0);" onclick="mkLogin.loadLogin();" style="font-size: 16px;">登录</a></h4>
			<div class="clear"></div>
		</div>
		</form>
	</div>
</div>
<div class="search-popup-overlay local-search-pop-overlay" style="display: none;"></div>
<script type="text/javascript" src="http://localhost:8080/js/highcode/highlight.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/clipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/vue.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/vue-resource.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/blogcomment.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/player.js"></script>

</body>
</html>
