<!DOCTYPE html>
<html class="theme-next use-motion">
<head>
	<meta charset="UTF-8">
	<#include "template/commons.html"/>
	<title>评论-中华墨风 -'s Zone</title>
	<meta name="description" content="评论">
	<meta name="keywords" content="">
</head>
<body title="双击拉开详情">
	<#include "template/header.html"/>
	<#include "template/main.html"/>
	<#include "template/aside.html"/>
	<#include "template/footer.html"/>
	<script type="text/javascript" src="${basePath}/js/page/jquery.page.js"></script>
	<script type="text/javascript" src="${basePath}/js/main/comment.js"></script>
</body>
</html>